<section id="elegant" class="product">

    <div class="product__container">

        <h2 class="product__name">Kentatsu Furst Elegant</h2>

        <div class="container_flex-row">

            <div class="product__image-container">
                <img src="assets/img/kentatsu/elegant.jpg" alt="Kentatsu Furst Elegant" class="product__image">
            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">Поверхность теплообмена увеличена за счет дополнительных рёбер в каналах отходящих дымовых газов;</li>
                    <li class="product__characteristics-item">Механический термостат в комплекте; </li>
                    <li class="product__characteristics-item">Регулировка температуры теплоносителя;</li>
                    <li class="product__characteristics-item">Термометр на передней панели котла;</li>
                    <li class="product__characteristics-item">Регулятор вторичного воздуха, снижающий уровень выбросов в атмосферу;</li>
                    <li class="product__characteristics-item">Водоохлаждаемые колосники котлов;</li>
                    <li class="product__characteristics-item">Котлы Elegant могут работать на дровах и угле;</li>
                    <li class="product__characteristics-item">Приспособления для тех.обслуживания в комплекте.</li>
                </ul>

                <span class="product__description-text">
            Котлы Kentatsu Furst Elegant предназначены для отопления жилых и производственных помещений. Используются в системах отопления с естественной или принудительной циркуляцией и представлены в диапазоне мощности от 15 до 41 кВт.<br>
            Теплообменники котлов изготовлены из высококачественного чугуна.  Для снижения тепловых потерь теплообменники котлов изолированы минеральной ватой толщиной 80 мм и экранированы алюминиевой фольгой.
                </span>

            </div>

            <div class="product__table-container" align="center">
                <table style='border-collapse:collapse;table-layout:fixed;width:858pt' cellspacing="0" cellpadding="0" width="1141" border="0">
                    <colgroup>
                        <col width="93">
                        <col width="94">
                        <col span="3" width="72">
                        <col width="90">
                        <col width="78">
                        <col width="74">
                        <col width="67">
                        <col width="64">
                        <col width="72">
                        <col width="86">
                        <col width="63">
                        <col span="2" width="72">
                    </colgroup>
                    <tbody>
                        <tr height="25">
                            <td colspan="15" height="25" width="1141">Твёрдотопливные котлы с чугунным теплообменником Kentatsu Furst Elegant</td>
                        </tr>
                        <tr height="72">
                            <td rowspan="2">Модель котла</td>
                            <td colspan="2">Номинальная мощность котла, кВт</td>
                            <td colspan="2">Время сгорания одной закладки топлива, час</td>
                            <td rowspan="2">Объём воды в котле, л</td>
                            <td colspan="3">Размеры котла</td>
                            <td colspan="2">Размеры камеры сгорания</td>
                            <td rowspan="2">Диаметр дымохода, мм</td>
                            <td rowspan="2">Вес,кг</td>
                            <td rowspan=2>Цена без скидки, USD</td>
                            <td rowspan=2>Цена со скидкой, USD</td>
                        </tr>
                        <tr height="40">
                            <td>Уголь</td>
                            <td>Дрова</td>
                            <td>Уголь</td>
                            <td>Дрова</td>
                            <td>Глубина, мм</td>
                            <td>Ширина, мм</td>
                            <td>Высота, мм</td>
                            <td>Ш*В, мм</td>
                            <td>Глубина, мм</td>
                        </tr>
                        <tr height="20">
                            <td>Elegant 03</td>
                            <td>15-17</td>
                            <td>12-14</td>
                            <td rowspan="4">4</td>
                            <td rowspan="4">2</td>
                            <td>16,3</td>
                            <td>609</td>
                            <td rowspan="4">450</td>
                            <td rowspan="4">947</td>
                            <td rowspan="4">300*380</td>
                            <td>245</td>
                            <td rowspan="4">180</td>
                            <td>166</td>
                            <td data="price_0">858</td>
                            <td data="price_1">858</td>
                        </tr>
                        <tr height="20">
                            <td>Elegant 04</td>
                            <td>24-27</td>
                            <td>18-20</td>
                            <td>20,3</td>
                            <td>709</td>
                            <td>345</td>
                            <td>198</td>
                            <td data="price_0">1009</td>
                            <td data="price_1">1009</td>
                        </tr>
                        <tr height="20">
                            <td>Elegant 05</td>
                            <td>31-34</td>
                            <td>25-27</td>
                            <td>24,3</td>
                            <td>809</td>
                            <td>445</td>
                            <td>232</td>
                            <td data="price_0">1162</td>
                            <td data="price_1">1162</td>
                        </tr>
                        <tr height="20">
                            <td>Elegant 06</td>
                            <td>38-41</td>
                            <td>30-33</td>
                            <td>28,2</td>
                            <td>909</td>
                            <td>545</td>
                            <td>267</td>
                            <td data="price_0">1316</td>
                            <td data="price_1">1316</td>
                        </tr>
                        <!--[if supportMisalignedColumns]-->
                        <tr style="display:none" height="0">
                            <td style="width:70pt" width="93"></td>
                            <td style="width:71pt" width="94"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:68pt" width="90"></td>
                            <td style="width:59pt" width="78"></td>
                            <td style="width:56pt" width="74"></td>
                            <td style="width:50pt" width="67"></td>
                            <td style="width:48pt" width="64"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:65pt" width="86"></td>
                            <td style="width:47pt" width="63"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:54pt" width="72"></td>
                        </tr>
                        <!--[endif]-->
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</section>
