<section class="s-intro" data-kui-anim="fadeIn">
	<div class="b-intro__slider carousel js-flickity" data-flickity='{"autoPlay":10000,"prevNextButtons": false,"pageDots":false}'>
		<div class="b-intro__slide-1 carousel-cell"></div>
		<div class="b-intro__slide-2 carousel-cell"></div>
		<div class="b-intro__slide-3 carousel-cell"></div>
		<div class="b-intro__slide-4 carousel-cell"></div>
	</div>
	<div class="b-intro__overlay">
		<div class="s-width-container">
			<div class="b-intro__contacts">
				<div class="b-contacts__time">
					<div class="b-time__icon"></div>
					<p class="b-time__hours">График работы
						<br>Пн-Пт 10:00 - 18:00
						<br>Сб 10:00 - 14:00 </p>
				</div>
				<div class="b-contacts__phones">
					<p class="b-phones__numbers">+7 (39151) 4-00-40
						<br>+7 (39151) 5-89-52
						<br>+7 (908) 209-11-47 </p>
					<p class="b-phones__quest">Есть вопросы? Звоните!</p>
				</div>
			</div>
			<div class="b-intro__hello-msg-container">
				<h1 class="b-hello-msg__first-line">Добро пожаловать на сайт компании "Комфорт"!</h1>
				<h4 class="b-hello-msg__second-line">Котлы разных типов и назначения, камины, бойлеры и многое другое...</h4><a href="#s-catalogue" class="b-hello-msg__btn-down"><i class="fa fa-angle-double-down"></i>Перейти к каталогу </a>
				<p class="b-hello-msg__paragraph">На нашем сайте Вы сможете найти подходящее оборудование для отопления Вашего загородного дома, дачного коттеджа, садового домика, а также банные печи для любой бани практически любой площади. Грамотный специалист поможет подобрать лучшее решение под Ваши потребности. Опыт установки и монтажа оборудования - более 7ми лет! </p>
			</div>
		</div>
	</div>
</section>
<section id="s-about" class="s-about">
	<div class="s-width-container">
		<div class="b-about__information">
			<h2 class="b-about-information__headline" data-kui-anim="fadeIn">О нас</h2>
			<div class="b-about-information__company" data-kui-anim="fadeIn"><span class="b-about-information__requisites">ООО «КОМФОРТ»<br><br>ИНН\КПП:<br>2443046311\244301001<br>ОГРН: 1152443001391</span>
				<div class="b-about-information__logo"></div>
			</div>
			<div class="b-about-information__contacts" data-kui-anim="fadeIn">
				<div class="b-about__site"><i class="fa fa-sitemap fa-fw b-about__icons" aria-hidden="true"></i><span class="b-about__site-content"> komfort124.ru</span></div>
				<div class="b-about__adress"><i class="fa fa-map-marker fa-fw b-about__icons" aria-hidden="true"></i><span class="b-about__adress-content">г. Ачинск, ул. Дзержинского, 38, стр. 1, офис 1</span></div>
				<div class="b-about__phones"><i class="fa fa-phone fa-fw b-about__icons" aria-hidden="true"></i><span class="b-about__phone-content">+7 (39151) 5-89-52<br>+7 (908) 209-11-47<br>+7 (39151) 4-00-40</span></div>
				<div class="b-about__mail"><i class="fa fa-envelope fa-fw b-about__icons" aria-hidden="true"></i><a class="b-about__mail-content" href="mailto:domkotel124@mail.ru">domkotel124@mail.ru</a></div>
			</div>
			<div class="b-about-information__form">
				<div class="c-form" data-kui-anim="fadeIn">
					<form action="" method="post">
						<div class="c-form__container">
							<h4 class="c-form__msg">Задать вопрос:</h4>
							<div class="c-form__name">
								<label class="c-form-name__label" for="name">Имя:</label>
								<input class="c-form-name__input" value="" id="posName" type="text" name="name" pattern="[a-zA-Zа-яА-Я]{4,}" placeholder="Введите ваше имя" required/><span class="c-form__name-hint">Например, Иванов Иван</span></div>
							<div class="c-form__phone">
								<label class="c-form-phone__label" for="tel">Телефон:</label>
								<input class="c-form-phone__input" value="" id="posPhone" type="text" name="tel" pattern="[0-9]{9,20}" placeholder="Введите номер телефона" required/><span class="c-form__phone-hint">Правильный формат "+7 123 200 00 00"</span></div>
							<div class="c-form__textarea msg" id="cor5">
								<label class="c-form-msg__label" for="text">Ваше сообщение:</label>
								<textarea class="c-form-msg__input" value="" id="posText" type="text" name="text" pattern="[a-zA-Zа-яА-Я]{0,140}" placeholder="Введите ваше сообщение" required></textarea><span class="c-form__msg-hint">Задайте любой вопрос :)</span></div>
							<div class="c-form__submit-field">
								<input class="c-form__submit-btn" type="submit" id="send" value="Отправить" />
							</div>
						</div>
					</form>
				</div>
			</div>
			<h3 class="b-about-information__map-headline" data-kui-anim="fadeIn">Как нас найти?</h3>
			<div class="b-about-information__map" data-kui-anim="fadeIn">
				<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=jGfZNoAoTAFw3F9Lbigo7aT5PhGaSKYu&width=1140&height=500&lang=ru_RU&sourceType=constructor&id=kompfort_info"></script>
				<div id="kompfort_info"></div>
			</div>
		</div>
	</div>
</section>
