<section id="mPR" class="product">

    <div class="product__container">

        <h2 class="product__name">Kentatsu Furst Max PR (PE)</h2>

        <div class="container_flex-row">

            <div class="product__image-container">
                <img src="assets/img/kentatsu/mPR.jpg" alt="Kentatsu Furst Max PR (PE)" class="product__image">
            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">Электронная панель управления;</li>
                    <li class="product__characteristics-item">Автоматической подача топлива дутьевым вентилятором;</li>
                    <li class="product__characteristics-item">Возможность плавного регулирования мощности котлов;</li>
                    <li class="product__characteristics-item">Тип розжига: ручной (PR) или автоматический (PE);</li>
                    <li class="product__characteristics-item">Бункер для хранения топлива;</li>
                    <li class="product__characteristics-item">Герметично закрывающаяся крышка бункера;</li>
                    <li class="product__characteristics-item">Зернистость угля не более 30 мм;</li>
                    <li class="product__characteristics-item">Возможность подключения дополнительного термостата/контроллера;</li>
                    <li class="product__characteristics-item">Приспособления для тех.обслуживания в комплекте.</li>
                </ul>

                <span class="product__description-text">
                Котлы Kentatsu Furst Vulkan Max PR (PE) предназначены для отопления жилых и производственных помещений. Применяются в системах отопления с принудительной циркуляцией и представлены в диапазоне мощности от 140 до 1188 кВт.</span>

            </div>

            <div class="product__banner">
                <img src="assets/img/kentatsu/mPR-2.png" alt="Kentatsu Furst Max PR (PE)" class="product__image_wide">
            </div>

            <div class="product__table-container" align="center">
                <table style="border-collapse:collapse;table-layout:fixed;" cellspacing="0" cellpadding="0" width="1068" border="0">
                    <colgroup>
                        <col width="193">
                        <col width="120">
                        <col span="7" width="85">
                        <col span="2" width="80">
                    </colgroup>
                    <tbody>
                        <tr height="40">
                            <td colspan="11" height="40" width="1068">Стальные трёхходовые твёрдотопливные котлы Kentatsu Furst Vulkan Max PR (PE)</td>
                        </tr>
                        <tr height="20">
                            <td rowspan="2">Модель котла</td>
                            <td rowspan="2">Номинальная тепловая мощность, кВт</td>
                            <td colspan="3">Размеры</td>
                            <td rowspan="2">Диаметр дымохода, мм</td>
                            <td rowspan="2">Объём воды в котлы, л</td>
                            <td rowspan="2">Вес котла, кг</td>
                            <td rowspan="2">Объём бункера, л</td>
                            <td rowspan="2">Цена без скидки, руб.</td>
                            <td rowspan="2">Цена со скидкой, руб.</td>
                        </tr>
                        <tr height="40">
                            <td>Ширина, мм</td>
                            <td>Длина, мм</td>
                            <td>Высота, мм</td>
                        </tr>
                        <tr height="20">
                            <td>Vulkan Max PR (PE) 120</td>
                            <td>140</td>
                            <td>730</td>
                            <td>1500</td>
                            <td>1600</td>
                            <td>170</td>
                            <td>274</td>
                            <td>610</td>
                            <td>260</td>
                            <td data="price_0">555300</td>
                            <td data="price_1">416475</td>
                        </tr>
                        <tr height="20">
                            <td>Vulkan Max PR (PE) 140</td>
                            <td>163</td>
                            <td>710</td>
                            <td>1200</td>
                            <td>1800</td>
                            <td>210</td>
                            <td>286</td>
                            <td>860</td>
                            <td>260</td>
                            <td data="price_0">578220</td>
                            <td data="price_1">433665</td>
                        </tr>
                        <tr height="20">
                            <td>Vulkan Max PR (PE) 160</td>
                            <td>186</td>
                            <td>710</td>
                            <td>1330</td>
                            <td>1800</td>
                            <td>210</td>
                            <td>336</td>
                            <td>950</td>
                            <td>260</td>
                            <td data="price_0">602340</td>
                            <td data="price_1">451755</td>
                        </tr>
                        <tr height="20">
                            <td>Vulkan Max PR (PE) 180</td>
                            <td>210</td>
                            <td>730</td>
                            <td>1600</td>
                            <td>1910</td>
                            <td>270</td>
                            <td>380</td>
                            <td>1100</td>
                            <td>360</td>
                            <td data="price_0">644220</td>
                            <td data="price_1">483165</td>
                        </tr>
                        <tr height="20">
                            <td>Vulkan Max PR (PE) 200</td>
                            <td>233</td>
                            <td>830</td>
                            <td>1600</td>
                            <td>1910</td>
                            <td>270</td>
                            <td>420</td>
                            <td>1220</td>
                            <td>630</td>
                            <td data="price_0">698160</td>
                            <td data="price_1">523620</td>
                        </tr>
                        <tr height="20">
                            <td>Vulkan Max PR (PE) 220</td>
                            <td>256</td>
                            <td>830</td>
                            <td>1890</td>
                            <td>2020</td>
                            <td>270</td>
                            <td>460</td>
                            <td>1450</td>
                            <td>630</td>
                            <td data="price_0">854760</td>
                            <td data="price_1">641070</td>
                        </tr>
                        <tr height="20">
                            <td>Vulkan Max PR (PE) 270</td>
                            <td>314</td>
                            <td>940</td>
                            <td>2050</td>
                            <td>2020</td>
                            <td>270</td>
                            <td>570</td>
                            <td>2000</td>
                            <td>630</td>
                            <td data="price_0">899460</td>
                            <td data="price_1">674595</td>
                        </tr>
                        <!--[if supportMisalignedColumns]-->
                        <tr style="display:none" height="0">
                            <td style="width:145pt" width="193"></td>
                            <td style="width:90pt" width="120"></td>
                            <td style="width:64pt" width="85"></td>
                            <td style="width:64pt" width="85"></td>
                            <td style="width:64pt" width="85"></td>
                            <td style="width:64pt" width="85"></td>
                            <td style="width:64pt" width="85"></td>
                            <td style="width:64pt" width="85"></td>
                            <td style="width:64pt" width="85"></td>
                            <td style="width:60pt" width="80"></td>
                            <td style="width:60pt" width="80"></td>
                        </tr>
                        <!--[endif]-->
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>
