<section id="pr" class="product">

    <div class="product__container">

        <h2 class="product__name">Kentatsu Furst PR (PE)</h2>

        <div class="container_flex-row">

            <div class="product__image-container">
                <img src="assets/img/kentatsu/PR.jpg" alt="Kentatsu Furst PR (PE)" class="product__image">
            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">Электронная панель управления;</li>
                    <li class="product__characteristics-item">Автоматическая подача топлива дутьевым вентилятором;</li>
                    <li class="product__characteristics-item">Возможность плавного регулирования мощности котлов;</li>
                    <li class="product__characteristics-item">Тип розжига: ручной (PR) или автоматический (PE);</li>
                    <li class="product__characteristics-item">Бункер для хранения топлива;</li>
                    <li class="product__characteristics-item">Герметично закрывающаяся крышка бункера;</li>
                    <li class="product__characteristics-item">Типы твердого топлива фракцией до 30 мм: уголь, брикетированный торф, топливные брикеты;</li>
                    <li class="product__characteristics-item">Возможно подключение дополнительного термостата/контроллера;</li>
                    <li class="product__characteristics-item">Модели котлов Vulkan 30P – 50P опционально комплектуются циркуляционными насосами;</li>
                    <li class="product__characteristics-item">Приспособления для тех.обслуживания в комплекте.</li>
                </ul>

                <span class="product__description-text">
                    Котлы Kentatsu Furst Vulkan PR (PE) предназначены для отопления жилых и производственных помещений. Применяются в системах отопления с принудительной циркуляцией и представлены в диапазоне мощности от 35 до 105 кВт.
                </span>

            </div>

            <div class="product__banner">
                <img src="assets/img/kentatsu/PR-2.png" alt="Kentatsu Furst PR (PE)" class="product__image_wide">
            </div>

            <div class="product__table-container" align="center">
                <table style="border-collapse:collapse;table-layout:fixed" cellspacing="0" cellpadding="0" width="973" border="0">
                    <colgroup>
                        <col width="146">
                        <col width="118">
                        <col span="3" width="72">
                        <col width="94">
                        <col width="77">
                        <col width="69">
                        <col width="93">
                        <col span="2" width="80">
                    </colgroup>
                    <tbody>
                        <tr height="40">
                            <td colspan="11" height="40" width="973">Стальные трёхходовые твёрдотопливные котлы Kentatsu Furst Vulkan PR (PE)</td>
                        </tr>
                        <tr height="20">
                            <td rowspan="2" height="75" width="146">Модель котла</td>
                            <td rowspan="2" width="118">Номинальная тепловая мощность, кВт</td>
                            <td colspan="3" width="216">Размеры</td>
                            <td rowspan="2" width="94">Диаметр дымохода, мм</td>
                            <td rowspan="2" width="77">Объём воды в котлы, л</td>
                            <td rowspan="2" width="69">Вес котла, кг</td>
                            <td rowspan="2" width="93">Объём бункера, л</td>
                            <td rowspan="2" width="80">Цена без скидки, руб.</td>
                            <td rowspan="2" width="80">Цена со скидкой, руб.</td>
                        </tr>
                        <tr height="55">
                            <td width="72">Ширина, мм</td>
                            <td width="72">Длина, мм</td>
                            <td width="72">Высота, мм</td>
                        </tr>
                        <tr height="20">
                            <td width="146">Vulkan PR (PE) 30P</td>
                            <td width="118">35</td>
                            <td width="72">510</td>
                            <td width="72">770</td>
                            <td width="72">1280</td>
                            <td rowspan="3" width="94">130</td>
                            <td width="77">62</td>
                            <td width="69">240</td>
                            <td width="93">100</td>
                            <td data="price_0">220860</td>
                            <td data="price_1">165645</td>
                        </tr>
                        <tr height="20">
                            <td width="146">Vulkan PR (PE) 40P</td>
                            <td width="118">47</td>
                            <td width="72">610</td>
                            <td width="72">770</td>
                            <td width="72">1350</td>
                            <td width="77">80</td>
                            <td width="69">340</td>
                            <td width="93">170</td>
                            <td data="price_0">235200</td>
                            <td data="price_1">176400</td>
                        </tr>
                        <tr height="20">
                            <td width="146">Vulkan PR (PE) 50P</td>
                            <td width="118">58</td>
                            <td width="72">610</td>
                            <td width="72">880</td>
                            <td width="72">1350</td>
                            <td width="77">95</td>
                            <td width="69">350</td>
                            <td width="93">170</td>
                            <td data="price_0">263280</td>
                            <td data="price_1">197460</td>
                        </tr>
                        <tr height="20">
                            <td width="146">Vulkan PR (PE) 70</td>
                            <td width="118">81</td>
                            <td width="72">715</td>
                            <td width="72">950</td>
                            <td width="72">1470</td>
                            <td rowspan="2" width="94">170</td>
                            <td width="77">140</td>
                            <td width="69">500</td>
                            <td width="93">220</td>
                            <td data="price_0">289140</td>
                            <td data="price_1">216855</td>
                        </tr>
                        <tr height="20">
                            <td width="146">Vulkan PR (PE) 100</td>
                            <td width="118">105</td>
                            <td width="72">715</td>
                            <td width="72">1130</td>
                            <td width="72">1470</td>
                            <td width="77">180</td>
                            <td width="69">650</td>
                            <td width="93">220</td>
                            <td data="price_0">328680</td>
                            <td data="price_1">246510</td>
                        </tr>
                        <!--[if supportMisalignedColumns]-->
                        <tr style="display:none" height="0">
                            <td style="width:110pt" width="146"></td>
                            <td style="width:89pt" width="118"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:54pt" width="72"></td>
                            <td style="width:71pt" width="94"></td>
                            <td style="width:58pt" width="77"></td>
                            <td style="width:52pt" width="69"></td>
                            <td style="width:70pt" width="93"></td>
                            <td style="width:60pt" width="80"></td>
                            <td style="width:60pt" width="80"></td>
                        </tr>
                        <!--[endif]-->
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>
