<section class="product">

    <div class="product__container">

        <h2 class="product__name">Kentatsu Furst PR (PE)</h2>

        <div class="container_flex-row">

            <div class="product__image-container">
                <img src="assets/img/kentatsu/PR.jpg" alt="Kentatsu Furst PR (PE)" class="product__image">
            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">Электронная панель управления;</li>
                    <li class="product__characteristics-item">Автоматическая подача топлива дутьевым вентилятором;</li>
                    <li class="product__characteristics-item">Возможность плавного регулирования мощности котлов;</li>
                    <li class="product__characteristics-item">Тип розжига: ручной (PR) или автоматический (PE);</li>
                    <li class="product__characteristics-item">Бункер для хранения топлива;</li>
                    <li class="product__characteristics-item">Герметично закрывающаяся крышка бункера;</li>
                    <li class="product__characteristics-item">Типы твердого топлива фракцией до 30 мм: уголь, брикетированный торф, топливные брикеты;</li>
                    <li class="product__characteristics-item">Возможно подключение дополнительного термостата/контроллера;</li>
                    <li class="product__characteristics-item">Модели котлов Vulkan 30P – 50P опционально комплектуются циркуляционными насосами;</li>
                    <li class="product__characteristics-item">Приспособления для тех.обслуживания в комплекте.</li>
                </ul>

                <span class="product__description-text">
                    Котлы Kentatsu Furst Vulkan PR (PE) предназначены для отопления жилых и производственных помещений. Применяются в системах отопления с принудительной циркуляцией и представлены в диапазоне мощности от 35 до 105 кВт.
                </span>

            </div>

            <div class="product__banner">
                <img src="assets/img/kentatsu/PR-2.png" alt="Kentatsu Furst PR (PE)" class="product__image_wide">
            </div>

            <div class="product__table-container">

                <style id="Kentatsu Furst Vulkan PR (PE)_19563_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                        margin: auto;
                    }

                    .xl1519563 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #34495e;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6319563 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #34495e;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #34495e;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6419563 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #34495e;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #34495e;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6519563 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #34495e;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: middle;
                        border: .5pt solid #34495e;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6619563 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #34495e;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #34495e;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }
                </style>

                <div id="Kentatsu Furst Vulkan PR (PE)_19563" align="centerx:publishsource=&quot;Excel&quot;">
                    <table style="border-collapse:collapse;table-layout:fixed;width:732pt" cellspacing="0" cellpadding="0" width="973" border="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:4672;width:110pt" width="146">
                                <col style="mso-width-source:userset;mso-width-alt:3776;width:89pt" width="118">
                                    <col style="width:54pt" span="3" width="72">
                                        <col style="mso-width-source:userset;mso-width-alt:3008;width:71pt" width="94">
                                            <col style="mso-width-source:userset;mso-width-alt:2464;width:58pt" width="77">
                                                <col style="mso-width-source:userset;mso-width-alt:2208;width:52pt" width="69">
                                                    <col style="mso-width-source:userset;mso-width-alt:2976;width:70pt" width="93">
                                                        <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" span="2" width="80">
                        </colgroup>
                        <tbody>
                            <tr style="mso-height-source:userset;height:30.0pt" height="40">
                                <td colspan="11" class="xl6619563" style="height:30.0pt;width:732pt" height="40" width="973">Стальные трёхходовые твёрдотопливные котлы Kentatsu Furst Vulkan PR (PE)</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:15.0pt" height="20">
                                <td rowspan="2" class="xl6319563" style="height:56.25pt;border-top:none;width:110pt" height="75" width="146">Модель котла</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:89pt" width="118">Номинальная тепловая мощность, кВт</td>
                                <td colspan="3" class="xl6319563" style="border-left:none;width:162pt" width="216">Размеры</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:71pt" width="94">Диаметр дымохода, мм</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:58pt" width="77">Объём воды в котлы, л</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:52pt" width="69">Вес котла, кг</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:70pt" width="93">Объём бункера, л</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:60pt" width="80">Цена без скидки, руб.</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:60pt" width="80">Цена со скидкой, руб.</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:41.25pt" height="55">
                                <td class="xl6319563" style="height:41.25pt;border-top:none;border-left:none;width:54pt" height="55" width="72">Ширина, мм</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">Длина, мм</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">Высота, мм</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6519563" style="height:15.0pt;border-top:none;width:110pt" height="20" width="146">Vulkan PR (PE) 30P</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:89pt" width="118">35</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">510</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">770</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">1280</td>
                                <td rowspan="3" class="xl6319563" style="border-top:none;width:71pt" width="94">130</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:58pt" width="77">62</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:52pt" width="69">240</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:70pt" width="93">100</td>
                                <td class="xl6419563" data="price_0" style="border-top:none;border-left:none">220860</td>
                                <td class="xl6419563" data="price_1" style="border-top:none;border-left:none">165645</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6519563" style="height:15.0pt;border-top:none;width:110pt" height="20" width="146">Vulkan PR (PE) 40P</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:89pt" width="118">47</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">610</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">770</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">1350</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:58pt" width="77">80</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:52pt" width="69">340</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:70pt" width="93">170</td>
                                <td class="xl6419563" data="price_0" style="border-top:none;border-left:none">235200</td>
                                <td class="xl6419563" data="price_1" style="border-top:none;border-left:none">176400</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6519563" style="height:15.0pt;border-top:none;width:110pt" height="20" width="146">Vulkan PR (PE) 50P</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:89pt" width="118">58</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">610</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">880</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">1350</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:58pt" width="77">95</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:52pt" width="69">350</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:70pt" width="93">170</td>
                                <td class="xl6419563" data="price_0" style="border-top:none;border-left:none">263280</td>
                                <td class="xl6419563" data="price_1" style="border-top:none;border-left:none">197460</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6519563" style="height:15.0pt;border-top:none;width:110pt" height="20" width="146">Vulkan PR (PE) 70</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:89pt" width="118">81</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">715</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">950</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">1470</td>
                                <td rowspan="2" class="xl6319563" style="border-top:none;width:71pt" width="94">170</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:58pt" width="77">140</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:52pt" width="69">500</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:70pt" width="93">220</td>
                                <td class="xl6419563" data="price_0" style="border-top:none;border-left:none">289140</td>
                                <td class="xl6419563" data="price_1" style="border-top:none;border-left:none">216855</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6519563" style="height:15.0pt;border-top:none;width:110pt" height="20" width="146">Vulkan PR (PE) 100</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:89pt" width="118">105</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">715</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">1130</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:54pt" width="72">1470</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:58pt" width="77">180</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:52pt" width="69">650</td>
                                <td class="xl6319563" style="border-top:none;border-left:none;width:70pt" width="93">220</td>
                                <td class="xl6419563" data="price_0" style="border-top:none;border-left:none">328680</td>
                                <td class="xl6419563" data="price_1" style="border-top:none;border-left:none">246510</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:110pt" width="146"></td>
                                <td style="width:89pt" width="118"></td>
                                <td style="width:54pt" width="72"></td>
                                <td style="width:54pt" width="72"></td>
                                <td style="width:54pt" width="72"></td>
                                <td style="width:71pt" width="94"></td>
                                <td style="width:58pt" width="77"></td>
                                <td style="width:52pt" width="69"></td>
                                <td style="width:70pt" width="93"></td>
                                <td style="width:60pt" width="80"></td>
                                <td style="width:60pt" width="80"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
