<section id="sr" class="product">

    <div class="product__container">

        <h2 class="product__name">Kentatsu Furst SR (Max SR)</h2>

        <div class="container_flex-row">

            <div class="product__image-container">
                <img src="assets/img/kentatsu/SR.jpg" alt="Kentatsu Furst SR (Max SR)" class="product__image">
            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">Панель управления с микропроцессором;</li>
                    <li class="product__characteristics-item">Поддержание заданной пользователем температуры теплоносителя;</li>
                    <li class="product__characteristics-item">Сигнализация при неисправностях и/или отсутствии топлива;</li>
                    <li class="product__characteristics-item">Возможность подключения дополнительного термостата/контроллера;</li>
                    <li class="product__characteristics-item">Котлы Vulkan SR, Vulkan Max SR могут работать на древесине, угле, топливных брикетах, торфе;</li>
                    <li class="product__characteristics-item">Приспособления для тех.обслуживания в комплекте.</li>
                </ul>

                <span class="product__description-text">
                Котлы Kentatsu Furst Vulkan SR (Max SR) предназначены для отопления жилых и производственных помещений. Применяются в системах отопления с принудительной циркуляцией и представлены в диапазоне мощности от 23 до 1188 кВт.</span>

            </div>

            <div class="product__table-container" align=center>
                <table border=0 cellpadding=0 cellspacing=0 width=974 style='border-collapse:collapse;table-layout:fixed'>
                    <col width=143>
                    <col width=126>
                    <col width=72 span=3>
                    <col width=90>
                    <col width=99>
                    <col width=80>
                    <col width=110 span=2>
                    <tr height=40>
                        <td colspan=10 height=40 width=974>Стальные трёхходовые твёрдотопливные котлы Vulkan SR / Vulkan Max SR</td>
                    </tr>
                    <tr height=20>
                        <td rowspan=2>Модель котла</td>
                        <td rowspan=2>Номинальная тепловая мощность, кВт</td>
                        <td colspan=3>Размеры котла</td>
                        <td rowspan=2>Диаметрды мохода, мм</td>
                        <td rowspan=2>Объём воды в котле, л</td>
                        <td rowspan=2>Вес котла, кг</td>
                        <td rowspan=2>Цена без скидки, USD</td>
                        <td rowspan=2>Цена со скидкой, USD</td>
                    </tr>
                    <tr height=40>
                        <td>Ширина, мм</td>
                        <td>Длина, мм</td>
                        <td>Высота, мм</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan SR 20</td>
                        <td>23</td>
                        <td>510</td>
                        <td>710</td>
                        <td>1160</td>
                        <td>130</td>
                        <td>55</td>
                        <td>160</td>
                        <td data="price_0">2008</td>
                        <td data="price_1">2008</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan SR 25</td>
                        <td>29</td>
                        <td>510</td>
                        <td>710</td>
                        <td>1280</td>
                        <td>130</td>
                        <td>62</td>
                        <td>180</td>
                        <td data="price_0">2237</td>
                        <td data="price_1">2237</td>
                    </tr>
                    <tr>
                        <td height=20>Vulkan SR 35</td>
                        <td>41</td>
                        <td>670</td>
                        <td>710</td>
                        <td>1350</td>
                        <td>130</td>
                        <td>80</td>
                        <td>260</td>
                        <td data="price_0">2476</td>
                        <td data="price_1">2476</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan SR 45</td>
                        <td>53</td>
                        <td>670</td>
                        <td>820</td>
                        <td>1350</td>
                        <td>130</td>
                        <td>95</td>
                        <td>300</td>
                        <td data="price_0">2725</td>
                        <td data="price_1">2725</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan SR 60</td>
                        <td>70</td>
                        <td>770</td>
                        <td>950</td>
                        <td>1470</td>
                        <td>170</td>
                        <td>140</td>
                        <td>400</td>
                        <td data="price_0">3165</td>
                        <td data="price_1">3165</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan SR 80</td>
                        <td>93</td>
                        <td>770</td>
                        <td>1130</td>
                        <td>1470</td>
                        <td>170</td>
                        <td>180</td>
                        <td>500</td>
                        <td data="price_0">3614</td>
                        <td data="price_1">3614</td>
                    </tr>
                    <tr>
                        <td>Vulkan SR 100</td>
                        <td>116</td>
                        <td>730</td>
                        <td>1400</td>
                        <td>1630</td>
                        <td>170</td>
                        <td>274</td>
                        <td>600</td>
                        <td data="price_0">4637</td>
                        <td data="price_1">4637</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-120</td>
                        <td>140</td>
                        <td>830</td>
                        <td>1300</td>
                        <td>1630</td>
                        <td>210</td>
                        <td>286</td>
                        <td>760</td>
                        <td data="price_0">5670</td>
                        <td data="price_1">5670</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-140</td>
                        <td>163</td>
                        <td>830</td>
                        <td>1400</td>
                        <td>1630</td>
                        <td>210</td>
                        <td>336</td>
                        <td>940</td>
                        <td data="price_0">5890</td>
                        <td data="price_1">5890</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-160</td>
                        <td>186</td>
                        <td>730</td>
                        <td>1400</td>
                        <td>1630</td>
                        <td>270</td>
                        <td>380</td>
                        <td>1000</td>
                        <td data="price_0">6282</td>
                        <td data="price_1">6282</td>
                    </tr>
                    <tr>
                        <td>Vulkan Max SR-180</td>
                        <td>210</td>
                        <td>830</td>
                        <td>1400</td>
                        <td>1910</td>
                        <td>270</td>
                        <td>420</td>
                        <td>1120</td>
                        <td data="price_0">6836</td>
                        <td data="price_1">6836</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-200</td>
                        <td>233</td>
                        <td>830</td>
                        <td>1690</td>
                        <td>1910</td>
                        <td>270</td>
                        <td>460</td>
                        <td>1350</td>
                        <td data="price_0">8203</td>
                        <td data="price_1">8203</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-250</td>
                        <td>291</td>
                        <td>940</td>
                        <td>1850</td>
                        <td>1910</td>
                        <td>270</td>
                        <td>570</td>
                        <td>1650</td>
                        <td data="price_0">10125</td>
                        <td data="price_1">10125</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-300</td>
                        <td>349</td>
                        <td>940</td>
                        <td>2150</td>
                        <td>2020</td>
                        <td>270</td>
                        <td>730</td>
                        <td>2000</td>
                        <td data="price_0">12037</td>
                        <td data="price_1">12037</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-350</td>
                        <td>407</td>
                        <td>1040</td>
                        <td>2250</td>
                        <td>2020</td>
                        <td>330</td>
                        <td>860</td>
                        <td>2400</td>
                        <td data="price_0">13519</td>
                        <td data="price_1">13519</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-400</td>
                        <td>466</td>
                        <td>1140</td>
                        <td>2400</td>
                        <td>2020</td>
                        <td>330</td>
                        <td>925</td>
                        <td>2800</td>
                        <td data="price_0">14743</td>
                        <td data="price_1">14743</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-450</td>
                        <td>525</td>
                        <td>1120</td>
                        <td>2600</td>
                        <td>2020</td>
                        <td>330</td>
                        <td>1050</td>
                        <td>3200</td>
                        <td data="price_0">16588</td>
                        <td data="price_1">16588</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-500</td>
                        <td>581</td>
                        <td>1240</td>
                        <td>2600</td>
                        <td>2020</td>
                        <td>350</td>
                        <td>1200</td>
                        <td>3600</td>
                        <td data="price_0">18663</td>
                        <td data="price_1">18663</td>
                    </tr>
                    <tr>
                        <td>Vulkan Max SR-600</td>
                        <td>698</td>
                        <td>1340</td>
                        <td>2750</td>
                        <td>2020</td>
                        <td>350</td>
                        <td>1380</td>
                        <td>4200</td>
                        <td data="price_0">20671</td>
                        <td data="price_1">20671</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-700</td>
                        <td>814</td>
                        <td>1440</td>
                        <td>2850</td>
                        <td>2020</td>
                        <td>400</td>
                        <td>1820</td>
                        <td>4850</td>
                        <td data="price_0">23845</td>
                        <td data="price_1">23845</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-800</td>
                        <td>930</td>
                        <td>1540</td>
                        <td>2950</td>
                        <td>2020</td>
                        <td>400</td>
                        <td>2000</td>
                        <td>5200</td>
                        <td data="price_0">27057</td>
                        <td data="price_1">27057</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-900</td>
                        <td>1048</td>
                        <td>1640</td>
                        <td>3050</td>
                        <td>2020</td>
                        <td>450</td>
                        <td>2150</td>
                        <td>5450</td>
                        <td data="price_0">30146</td>
                        <td data="price_1">30146</td>
                    </tr>
                    <tr height=20>
                        <td>Vulkan Max SR-1000</td>
                        <td>1164</td>
                        <td>1740</td>
                        <td>3150</td>
                        <td>2020</td>
                        <td>450</td>
                        <td>2500</td>
                        <td>5800</td>
                        <td data="price_0">33540</td>
                        <td data="price_1">33540</td>
                    </tr>
                    <![if supportMisalignedColumns]>
                    <tr height=0 style='display:none'>
                        <td width=143 style='width:107pt'></td>
                        <td width=126 style='width:95pt'></td>
                        <td width=72 style='width:54pt'></td>
                        <td width=72 style='width:54pt'></td>
                        <td width=72 style='width:54pt'></td>
                        <td width=90 style='width:68pt'></td>
                        <td width=99 style='width:74pt'></td>
                        <td width=80 style='width:60pt'></td>
                        <td width=110 style='width:83pt'></td>
                        <td width=110 style='width:83pt'></td>
                    </tr>
                    <![endif]>
                </table>
            </div>

        </div>

    </div>

</section>
