<section id="corner-happy" class="product">

    <div class="product__container">

        <div class="container_flex-row">

            <div class="product__column-half">

                <h3 class="product__name">MBS Corner</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/corner.jpg" alt="MBS Corner" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">угловая печь-камин</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота, мм</span>
                            <span class="product__column-2">850</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ширина, мм</span>
                            <span class="product__column-2">575</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Глубина, мм</span>
                            <span class="product__column-2">640</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вес, кг</span>
                            <span class="product__column-2">70</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объем, м&sup3;</span>
                            <span class="product__column-2">140</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">10</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип</span>
                            <span class="product__column-2">закрытый</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">КПД, %</span>
                            <span class="product__column-2">80</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Топливо</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ящик для золы</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отсек для хранения дров</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Материал дверцы</span>
                            <span class="product__column-2">стекло</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Подключение к дымоходу</span>
                            <span class="product__column-2">верхнее</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">MBS Corner - угловая печь-камин, мощностью 10квт. MBS Corner  отлично подойдёт для обогрева небольшого загородного дома или дачи. Топка футерована шамотным кирпичем, позволит держать тепло до 7 часов. Чугунные элементы печи (золник, колосник, печные дверцы и верхняя панель) отлично гармонируют со стальными стенками печи, окрашенными в бордовый, черный или бежевый цвет. Подключение дымохода: верхнее, патрубок дымохода крепится двумя болтами и располагается почти посередине верхней крышки печи-камина.</span>

                </div>

            </div>

            <div class="product__column-half">

                <h3 class="product__name">MBS Happy</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/happy.jpg" alt="MBS Happy" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь-камин</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота, мм</span>
                            <span class="product__column-2">700</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ширина, мм</span>
                            <span class="product__column-2">400</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Глубина, мм</span>
                            <span class="product__column-2">400</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вес, кг</span>
                            <span class="product__column-2">51</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объем, м&sup3;</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">6</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип</span>
                            <span class="product__column-2">закрытый</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">КПД, %</span>
                            <span class="product__column-2">82</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Топливо</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ящик для золы</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Материал дверцы</span>
                            <span class="product__column-2">стекло</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Подключение к дымоходу</span>
                            <span class="product__column-2">верхнее</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Максимальная длина дров, см</span>
                            <span class="product__column-2">30</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">Буржуйка выполнена из высококачественной кованой стали и чугуна. Эмалированные стенки придают печи современный глянцевый дизайн. Эмаль покрыта жаростойкой краской, два цвета: бежевый, красный. Дверца топки, зольник, колосник и верхняя крышка выполнены из чугуна и покрыты матовой термостойкой краской. Жаропрочное панорамное стекло SCHOTT ROBAX® производства Германии.</span>

                </div>

            </div>

        </div>

    </div>

</section>
