<section id="ermak_soffit-grant" class="product">

    <div class="product__container">

        <div class="container_flex-row">

            <div class="product__column-half">

                <h3 class="product__name">Ермак Stoker Soffit 7</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/soffit_7.jpg" alt="Ермак Stoker Soffit 7" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь-камин</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота, мм</span>
                            <span class="product__column-2">870</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ширина, мм</span>
                            <span class="product__column-2">400</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Глубина, мм</span>
                            <span class="product__column-2">400</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вес, кг</span>
                            <span class="product__column-2">55</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объем, м&sup3;</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">7</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип</span>
                            <span class="product__column-2">закрытый</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Топливо</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ящик для золы</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Материал дверцы</span>
                            <span class="product__column-2">стекло</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">130</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота дымохода, не менее, м</span>
                            <span class="product__column-2">4</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Подключение к дымоходу</span>
                            <span class="product__column-2">верхнее</span>
                        </li>
                    </ul>

                </div>

                <span class="product__description-title">Особенности и преимущества:</span>
                <span class="product__description-text_wide">
                    • Современный дизайн и хорошая эргономика.<br />
                    • Широкий диапазон режимами управления горения  -  оптимальный и комфортный микроклимат в помещении.<br />
                    • Режим длительного горения -   продолжительное время работы печи-камина.<br />
                    • Защита  термонагруженных элементов топки чугунными  вставками.<br />
                    • Большая дверца с жаростойким стеклом «Shott Robax» (функция «чистое стекло»).<br />
                    • Система направленной конвекции  - быстрый нагрев помещения.<br />
                    • Удобство обслуживания -  охлаждаемая ручка и удобный зольник-совок.
                </span>

            </div>

            <div class="product__column-half">

                <h3 class="product__name">Ермак Stoker Grant 7</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/grant_7.jpg" alt="Ермак Stoker grant 7" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь-камин</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота, мм</span>
                            <span class="product__column-2">830</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ширина, мм</span>
                            <span class="product__column-2">360</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Глубина, мм</span>
                            <span class="product__column-2">400</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вес, кг</span>
                            <span class="product__column-2">50</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объем, м&sup3;</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">7</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип</span>
                            <span class="product__column-2">закрытый</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Топливо</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ящик для золы</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Материал дверцы</span>
                            <span class="product__column-2">стекло</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">115</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота дымохода, не менее, м</span>
                            <span class="product__column-2">5</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Подключение к дымоходу</span>
                            <span class="product__column-2">верхнее</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">
                        • Современный дизайн и хорошая эргономика.<br />
                        • Компактные размеры — вертикальный формат изделия.<br />
                        • Верхняя полка для подогрева пищи и закрытая нижняя полка для металлической посуды.<br />
                        • Высокая вертикальная дверка со стеклом «Shott Robax».<br />
                        • Функция «чистое стекло».<br />
                        • Чугунный верхний отсекатель.<br />
                        • Подключение дымохода сверху или сзади
                    </span>

                </div>

            </div>


        </div>

    </div>

</section>
