<section id="ognivo_1-2" class="product">

    <div class="product__container">

        <div class="container_flex-row">

            <div class="product__column-half">

                <h3 class="product__name">OGNIVO 1</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/ognivo_1.jpg" alt="OGNIVO 1" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объём, м&sup3;</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">7</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Габаритные размеры, мм</span>
                            <span class="product__column-2">650х330х580</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Масса, кг</span>
                            <span class="product__column-2">45</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Объем камеры сгорания, м&sup3;</span>
                            <span class="product__column-2">55</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Минимальная высота дымохода, м</span>
                            <span class="product__column-2">5</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип внешнего покрытия</span>
                            <span class="product__column-2">эмаль термостойкая</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вид топлива</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">
                        Отопительно-варочная печь "OGNIVO 1"<br />
                        Защита от прямого инфракрасного излучения посредством конвективных кожухов;<br />
                        Герметично закрывающаяся топка, позволяющая использовать печь в режиме длительного горения;<br />
                        Чугунная регулируемая конфорка для разогрева и приготовления пищи;<br />
                        Беспрепятственная чистка печи;<br />
                        Заслонка для быстрого розжига;<br />
                        Задержка пламени во второй газораспределяющей камере за счет инновационной системы перегородок;<br />
                        Основной вид топлива – дрова;<br />
                        Серийно выпускаются три модели:печь Ognivo I;<br />
                        печь Ognivo I с чугунной конфоркой;<br />
                        печь Ognivo I с чугунной конфоркой и дверцой с огнеупорным стеклом,<br /><br />

                        Предназначены для воздушного отопления помещений временного проживания людей: дачи, гаражи, склады, теплицы и другие помещения. Не допускается установка отопительной печи в помещениях постоянного проживания людей – в индивидуальных жилых домах, с ежедневным и/или интенсивным использованием отопительной печи. Высокие потребительские свойства печи обеспечены конструктивными решениями, использованными при изготовлении внешних и внутренних элементов.Печь можно эксплуатировать в различных режимах теплоотдачи - от интенсивного до экономичного. Регулирование режимов горения осуществляется путем открытия (закрытия) зольника, а так же заслонки дымохода. При длительном поддержании тепла в предварительно прогретом  помещении одной закладки топлива достаточно на 4-6 часа непрерывной работы. Благодаря оригинальной конструкции отопительные печи Ognivo, легко обеспечивают нагрев воздуха в помещениях объемом до 120м&sup3;.
                    </span>

                </div>

            </div>

            <div class="product__column-half">

                <h3 class="product__name">OGNIVO 2</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/ognivo_2.jpg" alt="OGNIVO 2" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объём, м&sup3;</span>
                            <span class="product__column-2">200</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">10</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Габаритные размеры, мм</span>
                            <span class="product__column-2">738х346х635</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Масса, кг</span>
                            <span class="product__column-2">64</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Объем камеры сгорания, м&sup3;</span>
                            <span class="product__column-2">88</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Минимальная высота дымохода, м</span>
                            <span class="product__column-2">7</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип внешнего покрытия</span>
                            <span class="product__column-2">эмаль термостойкая</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вид топлива</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">
                        Отопительно-варочная печь "OGNIVO 2"<br />
                        Защита от прямого инфракрасного излучения посредством конвективных кожухов;<br />
                        Герметично закрывающаяся топка, позволяющая использовать печь в режиме длительного горения;<br />
                        Чугунная регулируемая конфорка для разогрева и приготовления пищи;<br />
                        Беспрепятственная чистка печи;<br />
                        Заслонка для быстрого розжига;<br />
                        Задержка пламени во второй газораспределяющей камере за счет инновационной системы перегородок;<br />
                        Основной вид топлива – дрова;<br />
                        Серийно выпускаются две модели печи:<br />
                        - стандартная усиленная дверца с огнеупорным стеклом,<br />
                        - стандартная усиленная дверца без стекла.<br /><br />

                        Все модели имеют вставки на боковых кожухах из зеркальной нержавеющей стали (AISI 430).
                        Предназначены для воздушного отопления помещений временного проживания людей: дачи, гаражи, склады, теплицы и другие помещения.
                        Не допускается установка отопительной печи в помещениях постоянного проживания людей – в индивидуальных жилых домах, с ежедневным и/или интенсивным использованием отопительной печи.<br /><br />

                        Печь можно эксплуатировать в различных режимах теплоотдачи - от интенсивного до экономичного. Регулирование режимов горения осуществляется путем открытия (закрытия) зольника, а так же заслонки дымохода. При длительном поддержании тепла в предварительно прогретом помещении одной закладки топлива достаточно на 4-6 часа непрерывной работы. Особенностями данной печи, являются небольшие габаритные размеры, экономичность, надежность, простота обслуживания и эксплуатации. Благодаря оригинальной конструкции отопительные печи Ognivo II легко обеспечивают нагрев воздуха в помещениях объемом до 200м&sup3;.
                    </span>

                </div>

            </div>

        </div>

    </div>

</section>
