<section id="ognivo_maxi-coal" class="product">

    <div class="product__container">

        <div class="container_flex-row">

            <div class="product__column-half">

                <h3 class="product__name">OGNIVO MAXI</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/ognivo_maxi.jpg" alt="OGNIVO MAXI" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объём, м&sup3;</span>
                            <span class="product__column-2">350</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">16</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Габаритные размеры, мм</span>
                            <span class="product__column-2">784х426х730</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Масса, кг</span>
                            <span class="product__column-2">123</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Объем камеры сгорания, м&sup3;</span>
                            <span class="product__column-2">88</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">150</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Минимальная высота дымохода, м</span>
                            <span class="product__column-2">7</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип внешнего покрытия</span>
                            <span class="product__column-2">эмаль термостойкая</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вид топлива</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">
                        Отопительно-варочная печь "Ognivo MAXI"<br /><br />

                        Корпус печи усилен внутренними ребрами жесткости.<br />
                        Дополнительно печь оснащена конвективными трубами сечением 60х60мм, которые увеличивают КПД печи и увеличивают конвекционные потоки кожухов-конвекторов;<br />
                        Герметично закрывающаяся топка, позволяющая использовать печь в режиме длительного горения;<br />
                        Встроенная заслонка для быстрого розжига;<br />
                        Разветвленная система газовых каналов, увеличивающая КПД;<br />
                        Две чугунные регулируемые конфорки, предназначенные для разогрева и приготовления пищи;<br /><br />

                        Высокие потребительские свойства печи обеспечены конструктивными решениями, использованными при изготовлении внешних и внутренних элементов.
                        При длительном поддержании тепла в предварительно прогретом помещении одной закладки топлива достаточно на 4 часа непрерывной работы.
                        Особенностями данной печи, являются оригинальный внешний вид, экономичность, надежность, простота обслуживания и эксплуатации. Благодаря оригинальной конструкции печи камин, обеспечивает нагрев воздуха в помещениях объемом до 300&sup3;.
                        Печь-камин Ognivo MAXI предназначена для экономичного воздушного отопления помещений временного проживания людей: дачи, гаражи, склады и другие помещения.
                        Не допускается установка отопительной печи в помещениях постоянного проживания людей – в индивидуальных жилых домах, с ежедневным и/или интенсивным использованием отопительной печи.
                    </span>

                </div>

            </div>

            <div class="product__column-half">

                <h3 class="product__name">OGNIVO Уголь</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/ognivo_coal.jpg" alt="OGNIVO Уголь" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объём, м&sup3;</span>
                            <span class="product__column-2">200</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">10</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Габаритные размеры, мм</span>
                            <span class="product__column-2">680х340х640</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Масса, кг</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Объем камеры сгорания, м&sup3;</span>
                            <span class="product__column-2">32</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Минимальная высота дымохода, м</span>
                            <span class="product__column-2">6</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип внешнего покрытия</span>
                            <span class="product__column-2">эмаль термостойкая</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вид топлива</span>
                            <span class="product__column-2">дрова, уголь</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">
                        Отопительно-варочная печь "Ognivo Уголь"<br /><br />

                        Современный и привлекательный дизайн,<br />
                        Наличие чугунной регулируемой конфорки для приготовления пищи,<br />
                        Усиленное дно топки и наличие чугунного колосника,<br />
                        Конвекционный принцип нагрева воздуха,<br />
                        Разветвленная система газовых каналов, увеличивающая КПД печи и сокращающая расход топлива,<br />
                        Время горения на одной закладке топлива – до 6 часов,<br />
                        Сменные защитные экраны из жаропрочной стали толщиной 3мм,<br />
                        Возможность установки дополнительной шибер - заслонки для точной регулировки горения,<br />
                        Возможность установки двух боковых съемников тепла, для отопления смежных помещений.<br /><br />

                        Отопительно-варочная печь Ognivo Уголь превосходит все возможные аналоги металлических печей способных работать на угле.
                        Много ли вообще таких печей производят в России? Единицы! Обычно, функционал таких печей беден, а дизайн таких печей оставляет желать лучшего!
                        Какое из двух зол выбрать?! Наш ответ: Никакое! Не покупайте устаревшие технологии и страшные на вид печки!
                        За счет специальной конструкции печи усиленной ребрами жесткости, конвективных труб 60х30 мм толщиной 3 мм, двойного дна колосника толщиной 10 мм, который не требует очистки, а также боковых 6 мм стенок с установленными сменными защитными экранами из жаропрочной стали толщиной 3 мм, печь Ognivo Уголь даже может использоваться, как оптимальная альтернатива твердотопливному котлу!
                    </span>

                </div>

            </div>

        </div>

    </div>

</section>
