<section id="olimp-stone" class="product">

    <div class="product__container">

        <div class="container_flex-row">

            <div class="product__column-half">

                <h3 class="product__name">MBS Olimp</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/olimp.jpg" alt="MBS Olimp" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота, мм</span>
                            <span class="product__column-2">850</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ширина, мм</span>
                            <span class="product__column-2">595</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Глубина, мм</span>
                            <span class="product__column-2">480</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вес, кг</span>
                            <span class="product__column-2">110</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объем, м&sup3;</span>
                            <span class="product__column-2">150</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">12</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип</span>
                            <span class="product__column-2">закрытый</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">КПД, %</span>
                            <span class="product__column-2">80</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Топливо</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ящик для золы</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отсек для хранения</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Варочная панель</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Материал дверцы</span>
                            <span class="product__column-2">стекло</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Подключение к дымоходу</span>
                            <span class="product__column-2">заднее</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">
                        Отопительно-варочная печь "Olimp"<br />
                        Дровяная печь-камин MBS Olimp поддерживает как режим длительного, так и интенсивного горения.
                         Это позволяет экономить поленья, а также регулировать температуру в помещении, поддерживая ее на необходимом уровне.
                         В загородном доме необходимость такого оборудования очевидна: прогреть помещение зачастую нужно не только в холодное время года, но и летом в тех случаях, когда в доме не живут постоянно.
                    </span>

                </div>

            </div>

            <div class="product__column-half">

                <h3 class="product__name">MBS Olimp Stone</h3>

                <div class="product__image-container">

                    <img src="assets/img/stoves/olimp_stone.jpg" alt="MBS Olimp Stone" class="product__image">

                </div>

                <div class="product__description-container">

                    <span class="product__characteristics-title">Характеристики:</span>

                    <ul class="product__characteristics-list">
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Конструкция</span>
                            <span class="product__column-2">пристенная печь</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота, мм</span>
                            <span class="product__column-2">850</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ширина, мм</span>
                            <span class="product__column-2">480</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Глубина, мм</span>
                            <span class="product__column-2">595</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Вес, кг</span>
                            <span class="product__column-2">131</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отапливаемый объем, м&sup3;</span>
                            <span class="product__column-2">150</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Мощность, кВт</span>
                            <span class="product__column-2">12</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Тип</span>
                            <span class="product__column-2">закрытый</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">КПД, %</span>
                            <span class="product__column-2">80</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Топливо</span>
                            <span class="product__column-2">дрова</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Ящик для золы</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Отсек для хранения</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Варочная панель</span>
                            <span class="product__column-2">есть</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Материал дверцы</span>
                            <span class="product__column-2">стекло</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Диаметр дымохода, мм</span>
                            <span class="product__column-2">120</span>
                        </li>
                        <li class="product__characteristics-item_columned">
                            <span class="product__column-1">Высота дымохода, не менее, м</span>
                            <span class="product__column-2">заднее</span>
                        </li>
                    </ul>

                    <span class="product__description-title">Особенности и преимущества:</span>
                    <span class="product__description-text_wide">
                        Отопительно-варочная печь "Olimp Stone"<br />
                        Дровяная варочная печь-камин предназначена для отопления небольших дачных домов и приготовления пищи.
                        Печь укомплектована варочной поверхностью с одной конфоркой для приготовления пищи.
                        Топочная камера состоит из чугунных плит. Дверца топки укомплектована термостойкой стеклокерамикой.
                        Замок и уплотнительный шнур в MBS Olimp Stone обеспечивают герметичное закрывание дверцы.
                        Ящик для золы спрятан за герметичной чугунной дверцей.
                    </span>

                </div>

            </div>

        </div>

    </div>

</section>
