<section class="intro">

    <div class="intro__back-image-container">
        <img src="assets/img/slide-3.jpg" alt="kentatsu intro" class="intro__back-image">
    </div>

    <div class="intro__overlay">

        <div class="container_flex">

            <h1 class="intro__title">Отопительно-варочные печи и печи-камины</h1>

            <span class="intro__subtitle">
            Выберите интересующий Вас вариант, и свяжитесь с менеджером, чтобы уточнить наличие и стоимость:</span>

            <ul class="intro__list">
                <li><a href="#" data-roll="corner-happy" class="intro__link" ripple-light>Corner | Happy</a></li>
                <li><a href="#" data-roll="vesta-trend" class="intro__link" ripple-light>Vesta | Trend</a></li>
                <li><a href="#" data-roll="olimp-stone" class="intro__link" ripple-light>Olimp | Olimp Stone</a></li>
                <li><a href="#" data-roll="olimpia-stone" class="intro__link" ripple-light>Olimpia | Olimpia Stone</a></li>
                <li><a href="#" data-roll="magnum-stone" class="intro__link" ripple-light>Magnum | Magnum Stone</a></li>
                <li><a href="#" data-roll="thermo_vulkan-stone" class="intro__link" ripple-light>Thermo Vulkan | Thermo Vulkan Stone</a></li>
                <li><a href="#" data-roll="super_thermo_magnum-stone" class="intro__link" ripple-light>Super Thermo Magnum | Thermo Magnum Stone</a></li>
            </ul>

            <ul class="intro__list">
                <li><a href="#" data-roll="ognivo_1-2" class="intro__link">OGNIVO I | OGNIVO II</a></li>
                <li><a href="#" data-roll="ognivo_maxi-coal" class="intro__link">OGNIVO Maxi | OGNIVO Уголь</a></li>
                <li><a href="#" data-roll="ermak_soffit-grant" class="intro__link">Ермак Soffit | Ермак Grant</a></li>
            </ul>

        </div>

    </div>

</section>
