<section id="super_thermo_magnum-stone" class="product">

	<div class="product__container">

		<div class="container_flex-row">

			<div class="product__column-half">

				<h3 class="product__name">MBS Super Thermo Magnum</h3>

				<div class="product__image-container">

					<img src="assets/img/stoves/thermo_magnum_stone.jpg" alt="MBS Super Thermo Magnum" class="product__image">

				</div>

				<div class="product__description-container">

					<span class="product__characteristics-title">Характеристики:</span>

					<ul class="product__characteristics-list">
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Конструкция</span>
							<span class="product__column-2">пристенная печь-камин</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Высота, мм</span>
							<span class="product__column-2">865</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ширина, мм</span>
							<span class="product__column-2">1070</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Глубина, мм</span>
							<span class="product__column-2">660</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Вес, кг</span>
							<span class="product__column-2">210</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отапливаемый объем, м&sup3;</span>
							<span class="product__column-2">240</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Мощность, кВт</span>
							<span class="product__column-2">13</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Тип</span>
							<span class="product__column-2">закрытый</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">КПД, %</span>
							<span class="product__column-2">89</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Топливо</span>
							<span class="product__column-2">дрова</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ящик для золы</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отсек для хранения дров</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Духовой шкаф</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Варочная панель</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Материал дверцы</span>
							<span class="product__column-2">стекло</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Диаметр дымохода, мм</span>
							<span class="product__column-2">130</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Подключение к дымоходу</span>
							<span class="product__column-2">заднее и верхнее</span>
						</li>
					</ul>

					<span class="product__description-title">Особенности и преимущества:</span>
					<span class="product__description-text_wide">
						Отопление с помощью дровяных печей является одним из самых удобных и выгодных вариантов для хозяина и небольшого загородного дома, и дачи, которую вы собираетесь посещать в зимнее время. При этом неплохие характеристики такого оборудования по разумной цене можно получить, приобретая печи MBS одной из которых является модель Super Thermo Magnum.
                    </span>

				</div>

			</div>

			<div class="product__column-half">

				<h3 class="product__name">MBS Thermo Magnum Stone</h3>

				<div class="product__image-container">

					<img src="assets/img/stoves/super_thermo_magnum_stone.jpg" alt="MBS Super Thermo Magnum Stone" class="product__image">

				</div>

				<div class="product__description-container">

					<span class="product__characteristics-title">Характеристики:</span>

					<ul class="product__characteristics-list">
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Конструкция</span>
							<span class="product__column-2">пристенная печь-камин</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Высота, мм</span>
							<span class="product__column-2">865</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ширина, мм</span>
							<span class="product__column-2">1070</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Глубина, мм</span>
							<span class="product__column-2">660</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Вес, кг</span>
							<span class="product__column-2">210</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отапливаемый объем, м&sup3;</span>
							<span class="product__column-2">240</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Мощность, кВт</span>
							<span class="product__column-2">13</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Тип</span>
							<span class="product__column-2">закрытый</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">КПД, %</span>
							<span class="product__column-2">89</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Топливо</span>
							<span class="product__column-2">дрова</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ящик для золы</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отсек для хранения дров</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Духовой шкаф</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Варочная панель</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Материал дверцы</span>
							<span class="product__column-2">стекло</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Диаметр дымохода, мм</span>
							<span class="product__column-2">130</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Подключение к дымоходу</span>
							<span class="product__column-2">заднее и верхнее</span>
						</li>
					</ul>

					<span class="product__description-title">Особенности и преимущества:</span>
					<span class="product__description-text_wide">
						Отопление с помощью дровяных печей является одним из самых удобных и выгодных вариантов для хозяина и небольшого загородного дома, и дачи, которую вы собираетесь посещать в зимнее время. При этом неплохие характеристики такого оборудования по разумной цене можно получить, приобретая печи MBS одной из которых является модель Super Thermo Magnum Stone.
                    </span>

				</div>

			</div>

		</div>

	</div>

</section>
