<section id="thermo_vulkan-stone" class="product">

	<div class="product__container">

		<div class="container_flex-row">

			<div class="product__column-half">

				<h3 class="product__name">MBS Thermo Vulkan</h3>

				<div class="product__image-container">

					<img src="assets/img/stoves/thermo_vulkan.jpg" alt="MBS Thermo Vulkan" class="product__image">

				</div>

				<div class="product__description-container">

					<span class="product__characteristics-title">Характеристики:</span>

					<ul class="product__characteristics-list">
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Конструкция</span>
							<span class="product__column-2">пристенная печь-камин</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Высота, мм</span>
							<span class="product__column-2">780</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ширина, мм</span>
							<span class="product__column-2">545</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Глубина, мм</span>
							<span class="product__column-2">650</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Вес, кг</span>
							<span class="product__column-2">156</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отапливаемый объем, м&sup3;</span>
							<span class="product__column-2">390</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Мощность, кВт</span>
							<span class="product__column-2">14</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Тип</span>
							<span class="product__column-2">закрытый</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">КПД, %</span>
							<span class="product__column-2">86</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Топливо</span>
							<span class="product__column-2">дрова, уголь</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ящик для золы</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Материал дверцы</span>
							<span class="product__column-2">стекло</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Диаметр дымохода, мм</span>
							<span class="product__column-2">150</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Подключение к дымоходу</span>
							<span class="product__column-2">заднее</span>
						</li>
					</ul>

					<span class="product__description-title">Особенности и преимущества:</span>
					<span class="product__description-text_wide">
						Небольшая и сравнительно недорогая дровяная печь от сербского бренда MBS модели Thermo Vulkan  позволит обеспечит в вашем доме температуру, допустимую для достаточно комфортного пребывания в его помещениях людей. Не обладая никакими другими функциями, кроме отопительной, прибор вполне способен отапливать здания объёмом до 210 м&sup3;.
                    </span>

				</div>

			</div>

			<div class="product__column-half">

				<h3 class="product__name">MBS Thermo Vulkan Stone</h3>

				<div class="product__image-container">

					<img src="assets/img/stoves/vulkan_stone.jpg" alt="MBS Thermo Vulkan Stone" class="product__image">

				</div>

				<div class="product__description-container">

					<span class="product__characteristics-title">Характеристики:</span>

					<ul class="product__characteristics-list">
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Конструкция</span>
							<span class="product__column-2">пристенная печь-камин</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Высота, мм</span>
							<span class="product__column-2">850</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ширина, мм</span>
							<span class="product__column-2">480</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Глубина, мм</span>
							<span class="product__column-2">595</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Вес, кг</span>
							<span class="product__column-2">151</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отапливаемый объем, м&sup3;</span>
							<span class="product__column-2">500</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Мощность, кВт</span>
							<span class="product__column-2">17</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Тип</span>
							<span class="product__column-2">закрытый</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">КПД, %</span>
							<span class="product__column-2">86</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Топливо</span>
							<span class="product__column-2">дрова</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ящик для золы</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Материал дверцы</span>
							<span class="product__column-2">стекло</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Диаметр дымохода, мм</span>
							<span class="product__column-2">150</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Подключение к дымоходу</span>
							<span class="product__column-2">верхнее</span>
						</li>
					</ul>

					<span class="product__description-title">Особенности и преимущества:</span>
					<span class="product__description-text_wide">
						Дровяная варочная печь-камин предназначена для отопления небольших дачных домов и приготовления пищи. Печь-камин изготовлена из чугуна и эмалированной стали.Печь укомплектована варочной поверхностью с одной конфоркой для приготовления пищи. Топочная камера состоит из чугунных плит. Дверца топки укомплектована термостойкой стеклокерамикой.
                    </span>

				</div>

			</div>

		</div>

	</div>

</section>
