<section id="vesta-trend" class="product">

	<div class="product__container">

		<div class="container_flex-row">

			<div class="product__column-half">

				<h3 class="product__name">MBS Vesta</h3>

				<div class="product__image-container">

					<img src="assets/img/stoves/vesta.jpg" alt="MBS Vesta" class="product__image">

				</div>

				<div class="product__description-container">

					<span class="product__characteristics-title">Характеристики:</span>

					<ul class="product__characteristics-list">
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Конструкция</span>
							<span class="product__column-2">пристенная печь-камин</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Высота, мм</span>
							<span class="product__column-2">890</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ширина, мм</span>
							<span class="product__column-2">440</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Глубина, мм</span>
							<span class="product__column-2">455</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Вес, кг</span>
							<span class="product__column-2">82</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отапливаемый объем, м&sup3;</span>
							<span class="product__column-2">140</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Мощность, кВт</span>
							<span class="product__column-2">9</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Тип</span>
							<span class="product__column-2">закрытый</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">КПД, %</span>
							<span class="product__column-2">85</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Топливо</span>
							<span class="product__column-2">дрова</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ящик для золы</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Материал дверцы</span>
							<span class="product__column-2">стекло</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Диаметр дымохода, мм</span>
							<span class="product__column-2">120</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Подключение к дымоходу</span>
							<span class="product__column-2">верхнее</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">&nbsp;</span>
							<span class="product__column-2">&nbsp;</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">&nbsp;</span>
							<span class="product__column-2">&nbsp;</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">&nbsp;</span>
							<span class="product__column-2">&nbsp;</span>
						</li>
					</ul>

					<span class="product__description-title">Особенности и преимущества:</span>
					<span class="product__description-text_wide">
						В условиях отсутствия газо- и теплоснабжения в вашем частном или загородном доме вполне достойной альтернативой может стать отопление при помощи дровяных печей. Так, например, установленный в помещении камин MBS сделает его теплее и уютнее за сравнительно небольшое время и вполне экономичным расходом топлива.
                    </span>

				</div>

			</div>

			<div class="product__column-half">

				<h3 class="product__name">MBS Trend</h3>

				<div class="product__image-container">

					<img src="assets/img/stoves/trend.jpg" alt="MBS Trend" class="product__image">

				</div>

				<div class="product__description-container">

					<span class="product__characteristics-title">Характеристики:</span>

					<ul class="product__characteristics-list">
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Конструкция</span>
							<span class="product__column-2">пристенная печь-камин</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Высота, мм</span>
							<span class="product__column-2">858</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ширина, мм</span>
							<span class="product__column-2">420</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Глубина, мм</span>
							<span class="product__column-2">894</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Вес, кг</span>
							<span class="product__column-2">97</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отапливаемый объем, м&sup3;</span>
							<span class="product__column-2">140</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Мощность, кВт</span>
							<span class="product__column-2">8</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Тип</span>
							<span class="product__column-2">закрытый</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">КПД, %</span>
							<span class="product__column-2">77</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Топливо</span>
							<span class="product__column-2">дрова, брикеты</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Ящик для золы</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Отсек для хранения дров</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Духовой шкаф</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Варочная панель</span>
							<span class="product__column-2">есть</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Материал дверцы</span>
							<span class="product__column-2">стекло</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Диаметр дымохода, мм</span>
							<span class="product__column-2">120</span>
						</li>
						<li class="product__characteristics-item_columned">
							<span class="product__column-1">Подключение к дымоходу</span>
							<span class="product__column-2">боковое</span>
						</li>
					</ul>

					<span class="product__description-title">Особенности и преимущества:</span>
					<span class="product__description-text_wide">
						Вряд ли хоть один владелец дачного участка или небольшого загородного дома имеет возможность подключиться к магистральной отопительной сети. Не слишком выгодно для него будет и отопление при помощи электричества или газа, тогда как дровяные печи для нагрева воздуха в помещении в данном случае подойдут практически идеально. Тем более, если они будут сделаны известным сербским брендом MBS.
                    </span>

				</div>

			</div>

		</div>

	</div>

</section>
