<section class="intro">

    <div class="intro__back-image-container">
        <img src="assets/img/vulkan/intro.jpg" alt="Buderus intro" class="intro__back-image">
    </div>

    <div class="intro__overlay">

        <div class="container_flex">

            <h1 class="intro__title">Дымоходы</h1>

            <span class="intro__subtitle">
            Вы можете собрать дымоход под свои нужды, для этого свяжитесь с менеджером.<br />
            Мы можем предложить Вам как дорогой дымоход из высококачественной стали, так и более доступный вариант из стали марки AiSi 439.
            </span>

            <ul class="intro__list">
                <li>
                    <a href="#" data-roll="single" class="intro__link" ripple-light>Однокортуный вариант</a>
                </li>
                <li>
                    <a href="#" data-roll="double" class="intro__link" ripple-light>Двухконтурный вариант</a>
                </li>
            </ul>

            <span class="intro__additional-text">
                Дымоход - один из главных элементов газового и дровяного отопительного оборудования,<br />
                 он создает естественную тягу, благодаря которой продукты сгорания эффективно выводятся из топочной камеры.<br />
                Мы предлагаем модульные дымоходы высокого качества:<br />
                - из нержавеющей стали марки "Вулкан", "Дымок", производитель Россия, г. Санкт-Петербург (внутренний диаметр, мм: 104-300);<br />
                - керамические дымоходы марки Hart Keramik немецкого производства (внутренний диаметр, мм: 120-300)
            </span>

        </div>

    </div>

</section>
