<section id="double" class="product">

    <div class="product__container">

        <h2 class="product__name">Двухконтурный вариант</h2>

        <ul class="container_flex-row">

            <li class="product__column">

                <h6 class="product__title">Переходник моно-термо</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/20.jpg" alt="Переходник моно-термо" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Взрывной клапан</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/21.jpg" alt="Взрывной клапан" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Дефлектор</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/22.jpg" alt="Дефлектор" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Зонт</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/24.jpg" alt="Зонт" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Конденсатосборник</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/23.jpg" alt="Конденсатосборник" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Конус</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/25.jpg" alt="Конус" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Кровельный элемент</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/26.jpg" alt="Кровельный элемент 0-20 20-45" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Кронштейн с опорой</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/28.jpg" alt="Кронштейн с опорой" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Опора напольная</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/29.jpg" alt="Опора напольная" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 15&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/32.jpg" alt="Отвод 15 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 30&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/35.jpg" alt="Отвод 30 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 45&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/30.jpg" alt="Отвод 45 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 90&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/31.jpg" alt="Отвод 90 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Опора</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/33.jpg" alt="Опора" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Крышка-ревизия</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/34.jpg" alt="Крышка-ревизия" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Переход термо-моно</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/36.jpg" alt="Переход термо-моно" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Стакан</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/37.jpg" alt="Стакан" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Тройник 45&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/38.jpg" alt="Тройник 45 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Тройник 90&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/40.jpg" alt="Тройник 90 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Фланец</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/39.jpg" alt="Фланец" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Хомут под растяжки</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/41.jpg" alt="Хомут под растяжки" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Хомут соединительный</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/42.jpg" alt="Хомут соединительный" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Труба 250 - 1000 мм</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/44.jpg" alt="Труба 250 - 1000 мм" class="product__image">
                </div>

            </li>

        </ul>

        <div class="product__table-container" align="center"></div>

        <div class="product__description-container">

            <span class="product__characteristics-title">Описание:</span>
            <span class="product__description-text">
Дымоход "Вулкан"Внутренние диаметры, мм: 100, 104, 110, 115, 120, 130, 150, 160, 180, 200, 250, 300.<br />
1) Материал внутреннего/наружного контуров дымохода:<br />
Нержавеющая сталь марки AiSi 821 0,5 мм / AiSi 304 0,5 мм<br />
Изоляция: БАЗ ВАТА Rockwool Wired Mat (Дания)<br />
2) Материал внутреннего/наружного контуров дымохода:<br />
Нержавеющая сталь марки: AiSi 321 0,5 мм / оцинкованная сталь 0,5 мм<br />
Изоляция: БАЗ ВАТА Rockwool Wired Mat (Дания)<br /><br />

Дымоходы "Вулкан" производятся по европейским стандартам качества.<br />
Высококачественная нержавеющая сталь (AISI 321Т, AISI 304) обеспечивает устойчивость дымоходов "Вулкан" к воздействию высоких температур и кислот.<br />
В дымоходах "Вулкан" используется специальная термоустойчивая вата фирмы "Rockwool".<br />
Из нее создается плотный теплоизолирующий слой толщиной 50 или 100 мм,что отвечает самым высоким требованиям пожарной безопасности.<br />
Сплошной сварной шов по технологии TIG гарантирует высокую прочность и безопасную работу дымохода "Вулкан" на долгие годы.<br />
Уникальная система внутренней термокомпенсации дымоходов "Вулкан" исключает деформацию дымохода при естественном расширении металла во время нагревания.<br />
Все элементы дымоходов "Вулкан" легко стыкуются между собой. Внутренние трубы расположены строго по центру и прочно зафиксированы.<br />
Все комплектующие дымоходов "Вулкан" имеют упаковку (гофрокартон), которая сохранит внешний вид дымохода во время хранения и транспортировки.<br />
Качество дымоходов "Вулкан" подтверждено Сертификатом Соответствия Госстандарта России и Сертификатом Пожарной Безопасности.<br />
Гарантийный срок эксплуатации дымохода "Вулкан" 50 лет, при сроке службы не менее 100 лет.
            </span>

        </div>

    </div>

</section>
