<section id="double" class="product">

    <div class="product__container">

        <h2 class="product__name">Одноконтурный вариант</h2>

        <div class="container_flex-row">

            <div class="product__column">

                <h6 class="product__title"></h6>

                <div class="product__image-container">
                    <img
                    src="assets/img/vulkan/.jpg"
                    alt=""
                    class="product__image">
                </div>

            </div>

        </div>

        <div class="product__table-container" align="center"></div>

        <div class="product__description-container">

            <span class="product__characteristics-title">Описание:</span>

            <span class="product__description-text">
                Дымоход "Дымок":<br>
                Внутренние диаметры, мм: 100, 110, 115, 120, 130, 150, 180, 200.<br>
                Материал внутреннего и наружного контура дымохода:<br>
                Нержавеющая сталь марки AiSi 439 0,5мм<br>
                Изоляция: Rockwool Wired Mat (Россия)
                </span>

        </div>

    </div>

    </div>

</section>
