<section id="single" class="product">

    <div class="product__container">

        <h2 class="product__name">Одноконтурный вариант</h2>

        <ul class="container_flex-row">

            <li class="product__column">

                <h6 class="product__title">Хомут соединительный</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/1.jpg" alt="Хомут соединительный" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 45&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/2.jpg" alt="Отвод 45 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 90&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/5.jpg" alt="Отвод 90 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Опора</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/4.jpg" alt="Опора" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Опора напольная</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/3.jpg" alt="Опора напольная" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Зонтик</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/6.jpg" alt="Зонтик" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Тройник 90&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/7.jpg" alt="Тройник 90 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Задвижка</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/8.jpg" alt="Задвижка" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Дефлектор</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/9.jpg" alt="Дефлектор" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Элемент крепления к стене</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/10.jpg" alt="Элемент крепления к стене" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Кронштейн с опорой</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/11.jpg" alt="Кронштейн с опорой" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Конденсатосборник</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/12.jpg" alt="Конденсатосборник" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Труба (250 мм - 1000 мм)</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/13.jpg" alt="Труба (250 мм - 1000 мм)" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 15&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/14.jpg" alt="Отвод 15 градусов" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Крышка-ревизия</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/15.jpg" alt="Крышка-ревизия" class="product__image">
                </div>

            </li>

            <li class="product__column">

                <h6 class="product__title">Отвод 30&ordm;</h6>

                <div class="product__image-container">
                    <img src="assets/img/vulkan/16.jpg" alt="Отвод 30 градусов" class="product__image">
                </div>

            </li>

    </div>

    <div class="product__table-container" align="center"></div>

    <div class="product__description-container">

        <span class="product__characteristics-title">Описание:</span>

        <span class="product__description-text">
                Дымоход "Дымок":<br>
                Внутренние диаметры, мм: 100, 110, 115, 120, 130, 150, 180, 200.<br>
                Материал внутреннего и наружного контура дымохода:<br>
                Нержавеющая сталь марки AiSi 439 0,5мм<br>
                Изоляция: Rockwool Wired Mat (Россия)
        </span>

    </div>

</section>
