<section id="carbon" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota Carbon</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/Carbon.jpg" alt="Zota Carbon" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Поверхности внутреннего контура из высококачественной стали;
                    </li>
                    <li class="product__characteristics-item">
                        верхняя загрузка топлива;
                    </li>
                    <li class="product__characteristics-item">
                        удобная чистка теплообменника;
                    </li>
                    <li class="product__characteristics-item">
                        высокая газоплотность;
                    </li>
                    <li class="product__characteristics-item">
                        большое сечение загрузочного люка;
                    </li>
                    <li class="product__characteristics-item">
                        наличие тягорегулятора и возможность регулировки третичного воздуха;
                    </li>
                    <li class="product__characteristics-item">
                        трехходовой газоход;
                    </li>
                    <li class="product__characteristics-item">
                        подвижная колосниковая решетка;
                    </li>
                    <li class="product__characteristics-item">
                        специальная конструкция теплообменника с использованием шамота;
                    </li>
                    <li class="product__characteristics-item">
                        возможность установки блок-ТЭНа мощностью от 3 до 9 кВт с пультом управления;
                    </li>
                    <li class="product__characteristics-item">
                        наличие термоманометра с удобочитаемой шкалой на фронтальной части котла;
                    </li>
                    <li class="product__characteristics-item">
                        рабочее давление 3 атм;
                    </li>
                    <li class="product__characteristics-item">
                        регулируемый патрубок дымохода в комплекте;
                    </li>
                    <li class="product__characteristics-item">
                        запирающаяся загрузочная дверца.
                    </li>
                </ul>
            </div>

            <a href="" class="product__link" ripple-light></a>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
            Стальной отопительный котел «Carbon», использующий в качестве топлива калиброванный уголь фракцией 10 - 50 мм, предназначен для отопления жилых и производственных помещений. Линейк изделий состоит из семи котлов мощностью от 15 о 60 киловатт.<br>
            Главной особенностью этог котла является точная регулировка подаваемого в топку воздуха, обеспечивающая длительный процесс горения и поддерживающая максимальную чистоту теплообменных поверхностей.</span>

            <div class="product__table-container">

                <style id="Zota Carbon_11649_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl1511649 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6311649 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6411649 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6511649 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6611649 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>
                <div id="Zota Carbon_11649" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:724pt" summary="Таблица технических характеристик" border="0" cellspacing="0" cellpadding="0" width="965">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:5280;width:124pt" width="165">
                                <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                    <col style="mso-width-source:userset;mso-width-alt:3840;width:90pt" width="120">
                                        <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                            <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                        </colgroup>
                        <tbody>
                            <tr class="xl6311649" style="mso-height-source:userset;height:52.5pt" height="70">
                                <td class="xl6411649" style="height:52.5pt;width:124pt" height="70" width="165">Тип</td>
                                <td class="xl6411649" style="border-left:none;width:75pt" width="100">Цена</td>
                                <td class="xl6411649" style="border-left:none;width:75pt" width="100">Мощность</td>
                                <td class=" xl6411649 " style="border-left:none;width:75pt " width="100 ">Объём водяной камеры</td>
                                <td class="xl6411649 " style="border-left:none;width:90pt " width="120 ">Габаритные размеры</td>
                                <td class="xl6411649 " style="border-left:none;width:75pt " width="100 ">Объём погрузочной камеры</td>
                                <td class="xl6411649 " style="border-left:none;width:75pt " width="100 ">Диаметр дымохода</td>
                                <td class="xl6411649 " style="border-left:none;width:75pt " width="100 ">Высота дымовой трубы</td>
                                <td class="xl6411649 " style="border-left:none;width:60pt " width="80 ">Масса</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6511649 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Сarbon-15»</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">40&nbsp;900 руб.</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">15&nbsp;кВт</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">48&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:90pt " width="120 ">760х465х970&nbsp;</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">22&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">6&nbsp;м</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:60pt " width="80 ">152&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6511649 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Сarbon-20»</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">46&nbsp;700 руб.</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">20&nbsp;кВт</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">55&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:90pt " width="120 ">775х465х970&nbsp;</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">30&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">7&nbsp;м</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:60pt " width="80 ">176&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6511649 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Сarbon-26»</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">49&nbsp;200 руб.</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">26&nbsp;кВт</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">66&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:90pt " width="120 ">905х465х1090&nbsp;</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">40&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">8&nbsp;м</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:60pt " width="80 ">196&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6511649 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Сarbon-32»</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">54&nbsp;900 руб.</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">32&nbsp;кВт</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">78&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:90pt " width="120 ">905х580х1090&nbsp;</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">58&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">9&nbsp;м</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:60pt " width="80 ">240&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6511649 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Сarbon-40»</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">66&nbsp;900 руб.</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">40&nbsp;кВт</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">93&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:90pt " width="120 ">910х695х1090&nbsp;</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">76&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">180&nbsp;мм</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">11&nbsp;м</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:60pt " width="80 ">284&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6511649 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Сarbon-50»</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">73&nbsp;500 руб.</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">50&nbsp;кВт</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">102&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:90pt " width="120 ">915х695х1170&nbsp;</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">87&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">180&nbsp;мм</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">13&nbsp;м</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:60pt " width="80 ">303&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6511649 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Сarbon-60»</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">86&nbsp;900 руб.</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">60&nbsp;кВт</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">121&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:90pt " width="120 ">915х815х1190&nbsp;</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">110&nbsp;л</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">180&nbsp;мм</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:75pt " width="100 ">15&nbsp;м</td>
                                <td class="xl6611649 " style="border-top:none;border-left:none;width:60pt " width="80 ">375&nbsp;кг</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none " height="0 ">
                                <td style="width:124pt " width="165 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:90pt " width="120 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:60pt " width="80 "></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
