<section id="fr124" class="product">

    <div class="product__container">

        <h2 class="product__name">Регулятор тяги FR-124</h2>

        <div class="container_flex">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/fr124.jpg" alt="Комплект автоматики TurboSet" class="product__image_half">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/zota/fr124-2.jpg" alt="Комплект автоматики TurboSet" class="product__image_half">
                </div>

            </div>

            <span class="product__price">2 500 руб.</span>

    </div>

</section>
