<section id="magna" class="product">

	<div class="product__container">

		<h2 class="product__name">Zota Magna</h2>

		<div class="container_flex-row">

			<div class="product__image-container" style="max-width: 50%;">

				<div class="carousel-cell">
					<img src="assets/img/zota/magna.jpg" alt="Zota Magna" class="product__image">
				</div>

			</div>

			<div class="product__description-container">

				<span class="product__characteristics-title">Характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						Новое изделие ZOTA - котел-полуавтомат ZOTA «Magna» с планируемым диапазоном мощности от 15 до 100 кВт, разработан для сжигания в качестве топлива угля любой фракции, дров и топливных брикетов. В качестве резервного (дополнительного) источника энергии
						можно использовать электричество. Блок ТЭН и модуль управления поставляется опционально;
					</li>
					<li class="product__characteristics-item">

					</li>
					<li class="product__characteristics-item">
						Загрузка топлива производится вручную, а процесс горения поддерживается нагнетаемым с помощью вентилятора воздухом под контролем модуля управления;
					</li>
					<li class="product__characteristics-item">
						Модуль управления, и датчики являются штатной и неотъемлемой частью котла, позволяющей точно контролировать и максимально долго поддерживать процесс горения. Максимально длительный срок горения достигается не только с помощью устройств автоматизации.
						Конструктивные особенности котла исключают подсос воздуха, обеспечивая условия полного сгорания топлива в камере сгорания, создавая свободную циркуляцию теплоносителя и сохраняя тепло, полученное в процессе горения.
					</li>
				</ul>
			</div>

			<span class="product__description-title">Особенности и преимущества:</span>
			<span class="product__description-text_wide">
            Оригинальная конструкция котла позволяет решить, пожалуй, главную проблему большинства полуавтоматов - быстрый выход на штатный режим горения. Котел Magna выходит на номинальный режим в разы быстрее конкурентов, что дает возможность достигнуть большего кпд с одной стороны и избежать активного задымления окружающей среды с другой.
При этом в режиме номинальной мощности котел работает в течение 9-12 часов, а в длительном режиме до 32 часов.
            </span>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed;" cellspacing="0" cellpadding="0" width="995">
					<colgroup>
						<col width="165">
						<col span="3" width="100">
						<col span="2" width="125">
						<col span="2" width="100">
						<col width="80">
					</colgroup>
					<tbody>
						<tr height="70">
							<td>Тип</td>
							<td>Цена</td>
							<td>Мощность</td>
							<td>Объём водяной камеры</td>
							<td>Габаритные размеры</td>
							<td>Объём погрузочной камеры</td>
							<td>Диаметр дымохода</td>
							<td>Высота дымохода</td>
							<td>Масса</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-15</td>
							<td>75 900 руб.</td>
							<td>15 кВт</td>
							<td>70 л</td>
							<td>370 мм</td>
							<td>850x660x1320 </td>
							<td>5 м</td>
							<td>150 мм</td>
							<td>240 кг</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-20</td>
							<td>83 900 руб.</td>
							<td>20 кВт</td>
							<td>90 л</td>
							<td>490 мм</td>
							<td>970x660x1320 </td>
							<td>7 м</td>
							<td>150 мм</td>
							<td>285 кг</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-26</td>
							<td>94 900 руб.</td>
							<td>26 кВт</td>
							<td>110 л</td>
							<td>610 мм</td>
							<td>1090x660x1320 </td>
							<td>9 м</td>
							<td>150 мм</td>
							<td>340 кг</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-35</td>
							<td>112 900 руб.</td>
							<td>35 кВт</td>
							<td>170 л</td>
							<td>720 мм</td>
							<td>1220x700x1580 </td>
							<td>9 м</td>
							<td>180 мм</td>
							<td>450 кг</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-45</td>
							<td>124 900 руб.</td>
							<td>45 кВт</td>
							<td>210 л</td>
							<td>720 мм</td>
							<td>1220x700x1820 </td>
							<td>11 м</td>
							<td>180 мм</td>
							<td>508 кг</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-60</td>
							<td>167 900 руб.</td>
							<td>60 кВт</td>
							<td>280 л</td>
							<td>610 мм</td>
							<td>1165х1275х1775 </td>
							<td>9 м</td>
							<td>250 мм</td>
							<td>680 кг</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-80</td>
							<td>192 900 руб.</td>
							<td>80 кВт</td>
							<td>350 л</td>
							<td>725 мм</td>
							<td>1280х1275х1845 </td>
							<td>11 м</td>
							<td>250 мм</td>
							<td>780 кг</td>
						</tr>
						<tr height="25 ">
							<td>Zota «Magna»-100</td>
							<td>209 900 руб.</td>
							<td>100 кВт</td>
							<td>370 л</td>
							<td>725 мм</td>
							<td>1280х1275х2000 </td>
							<td>13 м</td>
							<td>250 мм</td>
							<td>870 кг</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none " height="0 ">
							<td style="width:124pt " width="165 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:94pt " width="125 "></td>
							<td style="width:94pt " width="125 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:60pt " width="80 "></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>

			</div>

		</div>

	</div>

</section>
