<section id="master" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota Master</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/master.jpg" alt="Zota Master" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Высокая степень теплоизоляции и газоплотности, теплообменник комбинированного типа;
                    </li>
                    <li class="product__characteristics-item">
                        Корпус котла под декоративной обшивкой изолирован базальтовым картоном;
                    </li>
                    <li class="product__characteristics-item">
                        Комбинированный теплообменник, состоящий из трубного отсека;
                    </li>
                    <li class="product__characteristics-item">
                        Предусмотрена установка механического тягорегулятора;
                    </li>
                    <li class="product__characteristics-item">
                        Камера сгорания рассчитана под эффективное сгорание угля и прекрасно подходит под использование дров. В самый большой по мощности котел можно укладывать дрова длиной до 70 см. А модель «Master-20» подходит для установки газовой горелки, что делает ее наиболее универсальной. Все котлы могут быть укомплектованы блок-ТЭНом мощностью до 9 кВт;
                    </li>
                    <li class="product__characteristics-item">
                        Применение блок-ТЭНа в комбинации с пультом управления позволяет сгладить температурные провалы и сделать процесс отопления более комфортным.
                    </li>
                    <li class="product__characteristics-item">
                        Возможность дополнительной установки комплекта ТЭНБ 2"
                    </li>
                </ul>
            </div>

            <a href="//zota.ru/static/uploaded/documentation/entries/files/Pasport_Zota_Master_12-32.pdf" class="product__link" ripple-light>Скачать/посмотреть паспорт и инструкцию по эксплуатации</a>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
            Котёл отопительный твердотопливный «Мaster» это модель в ряду твердотопливных стальных котлов «ZOTA». Данная модель была создана как некая параллель котла «Дымок»: доступный, массовый, простой, но технологически более продвинутый и современный. Котлы «Master» созданы для работы в автономных отопительных системах с рабочим давлением до 3 атмосфер и могут использоваться для отопления жилых и производственных помещений. Линейка состоит из пяти котлов от 12 до 32 кВт. Все модели снабжены варочной поверхностью со съемной конфоркой, кроме модели «Master-20».
            </span>

            <div class="product__table-container">

                <style id="Zota Master_17659_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl1517659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6317659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6417659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6517659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6617659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>

                <div id="Zota Master_17659" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:724pt" summary="Таблица технических характеристик" border="0" cellspacing="0" cellpadding="0" width="965">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:5280;width:124pt" width="165">
                                <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                    <col style="mso-width-source:userset;mso-width-alt:3840;width:90pt" width="120">
                                        <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                            <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                        </colgroup>
                        <tbody>
                            <tr class="xl6317659" style="mso-height-source:userset;height:52.5pt" height="70">
                                <td class="xl6417659" style="height:52.5pt;width:124pt" height="70" width="165">Тип</td>
                                <td class="xl6417659" style="border-left:none;width:75pt" width="100">Цена</td>
                                <td class="xl6417659" style="border-left:none;width:75pt" width="100">Мощность</td>
                                <td class=" xl6417659 " style="border-left:none;width:75pt " width="100 ">Объём водяной камеры</td>
                                <td class="xl6417659 " style="border-left:none;width:90pt " width="120 ">Габаритные размеры</td>
                                <td class="xl6417659 " style="border-left:none;width:75pt " width="100 ">Объём погрузочной камеры</td>
                                <td class="xl6417659 " style="border-left:none;width:75pt " width="100 ">Диаметр дымохода</td>
                                <td class="xl6417659 " style="border-left:none;width:75pt " width="100 ">Высота дымовой трубы</td>
                                <td class="xl6417659 " style="border-left:none;width:60pt " width="80 ">Масса</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Master-12»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">24&nbsp;390 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">12&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">33&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">720х440х670&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">32&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">5&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">105&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Master-14»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">23&nbsp;990 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">14&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">40&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">720х440х720&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">32&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">5&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">103&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Master-18»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">28&nbsp;390 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">18&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">45&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">820х440х720&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">38&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">5&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">126&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Master-20»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">27&nbsp;790 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">20&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">53&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">820х440х760&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">40&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">5&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">128&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Master-25»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">32&nbsp;590 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">25&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">56&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">900х500х720&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">52&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">6&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">154&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Master-32»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">36&nbsp;590 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">32&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">62&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">1000х500х720&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">61&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">7&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">174&nbsp;кг</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none " height="0 ">
                                <td style="width:124pt " width="165 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:90pt " width="120 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:60pt " width="80 "></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
