<section id="pellet" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota Pellet</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/pellet.jpg" alt="Zota Pellet" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Высокая степень автоматизации процесса отопления;
                    </li>
                    <li class="product__characteristics-item">
                        Экологичность и чистота;
                    </li>
                    <li class="product__characteristics-item">
                        Автоматика для поддержания установленной температуры теплоносителя;
                    </li>
                    <li class="product__characteristics-item">
                        Система безопасности от перегрева и проникновения;
                    </li>
                    <li class="product__characteristics-item">
                        Применение двушнековой подачи обеспечивает пассивную пожаробезопасность.
                    </li>
                    <li class="product__characteristics-item">
                        При достижении установленной температуры котёл входит в режим ожидания.
                    </li>
                    <li class="product__characteristics-item">
                        Система автоматического розжига;
                    </li>
                    <li class="product__characteristics-item">
                        Хронотермостат и программа погодозависимого управления;
                    </li>
                    <li class="product__characteristics-item">
                        «GSM»-модуль даёт возможность контролировать процесс отопления дистанционно , устанавливаемый опционально на любую модель пеллетных котлов.
                    </li>
                </ul>
            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
                Линейка котлов под маркой ZOTA «Pellet» состоит из пяти моделей мощностью 15, 25, 40, 63 и 100 кВт. Топливом служит продукция переработки древесины – изготовленные путём прессования без связывающих добавок древесные опилки хвойных и лиственных пород – пеллеты.<br>
                Пеллетные котлы ZOTA «Pellet» с водяным контуром охлаждения и шнековым механизмом подачи топлива предназначены для теплоснабжения зданий, оборудованных системой водяного отопления с принудительной циркуляцией.<br>
                Котёл работает в системах с давлением теплоносителя 3 атмосферы, а высокая газоплотность и точность контроля и изменения объёма подаваемого в топку воздуха дают возможность уменьшать мощность котла до 50% от номинала.
            </span>

            <div class="product__table-container">

                <style id="Zota Magna_16206_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl1516206 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6316206 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6416206 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6516206 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6616206 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6716206 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>
                <div id="Zota Magna_16206" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:747pt" summary="Таблица технических характеристик" border="0" cellspacing="0" cellpadding="0" width="995">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:5280;width:124pt" width="165">
                                <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                    <col style="mso-width-source:userset;mso-width-alt:4000;width:94pt" span="2" width="125">
                                        <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="2" width="100">
                                            <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                        </colgroup>
                        <tbody>
                            <tr class="xl6316206" style="mso-height-source:userset;height:52.5pt" height="70">
                                <td class="xl6416206" style="height:52.5pt;width:124pt" height="70" width="165">Тип</td>
                                <td class="xl6416206" style="border-left:none;width:75pt" width="100">Цена</td>
                                <td class="xl6416206" style="border-left:none;width:75pt" width="100"><span data-tooltip="Номинальная тепловая мощность, кВт">Мощность</span>
                                </td>
                                <td class="xl6416206" style="border-left:none;width:75pt" width="100">Объём водяной камеры</td>
                                <td class="xl6416206" style="border-left:none;width:94pt" width="125">Габаритные размеры</td>
                                <td class="xl6416206" style="border-left:none;width:94pt" width="125">Объём погрузочной камеры</td>
                                <td class="xl6416206" style="border-left:none;width:75pt" width="100">Диаметр дымохода</td>
                                <td class="xl6416206" style="border-left:none;width:75pt" width="100">Высота дымовой трубы</td>
                                <td class="xl6416206" style="border-left:none;width:60pt" width="80">Масса</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6516206" style="height:18.75pt;border-top:none;width:124pt" height="25" width="165">ZOTA «Pellet»-15S</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">162&nbsp;000 руб.</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">15&nbsp;кВт</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">96&nbsp;л</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">1060х1140х1570&nbsp;</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">150&nbsp;мм</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">6&nbsp;м</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">333&nbsp;кг</td>
                                <td class="xl6716206" style="border-top:none;border-left:none;width:60pt" width="80">318</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6516206" style="height:18.75pt;border-top:none;width:124pt" height="25" width="165">ZOTA "Pellet"-20S</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">179&nbsp;000 руб.</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">20&nbsp;кВт</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">93&nbsp;л</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">1060х1140х1570&nbsp;</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">150&nbsp;мм</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">7&nbsp;м</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">340&nbsp;кг</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:60pt" width="80">--</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6516206" style="height:18.75pt;border-top:none;width:124pt" height="25" width="165">ZOTA «Pellet»-25А</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">196&nbsp;000 руб.</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">25&nbsp;кВт</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">84&nbsp;л</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">1060х1230х1415&nbsp;</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">150&nbsp;мм</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">6&nbsp;м</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">357&nbsp;кг</td>
                                <td class="xl6716206" style="border-top:none;border-left:none;width:60pt" width="80">357</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6516206" style="height:18.75pt;border-top:none;width:124pt" height="25" width="165">ZOTA «Pellet»-40А</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">227&nbsp;000 руб.</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">40&nbsp;кВт</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">130&nbsp;л</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">1220х1280х1530&nbsp;</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">180&nbsp;мм</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">7&nbsp;м</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">490&nbsp;кг</td>
                                <td class="xl6716206" style="border-top:none;border-left:none;width:60pt" width="80">490</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6516206" style="height:18.75pt;border-top:none;width:124pt" height="25" width="165">ZOTA «Pellet»-63А</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">319&nbsp;000 руб.</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">63&nbsp;кВт</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">214&nbsp;л</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">1405х1500х1590&nbsp;</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">180&nbsp;мм</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">9&nbsp;м</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">677&nbsp;кг</td>
                                <td class="xl6716206" style="border-top:none;border-left:none;width:60pt" width="80">677</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6516206" style="height:18.75pt;border-top:none;width:124pt" height="25" width="165">ZOTA«Pellet»-100А</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">379&nbsp;000 руб.</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">100&nbsp;кВт</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">277&nbsp;л</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">1525х1500х1685&nbsp;</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:94pt" width="125">180&nbsp;мм</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">12&nbsp;м</td>
                                <td class="xl6616206" style="border-top:none;border-left:none;width:75pt" width="100">829&nbsp;кг</td>
                                <td class="xl6716206" style="border-top:none;border-left:none;width:60pt" width="80">829</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:124pt" width="165"></td>
                                <td style="width:75pt" width="100"></td>
                                <td style="width:75pt" width="100"></td>
                                <td style="width:75pt" width="100"></td>
                                <td style="width:94pt" width="125"></td>
                                <td style="width:94pt" width="125"></td>
                                <td style="width:75pt" width="100"></td>
                                <td style="width:75pt" width="100"></td>
                                <td style="width:60pt" width="80"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
