<section id="stakhanov" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota Стаханов</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/stakhanov.jpg" alt="Zota Стаханов" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Автоматическая подача топлива;
                    </li>
                    <li class="product__characteristics-item">
                        В систему автоматики включен хронотермостат, позволяющий задать изменение температурных режимов в зависимости от времени суток и дня недели.
                    </li>
                    <li class="product__characteristics-item">
                        Пониженная мощность энергопотребления (260 Вт), что снижает стоимость дополнительного оборудования (источника бесперебойного питания);
                    </li>
                    <li class="product__characteristics-item">
                        работа в закрытых отопительных системах с давлением до 3 атмосфер;
                    </li>
                    <li class="product__characteristics-item">
                        герметичный бункер;
                    </li>
                    <li class="product__characteristics-item">
                        возможность установки блок-ТЭНа мощностью от 3 до 15 кВт с автоматикой (в зависимости от мощности котла);
                    </li>
                    <li class="product__characteristics-item">
                        возможность использования дров в качестве резервного топлива (работа в ручном режиме; колосники в комплекте)
                    </li>
                    <li class="product__characteristics-item">
                        лицензионный Windows CE;
                    </li>
                    <li class="product__characteristics-item">
                        ЖК-экран;
                    </li>
                    <li class="product__characteristics-item">
                        погодозависимое управление.
                    </li>
                </ul>
            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
                Основным преимуществом котлов с автоматической подачей топлива является возможность организации процесса отопления с длительным сроком горения (до семи суток) без добавления топлива. (Длительность горения зависит от теплопотерь помещения, установок котла и калорийности угля)<br>
                Линейка котлов «Стаханов» состоит из пяти изделий мощностью 15, 25, 40, 63 и 100 кВт и предназначена для автономных отопительных систем жилых и производственных помещений площадью до 1000 м2. Котел-использует в качестве топлива неспекающиеся сорта угля с фракцией до 50 мм. Альтернативой в качестве основного топлива могут служить пеллеты.
            </span>

            <div class="product__table-container">

                <style id="Zota Стаханов_9637_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl159637 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl639637 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl649637 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl659637 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl669637 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>
                <div id="Zota Стаханов_9637" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:728pt" summary="Таблица технических характеристик" border="0" cellspacing="0" cellpadding="0" width="970">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:5280;width:124pt" width="165">
                                <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                    <col style="mso-width-source:userset;mso-width-alt:4000;width:94pt" width="125">
                                        <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                            <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                        </colgroup>
                        <tbody>
                            <tr class="xl639637" style="mso-height-source:userset;height:52.5pt" height="70">
                                <td class="xl649637" style="height:52.5pt;width:124pt" height="70" width="165">Тип</td>
                                <td class="xl649637" style="border-left:none;width:75pt" width="100">Цена</td>
                                <td class="xl649637" style="border-left:none;width:75pt" width="100">Мощность</td>
                                <td class=" xl649637 " style="border-left:none;width:75pt " width="100 ">Объём водяной камеры</td>
                                <td class="xl649637 " style="border-left:none;width:94pt " width="125 ">Габаритные размеры</td>
                                <td class="xl649637 " style="border-left:none;width:75pt " width="100 ">Объём погрузочной камеры</td>
                                <td class="xl649637 " style="border-left:none;width:75pt " width="100 ">Диаметр дымохода</td>
                                <td class="xl649637 " style="border-left:none;width:75pt " width="100 ">Высота дымовой трубы</td>
                                <td class="xl649637 " style="border-left:none;width:60pt " width="80 ">Масса</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl659637 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">«Стаханов»-15</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">197&nbsp;000 руб.</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">15&nbsp;кВт</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">65&nbsp;л</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:94pt " width="125 ">1040х1605х1650&nbsp;</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">5&nbsp;м</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">400&nbsp;кг</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:60pt " width="80 ">30&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl659637 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">«Стаханов»-25</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">218&nbsp;000 руб.</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">25&nbsp;кВт</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">84&nbsp;л</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:94pt " width="125 ">1065х1605х1660&nbsp;</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">6&nbsp;м</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">430&nbsp;кг</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:60pt " width="80 ">49&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl659637 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">«Стаханов»-40</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">259&nbsp;000 руб.</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">40&nbsp;кВт</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">130&nbsp;л</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:94pt " width="125 ">1210х1665х1710&nbsp;</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">180&nbsp;мм</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">7&nbsp;м</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">545&nbsp;кг</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:60pt " width="80 ">79&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl659637 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">«Стаханов»-63</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">345&nbsp;000 руб.</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">63&nbsp;кВт</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">214&nbsp;л</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:94pt " width="125 ">1360х1785х1815&nbsp;</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">180&nbsp;мм</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">9&nbsp;м</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">710&nbsp;кг</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:60pt " width="80 ">124&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl659637 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">«Стаханов»-100</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">399&nbsp;000 руб.</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">100&nbsp;кВт</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">277&nbsp;л</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:94pt " width="125 ">1610х1785х1940&nbsp;</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">250&nbsp;мм</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">12&nbsp;м</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:75pt " width="100 ">880&nbsp;кг</td>
                                <td class="xl669637 " style="border-top:none;border-left:none;width:60pt " width="80 ">196&nbsp;кг</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none " height="0 ">
                                <td style="width:124pt " width="165 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:94pt " width="125 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:60pt " width="80 "></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
