<section id="tens" class="product">

	<div class="product__container">

		<h2 class="product__name">Комплект ТЭНБ 2"</h2>

		<div class="container_flex-row">

			<div class="product__image-container" style="max-width: 50%">

				<div class="carousel-cell">
					<img src="assets/img/zota/tens.jpg" alt='Комплект ТЭНБ 2"' class="product__image" style="height: auto">
				</div>

			</div>

			<div class="product__description-container" style="min-height: auto">

				<span class="product__characteristics-title">Комплектация и характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						ТЭНБ (3; 4,5; 6; 7,5; 9; 12; 15 кВт) – блок нагревательных элементов;
					</li>
					<li class="product__characteristics-item">
						ПУ ЭВТ (3; 6; 9; 12; 15 кВт) – панель управления нагревательными элементами с датчиками температуры теплоносителя и воздуха;
					</li>
					<li class="product__characteristics-item">
						Кабель соединительный медный сечение - 4 кв. мм, длина = 2 м;
					</li>
					<li class="product__characteristics-item">
						ТЭНБ – блок с тремя нагревательными элементами из нержавеющей стали. Оригинальная форма нагревателей в виде спиралей обеспечивает больший срок службы и возможность безаварийной работы с незамерзающими теплоносителями;
					</li>
					<li class="product__characteristics-item">
						ПУ ЭВТ – панель управления, позволяет контролировать температуру по двум температурным каналам: по температуре теплоносителя и по температуре воздуха. Использование панели управления возможно не только для обеспечения функции безопасности системы топления,
						но и для поддержания необходимой и достаточной температуры, которая сэкономит Вам деньги при оплате счетов за электричество.
					</li>
				</ul>
			</div>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed" cellspacing="0" cellpadding="0" width="380">
					<colgroup>
						<col width="150">
						<col width="100">
						<col width="130">
					</colgroup>
					<tbody>
						<tr height="40">
							<td>Тип</td>
							<td>Цена</td>
							<td>Артикул</td>
						</tr>
						<tr height="20">
							<td>Комплект 3 кВт</td>
							<td>5 840 руб.</td>
							<td>КТ 344332 0003 </td>
						</tr>
						<tr height="20">
							<td>Комплект 4,5 кВт</td>
							<td>6 030 руб.</td>
							<td>КТ 344332 0004 </td>
						</tr>
						<tr height="20">
							<td>Комплект 6 кВт</td>
							<td>6 070 руб.</td>
							<td>КТ 344332 0006 </td>
						</tr>
						<tr height="20">
							<td>Комплект 7,5 кВт</td>
							<td>6 470 руб.</td>
							<td>КТ 344332 0007 </td>
						</tr>
						<tr height="20">
							<td>Комплект 9 кВт</td>
							<td>6 570 руб.</td>
							<td>КТ 344332 0009 </td>
						</tr>
						<tr height="20">
							<td>Комплект 12 кВт</td>
							<td>7 070 руб.</td>
							<td>КТ 344332 0012 </td>
						</tr>
						<tr height="20">
							<td>Комплект 15 кВт</td>
							<td>7 470 руб.</td>
							<td>КТ 344332 0015 </td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td style="width:113pt" width="150"></td>
							<td style="width:75pt" width="100"></td>
							<td style="width:98pt" width="130"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>
			</div>

		</div>

	</div>

</section>
