<section id="tens" class="product">

    <div class="product__container">

        <h2 class="product__name">Комплект ТЭНБ 2"</h2>

        <div class="container_flex-row">

            <div class="product__image-container" style="max-width: 50%">

                <div class="carousel-cell">
                    <img src="assets/img/zota/tens.jpg" alt='Комплект ТЭНБ 2"' class="product__image" style="height: auto">
                </div>

            </div>

            <div class="product__description-container" style="min-height: auto">

                <span class="product__characteristics-title">Комплектация и характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        ТЭНБ (3; 4,5; 6; 7,5; 9; 12; 15 кВт) – блок нагревательных элементов;
                    </li>
                    <li class="product__characteristics-item">
                        ПУ ЭВТ (3; 6; 9; 12; 15 кВт) – панель управления нагревательными элементами с датчиками температуры теплоносителя и воздуха;
                    </li>
                    <li class="product__characteristics-item">
                        Кабель соединительный медный сечение - 4 кв. мм, длина = 2 м;
                    </li>
                    <li class="product__characteristics-item">
                        ТЭНБ – блок с тремя нагревательными элементами из нержавеющей стали. Оригинальная форма нагревателей в виде спиралей обеспечивает больший срок службы и возможность безаварийной работы с незамерзающими теплоносителями;
                    </li>
                    <li class="product__characteristics-item">
                        ПУ ЭВТ – панель управления, позволяет контролировать температуру по двум температурным каналам: по температуре теплоносителя и по температуре воздуха. Использование панели управления возможно не только для обеспечения функции безопасности системы топления, но и для поддержания необходимой и достаточной температуры, которая сэкономит Вам деньги при оплате счетов за электричество.
                    </li>
                </ul>
            </div>

            <div class="product__table-container">

                <div class="witget-html">
                    <style id="Комлпект ТЭНБ_12339_Styles">
                        table {
                            mso-displayed-decimal-separator: "\,";
                            mso-displayed-thousand-separator: " ";
                        }

                        .xl1512339 {
                            padding: 1px;
                            mso-ignore: padding;
                            color: #000;
                            font-size: 11.0pt;
                            font-weight: 400;
                            font-style: normal;
                            text-decoration: none;
                            font-family: Calibri, sans-serif;
                            mso-font-charset: 204;
                            mso-number-format: General;
                            text-align: general;
                            vertical-align: bottom;
                            mso-background-source: auto;
                            mso-pattern: auto;
                            white-space: nowrap;
                        }

                        .xl6312339 {
                            padding: 1px;
                            mso-ignore: padding;
                            color: #000;
                            font-size: 11.0pt;
                            font-weight: 400;
                            font-style: normal;
                            text-decoration: none;
                            font-family: Calibri, sans-serif;
                            mso-font-charset: 204;
                            mso-number-format: General;
                            text-align: general;
                            vertical-align: middle;
                            mso-background-source: auto;
                            mso-pattern: auto;
                            white-space: nowrap;
                        }

                        .xl6412339 {
                            padding: 1px;
                            mso-ignore: padding;
                            color: #000;
                            font-size: 11.0pt;
                            font-weight: 700;
                            font-style: normal;
                            text-decoration: none;
                            font-family: Calibri, sans-serif;
                            mso-font-charset: 204;
                            mso-number-format: General;
                            text-align: center;
                            vertical-align: middle;
                            border: .5pt solid #000;
                            mso-background-source: auto;
                            mso-pattern: auto;
                            white-space: normal;
                        }

                        .xl6512339 {
                            padding: 1px;
                            mso-ignore: padding;
                            color: #000;
                            font-size: 11.0pt;
                            font-weight: 400;
                            font-style: normal;
                            text-decoration: none;
                            font-family: Calibri, sans-serif;
                            mso-font-charset: 204;
                            mso-number-format: General;
                            text-align: left;
                            vertical-align: middle;
                            border: .5pt solid #000;
                            mso-background-source: auto;
                            mso-pattern: auto;
                            white-space: normal;
                        }

                        .xl6612339 {
                            padding: 1px;
                            mso-ignore: padding;
                            color: #000;
                            font-size: 11.0pt;
                            font-weight: 400;
                            font-style: normal;
                            text-decoration: none;
                            font-family: Calibri, sans-serif;
                            mso-font-charset: 204;
                            mso-number-format: General;
                            text-align: center;
                            vertical-align: middle;
                            border: .5pt solid #000;
                            mso-background-source: auto;
                            mso-pattern: auto;
                            white-space: normal;
                        }
                    </style>
                    <div id="Комлпект ТЭНБ_12339" x:publishsource="Excel" align="center">
                        <table style="border-collapse:collapse;table-layout:fixed;width:286pt" summary="Таблица технических характеристик" border="0" cellspacing="0" cellpadding="0" width="380">
                            <colgroup>
                                <col style="mso-width-source:userset;mso-width-alt:4800;width:113pt" width="150">
                                    <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" width="100">
                                        <col style="mso-width-source:userset;mso-width-alt:4160;width:98pt" width="130">
                            </colgroup>
                            <tbody>
                                <tr class="xl6312339" style="mso-height-source:userset;height:30.0pt" height="40">
                                    <td class="xl6412339" style="height:30.0pt;width:113pt" height="40" width="150">Тип</td>
                                    <td class="xl6412339" style="border-left:none;width:75pt" width="100">Цена</td>
                                    <td class="xl6412339" style="border-left:none;width:98pt" width="130">Артикул</td>
                                </tr>
                                <tr style="height:15.0pt" height="20">
                                    <td class="xl6512339" style="height:15.0pt;border-top:none;width:113pt" height="20" width="150">Комплект 3 кВт</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:75pt" width="100">5&nbsp;840 руб.</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:98pt" width="130">КТ 344332 0003&nbsp;</td>
                                </tr>
                                <tr style="height:15.0pt" height="20">
                                    <td class="xl6512339" style="height:15.0pt;border-top:none;width:113pt" height="20" width="150">Комплект 4,5 кВт</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:75pt" width="100">6&nbsp;030 руб.</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:98pt" width="130">КТ 344332 0004&nbsp;</td>
                                </tr>
                                <tr style="height:15.0pt" height="20">
                                    <td class="xl6512339" style="height:15.0pt;border-top:none;width:113pt" height="20" width="150">Комплект 6 кВт</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:75pt" width="100">6&nbsp;070 руб.</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:98pt" width="130">КТ 344332 0006&nbsp;</td>
                                </tr>
                                <tr style="height:15.0pt" height="20">
                                    <td class="xl6512339" style="height:15.0pt;border-top:none;width:113pt" height="20" width="150">Комплект 7,5 кВт</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:75pt" width="100">6&nbsp;470 руб.</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:98pt" width="130">КТ 344332 0007&nbsp;</td>
                                </tr>
                                <tr style="height:15.0pt" height="20">
                                    <td class="xl6512339" style="height:15.0pt;border-top:none;width:113pt" height="20" width="150">Комплект 9 кВт</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:75pt" width="100">6&nbsp;570 руб.</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:98pt" width="130">КТ 344332 0009&nbsp;</td>
                                </tr>
                                <tr style="height:15.0pt" height="20">
                                    <td class="xl6512339" style="height:15.0pt;border-top:none;width:113pt" height="20" width="150">Комплект 12 кВт</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:75pt" width="100">7&nbsp;070 руб.</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:98pt" width="130">КТ 344332 0012&nbsp;</td>
                                </tr>
                                <tr style="height:15.0pt" height="20">
                                    <td class="xl6512339" style="height:15.0pt;border-top:none;width:113pt" height="20" width="150">Комплект 15 кВт</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:75pt" width="100">7&nbsp;470 руб.</td>
                                    <td class="xl6612339" style="border-top:none;border-left:none;width:98pt" width="130">КТ 344332 0015&nbsp;</td>
                                </tr>
                                <!--[if supportMisalignedColumns]-->
                                <tr style="display:none" height="0">
                                    <td style="width:113pt" width="150"></td>
                                    <td style="width:75pt" width="100"></td>
                                    <td style="width:98pt" width="130"></td>
                                </tr>
                                <!--[endif]-->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

</section>
