<section id="" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota </h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/.jpg" alt="Zota " class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">

                    </li>
                </ul>
            </div>

            <a href="" class="product__link" ripple-light></a>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide"></span>

            <div class="product__table-container"></div>

        </div>

    </div>

</section>
