<section id="topol-m" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota Тополь-М</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/topol-m.jpg" alt="Zota Тополь-М" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Корпус котла стал теплоизолированным и более газоплотным;
                    </li>
                    <li class="product__characteristics-item">
                        Водяная рубашка котла покрыта базальтовым картоном;
                    </li>
                    <li class="product__characteristics-item">
                        Дверца зольника оборудована поддувальной заслонкой;
                    </li>
                    <li class="product__characteristics-item">
                        Увеличившаяся газоплотность позволяет продлить цикл горения топлива на одной загрузке до 10 -12 часов;
                    </li>
                    <li class="product__characteristics-item">
                        На верхней панели котла установлен термометр, измеряющий температуру подачи воды;
                    </li>
                    <li class="product__characteristics-item">
                        «Тополь-М» использует в качестве топлива уголь и дрова;
                    </li>
                    <li class="product__characteristics-item">
                        Возможно электроотопление, которое обеспечивает встраиваемый блок-ТЭН с внешним пультом управления;
                    </li>
                    <li class="product__characteristics-item">
                        Возможна установка газовой горелки на место шуровочной дверцы;
                    </li>
                    <li class="product__characteristics-item">
                        Глубина топки составляет от 38 до 58 см;
                    </li>
                    <li class="product__characteristics-item">
                        Возможность дополнительной установки комплекта ТЭНБ 2".
                    </li>
                </ul>
            </div>

            <a href="//zota.ru/static/uploaded/documentation/entries/files/pasport_topol-m_14-42.pdf" class="product__link" ripple-light>Скачать/посмотреть паспорт и инструкцию по эксплуатации</a>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
                Котел отопительный твердотопливный «Тополь-М» это модификация котла «Тополь». Он предназначен для работы в автономных отопительных системах с рабочим давлением до 3 атмосфер и может использоваться для отопления жилых и производственных помещений.<br>
                Новая линейка была расширена на одну модель меньшей мощности и состоит из трех котлов 14, 20 и 30 кВт. Отличий от предыдущей модели много и они весьма значительные. Первое, что бросается в глаза - новый дизайн. Остальное менее заметно, но гораздо важнее.
            </span>

            <div class="product__table-container">

                <style id="Zota Master_17659_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl1517659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6317659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6417659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6517659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6617659 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>
                <div id="Zota Master_17659" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:724pt" summary="Таблица технических характеристик" border="0" cellspacing="0" cellpadding="0" width="965">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:5280;width:124pt" width="165">
                                <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                    <col style="mso-width-source:userset;mso-width-alt:3840;width:90pt" width="120">
                                        <col style="mso-width-source:userset;mso-width-alt:3200;width:75pt" span="3" width="100">
                                            <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                        </colgroup>
                        <tbody>
                            <tr class="xl6317659" style="mso-height-source:userset;height:52.5pt" height="70">
                                <td class="xl6417659" style="height:52.5pt;width:124pt" height="70" width="165">Тип</td>
                                <td class="xl6417659" style="border-left:none;width:75pt" width="100">Цена</td>
                                <td class="xl6417659" style="border-left:none;width:75pt" width="100">Мощность</td>
                                <td class=" xl6417659 " style="border-left:none;width:75pt " width="100 ">Объём водяной камеры</td>
                                <td class="xl6417659 " style="border-left:none;width:90pt " width="120 ">Габаритные размеры</td>
                                <td class="xl6417659 " style="border-left:none;width:75pt " width="100 ">Объём погрузочной камеры</td>
                                <td class="xl6417659 " style="border-left:none;width:75pt " width="100 ">Диаметр дымохода</td>
                                <td class="xl6417659 " style="border-left:none;width:75pt " width="100 ">Высота дымовой трубы</td>
                                <td class="xl6417659 " style="border-left:none;width:60pt " width="80 ">Масса</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Тополь-14»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">28&nbsp;290 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">14&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">46&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">690х440х845&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">38&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">6&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">113&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Тополь-20»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">31&nbsp;990 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">20&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">54&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">790х440х845&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">46&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">7&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">140&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Тополь-30»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">35&nbsp;890 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">30&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">64&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">890х440х845&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">53&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">150&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">9&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">163&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt " height="25 ">
                                <td class="xl6517659 " style="height:18.75pt;border-top:none;width:124pt " height="25 " width="165 ">ZOTA «Тополь-42»</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">48&nbsp;990 руб.</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">42&nbsp;кВт</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">78&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:90pt " width="120 ">1270х430х1130&nbsp;</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">84&nbsp;л</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">180&nbsp;мм</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:75pt " width="100 ">9&nbsp;м</td>
                                <td class="xl6617659 " style="border-top:none;border-left:none;width:60pt " width="80 ">210&nbsp;кг</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none " height="0 ">
                                <td style="width:124pt " width="165 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:90pt " width="120 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:75pt " width="100 "></td>
                                <td style="width:60pt " width="80 "></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
