<section id="topol-m" class="product">

	<div class="product__container">

		<h2 class="product__name">Zota Тополь-М</h2>

		<div class="container_flex-row">

			<div class="product__image-container">

				<div class="carousel-cell">
					<img src="assets/img/zota/topol-m.jpg" alt="Zota Тополь-М" class="product__image">
				</div>

			</div>

			<div class="product__description-container">

				<span class="product__characteristics-title">Характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						Корпус котла стал теплоизолированным и более газоплотным;
					</li>
					<li class="product__characteristics-item">
						Водяная рубашка котла покрыта базальтовым картоном;
					</li>
					<li class="product__characteristics-item">
						Дверца зольника оборудована поддувальной заслонкой;
					</li>
					<li class="product__characteristics-item">
						Увеличившаяся газоплотность позволяет продлить цикл горения топлива на одной загрузке до 10 -12 часов;
					</li>
					<li class="product__characteristics-item">
						На верхней панели котла установлен термометр, измеряющий температуру подачи воды;
					</li>
					<li class="product__characteristics-item">
						«Тополь-М» использует в качестве топлива уголь и дрова;
					</li>
					<li class="product__characteristics-item">
						Возможно электроотопление, которое обеспечивает встраиваемый блок-ТЭН с внешним пультом управления;
					</li>
					<li class="product__characteristics-item">
						Возможна установка газовой горелки на место шуровочной дверцы;
					</li>
					<li class="product__characteristics-item">
						Глубина топки составляет от 38 до 58 см;
					</li>
					<li class="product__characteristics-item">
						Возможность дополнительной установки комплекта ТЭНБ 2".
					</li>
				</ul>
			</div>

			<a href="//zota.ru/static/uploaded/documentation/entries/files/pasport_topol-m_14-42.pdf" class="product__link" ripple-light>Скачать/посмотреть паспорт и инструкцию по эксплуатации</a>

			<span class="product__description-title">Особенности и преимущества:</span>
			<span class="product__description-text_wide">
                Котел отопительный твердотопливный «Тополь-М» это модификация котла «Тополь». Он предназначен для работы в автономных отопительных системах с рабочим давлением до 3 атмосфер и может использоваться для отопления жилых и производственных помещений.<br>
                Новая линейка была расширена на одну модель меньшей мощности и состоит из трех котлов 14, 20 и 30 кВт. Отличий от предыдущей модели много и они весьма значительные. Первое, что бросается в глаза - новый дизайн. Остальное менее заметно, но гораздо важнее.
            </span>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed" cellspacing="0" cellpadding="0" width="965">
					<colgroup>
						<col width="165">
						<col span="3" width="100">
						<col width="120">
						<col span="3" width="100">
						<col width="80">
					</colgroup>
					<tbody>
						<tr height="70">
							<td>Тип</td>
							<td>Цена</td>
							<td>Мощность</td>
							<td>Объём водяной камеры</td>
							<td>Габаритные размеры</td>
							<td>Объём погрузочной камеры</td>
							<td>Диаметр дымохода</td>
							<td>Высота дымовой трубы</td>
							<td>Масса</td>
						</tr>
						<tr height="25">
							<td>ZOTA «Тополь-14»</td>
							<td>28 290 руб.</td>
							<td>14 кВт</td>
							<td>46 л</td>
							<td>690х440х845 </td>
							<td>38 л</td>
							<td>150 мм</td>
							<td>6 м</td>
							<td>113 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA «Тополь-20»</td>
							<td>31 990 руб.</td>
							<td>20 кВт</td>
							<td>54 л</td>
							<td>790х440х845 </td>
							<td>46 л</td>
							<td>150 мм</td>
							<td>7 м</td>
							<td>140 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA «Тополь-30»</td>
							<td>35 890 руб.</td>
							<td>30 кВт</td>
							<td>64 л</td>
							<td>890х440х845 </td>
							<td>53 л</td>
							<td>150 мм</td>
							<td>9 м</td>
							<td>163 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA «Тополь-42»</td>
							<td>48 990 руб.</td>
							<td>42 кВт</td>
							<td>78 л</td>
							<td>1270х430х1130 </td>
							<td>84 л</td>
							<td>180 мм</td>
							<td>9 м</td>
							<td>210 кг</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none " height="0 ">
							<td style="width:124pt " width="165 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:90pt " width="120 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:75pt " width="100 "></td>
							<td style="width:60pt " width="80 "></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>

			</div>

		</div>

	</div>

</section>
