<section id="turboset" class="product">

    <div class="product__container">

        <h2 class="product__name">Комплект автоматики TurboSet</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/turboset.jpg" alt="Комплект автоматики TurboSet" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Предназначение:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                     Комплект автоматики ТurboSet автоматизирует процесс горения ручных твердотопливных котлов и дает возможность точно регулировать температуру подачи теплоносителя, продлевая процесс горения на одной закладке топлива.
                    </li>
                </ul>
            </div>

            <span class="product__price">14 990 руб.</span>

    </div>

</section>
