<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>
	<meta charset="utf-8">
	<title>Комфорт 124</title>
	<meta name="author" content="Забайкальский Алексей">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- Mobile Stuff -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msapplication-tap-highlight" content="no">
	<!-- Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="Комфорт 124">
	<link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon.png">
	<!-- Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Комфорт 124">
	<link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
	<!-- Windows 8 -->
	<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="theme-color" content="#000000">
	<link rel="shortcut icon" href="root/base/assets/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="root/base/css/reset.min.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="root/base/css/scrollanim.min.css">
	<!-- Scroll Animations-->
	<link rel="stylesheet" href="root/base/css/flickity.min.css">
	<!-- Flickity Carousel-->
	<link rel="stylesheet" href="root/base/css/font-awesome-4.6.3/css/font-awesome.min.css">
	<!-- Font Awesome-->
	<link rel="stylesheet" href="root/base/css/sweetalert.min.css">
	<!-- SweetAlert Notifications-->
	<link rel="stylesheet" href="root/base/css/form.min.css">
	<!--Form Style-->
	<link rel="stylesheet" href="root/base/css/base.min.css">
	<link rel="stylesheet" href="root/base/css/style.min.css">
	<link rel="stylesheet" href="main/css/main.min.css">
	<!-- Resource style -->
</head>

<body>

	<main>
		<section class="s-intro" data-kui-anim="fadeIn">
			<div class="b-intro__slider carousel js-flickity" data-flickity='{"autoPlay":10000,"prevNextButtons": false,"pageDots":false}'>
				<div class="b-intro__slide-1 carousel-cell"></div>
				<div class="b-intro__slide-2 carousel-cell"></div>
				<div class="b-intro__slide-3 carousel-cell"></div>
				<div class="b-intro__slide-4 carousel-cell"></div>
			</div>
			<div class="b-intro__overlay">
				<div class="s-width-container">
					<div class="b-intro__contacts">
						<div class="b-contacts__time">
							<div class="b-time__icon"></div>
							<p class="b-time__hours">График работы
								<br>Пн-Пт 10:00 - 18:00
								<br>Сб 10:00 - 14:00 </p>
						</div>
						<div class="b-contacts__phones">
							<p class="b-phones__numbers">+7 (39151) 4-00-40
								<br>+7 (39151) 5-89-52
								<br>+7 (908) 209-11-47 </p>
							<p class="b-phones__quest">Есть вопросы? Звоните!</p>
						</div>
					</div>
					<div class="b-intro__hello-msg-container">
						<h1 class="b-hello-msg__first-line">Добро пожаловать на сайт компании "Комфорт"!</h1>
						<h4 class="b-hello-msg__second-line">Котлы разных типов и назначения, камины, бойлеры и многое другое...</h4><a href="#s-catalogue" class="b-hello-msg__btn-down"><i class="fa fa-angle-double-down"></i>Перейти к каталогу </a>
						<p class="b-hello-msg__paragraph">На нашем сайте Вы сможете найти подходящее оборудование для отопления Вашего загородного дома, дачного коттеджа, садового домика, а также банные печи для любой бани практически любой площади. Грамотный специалист поможет подобрать лучшее решение под Ваши потребности. Опыт установки и монтажа оборудования - более 7ми лет! </p>
					</div>
				</div>
			</div>
		</section>
		<section id="s-catalogue" class="s-catalogue">
			<div class="s-width-container">
				<h2 class="b-catalogue__headline-text" data-kui-anim="fadeIn">Что мы предлагаем:<br>Выберите интересующую категорию и производителя</h2>
				<p class="b-catalogue__headline-advise" data-kui-anim="fadeIn">Вы всегда можете перейти к любому другому продукту, используя меню или кнопки на страницах.</p>
				<div class="b-catalogue__grid">
					<div class="b-catalogue-grid__cell">
						<div class="b-catalogue-cell__solid-fuel-boilers" data-kui-anim="fadeIn">
							<h6 class="b-solid-fuel-boilers__headline">Твёрдотопливные котлы</h6>
							<p class="b-solid-fuel-boilers__description">Автономны, идеальны для мест, где нет электричества, дёшевы в эксплуатации, неприхотливы. </p>
							<ul class="b-solid-fuel-boilers__links">
								<li><a href="" class="b-solid-fuel__link">Kentatsu</a></li>
								<li><a href="" class="b-solid-fuel__link">ZOTA</a></li>
								<li><a href="" class="b-solid-fuel__link">Termokraft</a></li>
								<li><a href="" class="b-solid-fuel__link">НМК</a></li>
								<li><a href="" class="b-solid-fuel__link">Buderus</a></li>
							</ul>
						</div>
						<div class="b-solid-fuel-boilers__image" data-kui-anim="fadeIn"></div>
					</div>
					<div class="b-catalogue-grid__cell">
						<div class="b-electrical-boilers__image" data-kui-anim="fadeIn"></div>
						<div class="b-catalogue-cell__electrical-boilers" data-kui-anim="fadeIn">
							<h6 class="b-electrical-boilers__headline">Электрические котлы</h6>
							<p class="b-electrical-boilers__description">Хороши для объектов с доступом к энергосети, надёжны, безопасны, не создают твёрдых отходов. </p>
							<ul class="b-electrical-boilers__links">
								<li><a href="" class="b-electrical__link">ZOTA</a></li>
							</ul>
						</div>
					</div>
					<div class="b-catalogue-grid__cell">
						<div class="b-catalogue-cell_water-boilers" data-kui-anim="fadeIn">
							<h6 class="b-water-boilers__headline">Бойлеры и нагреватели</h6>
							<p class="b-water-boilers__description">Просто необходимы в домах, не подключенных к системе централизованного отопления. </p>
							<ul class="b-water-boilers__links">
								<li><a href="" class="b-water-boilers__link">Hajdu</a></li>
							</ul>
						</div>
						<div class="b-water-boilers__image" data-kui-anim="fadeIn"></div>
					</div>
					<div class="b-catalogue-grid__cell">
						<div class="b-stoves__image" data-kui-anim="fadeIn"></div>
						<div class="b-catalogue-cell_stoves" data-kui-anim="fadeIn">
							<h6 class="b-stoves__headline">Печи-камины</h6>
							<p class="b-stoves__description">Красивое и доступное средство обогрева Вашего дома.</p>
							<ul class="b-stoves__links">
								<li><a href="" class="b-stoves__link">Перейти на страницу</a> </li>
							</ul>
						</div>
					</div>
					<div class="b-catalogue-grid__cell">
						<div class="b-catalogue-cell_sauna-stoves" data-kui-anim="fadeIn">
							<h6 class="b-sauna-stoves__headline">Банные печи</h6>
							<p class="b-sauna-stoves__description">Печи разных моделей для бань любых размеров и площадей. </p>
							<ul class="b-sauna-stoves__links">
								<li><a href="" class="b-sauna-stoves__link">Ермак</a></li>
								<li><a href="" class="b-sauna-stoves__link">Кастор</a></li>
								<li><a href="" class="b-sauna-stoves__link">НМК</a></li>
							</ul>
						</div>
						<div class="b-sauna-stoves__image" data-kui-anim="fadeIn"></div>
					</div>
					<div class="b-catalogue-grid__cell">
						<div class="b-hearts-fire__image" data-kui-anim="fadeIn"></div>
						<div class="b-catalogue-cell_hearts-fire" data-kui-anim="fadeIn">
							<h6 class="b-hearts-fire__headline">Каминное оборудование</h6>
							<p class="b-hearts-fire__description">Каминные облицовки на любой вкус и топки к ним.</p>
							<ul class="b-hearts-fire__links">
								<li> <a href="#" class="b-hearts-fire__link">Облицовки</a> </li>
								<li> <a href="#" class="b-hearts-fire__link">Топки</a> </li>
							</ul>
						</div>
					</div>
					<div class="b-catalogue-grid__cell">
						<div class="b-catalogue-cell_chimneys" data-kui-anim="fadeIn">
							<h6 class="b-chimneys__headline">Дымоходы</h6>
							<p class="b-chimneys__description">Требуются для отведения летучих продуктов сгорания из помещения, где установлен котёл.</p>
							<ul class="b-chimneys__links">
								<li><a href="#" class="b-chimneys__link">Перейти на страницу</a></li>
							</ul>
						</div>
						<div class="b-chimneys__image" data-kui-anim="fadeIn"></div>
					</div>
					<div class="b-catalogue-grid__cell">
						<div class="b-catalogue-cell_accessories" data-kui-anim="fadeIn">
							<h6 class="b-accessories__headline">Комплектующие</h6>
							<p class="b-accessories__description">Для обслуживания и расширения функциональности систем.</p>
							<ul class="b-accessories__links">
								<li><a href="#" class="b-accessories__link">Перейти на страницу</a></li>
							</ul>
						</div>
						<div class="b-accessories__image" data-kui-anim="fadeIn"></div>
					</div>
					<div class="b-catalogue-grid__cell-three">
						<div class="b-catalogue-cell_bbq" data-kui-anim="fadeIn">
							<h6 class="b-bbq__headline">Барбекю</h6>
							<p class="b-bbq__description"></p>
							<ul class="b-bbq__links">
								<li class="b-bbq__link"><a href="#">Перейти на страницу</a></li>
							</ul>
						</div>
						<div class="b-bbq__image" data-kui-anim="fadeIn"></div>
					</div>
				</div>
			</div>
		</section>
		<section id="s-company-us" class="s-company-us">
			<div class="s-width-container">
				<h4 class="b-company__msg" data-kui-anim="fadeIn">Почему выбирают нас?</h4>
				<div class="b-company__grid">
					<div class="b-company-grid__cell-three">
						<div class="b-company-cell_experience" data-kui-anim="fadeIn"><i class="fa fa-rocket b-experience__icon" aria-hidden="true"></i>
							<h6 class="b-experience__headline">Опыт установки и монтажа<br>- 7 лет!</h6>
							<p class="b-experience__description">Что это значит для Вас? Вы получите качественную установку, которая избавит Вас от лишних хлопот и головной боли!</p>
							<ul class="b-experience__links">
								<li class="b-experience__link">
									<a href=""></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="b-company-grid__cell-three">
						<div class="b-company-cell_consultation" data-kui-anim="fadeIn"><i class="fa fa-thumbs-o-up b-consultation__icon" aria-hidden="true"></i>
							<h6 class="b-consultation__headline">Грамотная консультация от специалиста-практика.</h6>
							<p class="b-consultation__description">Что это значит для Вас? Доступное и понятное объяснение поможет Вам сэкономить время и средства!</p>
						</div>
					</div>
					<div class="b-company-grid__cell-three">
						<div class="b-company-cell_guarantees" data-kui-anim="fadeIn"><i class="fa fa-wrench b-guarantees__icon" aria-hidden="true"></i>
							<h6 class="b-guarantees__headline">Гарантии:</h6>
							<p class="b-guarantees__description">На произведённый монтаж компания «Комфорт» предоставляет гарантию 2 года. На всё оборудование, поставляемое компанией, распространяется гарантия от производителей. В случае поломки котла, печи и т.д., или выхода из строя какой-либо отдельной детали, мастера компании «Комфорт» производят ремонт или замену.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="s-about" class="s-about">
			<div class="s-width-container">
				<div class="b-about__information">
					<h2 class="b-about-information__headline" data-kui-anim="fadeIn">О нас</h2>
					<div class="b-about-information__company" data-kui-anim="fadeIn"><span class="b-about-information__requisites">ООО «КОМФОРТ»<br><br>ИНН\КПП:<br>2443046311\244301001<br>ОГРН: 1152443001391</span></div>
					<div class="b-about-information__contacts" data-kui-anim="fadeIn">
						<div class="b-about__site"><i class="fa fa-sitemap fa-fw b-about__icons" aria-hidden="true"></i><span class="b-about__site-content"> komfort124.ru</span></div>
						<div class="b-about__adress"><i class="fa fa-map-marker fa-fw b-about__icons" aria-hidden="true"></i><span class="b-about__adress-content">г. Ачинск, ул. Дзержинского, 38, стр. 1, офис 1</span></div>
						<div class="b-about__phones"><i class="fa fa-phone fa-fw b-about__icons" aria-hidden="true"></i><span class="b-about__phone-content">+7 (39151) 5-89-52<br>+7 (908) 209-11-47<br>+7 (39151) 4-00-40</span></div>
						<div class="b-about__mail"><i class="fa fa-envelope fa-fw b-about__icons" aria-hidden="true"></i><a class="b-about__mail-content" href="mailto:domkotel124@mail.ru">domkotel124@mail.ru</a></div>
					</div>
					<div class="b-about-information__form">
						<div class="c-form" data-kui-anim="fadeIn">
							<form action="" method="post">
								<div class="c-form__container">
									<h4 class="c-form__msg">Задать вопрос:</h4>
									<div class="c-form__name">
										<label class="c-form-name__label" for="name">Имя:</label>
										<input class="c-form-name__input" value="" id="posName" type="text" name="name" pattern="[a-zA-Zа-яА-Я]{4,}" placeholder="Введите ваше имя" required/><span class="c-form__name-hint">Например, Иванов Иван</span></div>
									<div class="c-form__phone">
										<label class="c-form-phone__label" for="tel">Телефон:</label>
										<input class="c-form-phone__input" value="" id="posPhone" type="text" name="tel" pattern="[0-9]{9,20}" placeholder="Введите номер телефона" required/><span class="c-form__phone-hint">Правильный формат "+7 123 200 00 00"</span></div>
									<div class="c-form__textarea msg" id="cor5">
										<label class="c-form-msg__label" for="text">Ваше сообщение:</label>
										<textarea class="c-form-msg__input" value="" id="posText" type="text" name="text" pattern="[a-zA-Zа-яА-Я]{0,140}" placeholder="Введите ваше сообщение" required></textarea><span class="c-form__msg-hint">Задайте любой вопрос :)</span></div>
									<div class="c-form__submit-field">
										<input class="c-form__submit-btn" type="submit" id="send" value="Отправить" />
									</div>
								</div>
							</form>
						</div>
					</div>
					<h3 class="b-about-information__map-headline" data-kui-anim="fadeIn">Как нас найти?</h3>
					<div class="b-about-information__map" data-kui-anim="fadeIn">
						<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=jGfZNoAoTAFw3F9Lbigo7aT5PhGaSKYu&width=1140&height=500&lang=ru_RU&sourceType=constructor&id=kompfort_info"></script>
						<div id="kompfort_info"></div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<script type="text/javascript" src="root/base/js/scrollanim.min.js"></script>
	<!-- Scroll Animations-->
	<script type="text/javascript" src="root/base/js/modernizr.min.js"></script>
	<!-- Modernizr -->
	<script type="text/javascript" src="root/base/js/jquery-3.0.0.min.js"></script>
	<!-- jQuery 3.0.0-->
	<script type="text/javascript" src="root/base/js/sweetalert.min.js"></script>
	<!-- SweetAlert Notifications-->
	<script type="text/javascript" src="root/base/js/jquery.menu-aim.min.js"></script>
	<!-- menu aim -->
	<script type="text/javascript" src="root/base/js/flickity.pkgd.min.js"></script>
	<!-- Flickity Carousel-->
	<script type="text/javascript" src="root/base/js/js-form.min.js"></script>
	<!-- Form Sender Script-->
	<script type="text/javascript" src="root/base/js/base.min.js"></script>
	<!-- Main Site Script -->
</body>

</html>
