@import '../../../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../partials/_variables';
@import '../partials/_layout';
@import '../partials/_mixins';

html,
body,
wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    &.is-opened {
        overflow: hidden;
    }
}

body {
    background-image: url('../assets/img/body_bg.png');
    background-position: center center;
    background-attachment: fixed
}

.wrapper {
    max-width: 1180px;
    margin: $wrapperTop auto;
    background-color: rgba($white, .95);
    @include MDShadow-3
}

.container {
    size: 100%;
    &_flex {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        @extend .container
    }
    &_flex-row {
        @extend .container_flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }
}

.main {
    z-index: $content-zindex
}

.main,
.header {
    /* Force Hardware Acceleration in WebKit */
    transform: translateZ(0);
    will-change: transform;
}

.main,
.header {
    position: relative;
    transition: transform .3s;
    @include MQ(maxL) {
        &.nav-is-visible {
            transform: translateX(-$nav-width-S);
        }
        .nav-on-left &.nav-is-visible {
            transform: translateX($nav-width-S);
        }
    }
}

.s-devider {
    display: block;
    text-align: center;
    margin: 30px;
    line-height: 1.4;
}

.line {
    border-top: solid 2px $red;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba($white, 0.2);
}

.modal__overlay {
    z-index: $modal-zindex;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba($blacked, 0.3);
    &.is-opened {
        opacity: 1;
        visibility: visible;
    }
}

.families {
    &__list-title {
        display: block;
        text-align: center;
        margin: 10px auto;
        color: $blacked;
    }
    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    &__link {
        display: inline-block;
        padding: 7px 9px;
        margin: 5px;
        color: $white $red;
        border-radius: 2px;
        @include MDShadow-1;
        @include transition(.3s);
        &:hover {
            color: $white lighten($red, 10%);
        }
        &:active {
            @include MDShadow-2;
        }
    }
}

.button-up {
    z-index: 1000;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    margin: $wrapperTop;
    text-align: center;
    background-color: $red;
    cursor: pointer;
    border-radius: 2px;
    @include MDShadow-1;
    transform: translateX(-200%);
    transition: .3s ease-in-out, transform .6s ease-in-out .3s;
    &.is-visible {
        transform: translateX(0);
    }
    &:hover {
        background-color: lighten($red, 10%);
    }
    &:active {
        @include MDShadow-2;
    }
}

.btn,
.btn-large,
.btn-flat {
    line-height: normal;
}

@include waves-light( $white, $ripple-opacity );
@include waves-dark( $red, $ripple-opacity );
