<section id="catalogue" class="catalogue">

	<div class="container_flex">

		<h2 class="catalogue__title">
		Что мы предлагаем:<br>
		Выберите интересующую категорию и производителя
		</h2>

		<p class="catalogue__headline-advise">
			Вы всегда можете перейти к любому другому продукту, используя меню или кнопки на страницах.
		</p>

		<div class="grid">

			<div class="cell">

				<img class="cell__image" src="assets/img/solid.png" alt="Твёрдотопливные котлы">

				<div class="cell__container">
					<h6 class="cell__headline">
					Твёрдотопливные котлы
					</h6>
					<p class="cell__description">
						Автономны, идеальны для мест,
						где нет электричества, дёшевы в эксплуатации,
						неприхотливы.
					</p>
					<ul class="cell__links-list">
						<li><a href="#" class="cell__link" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link" ripple-light>ZOTA</a></li>
						<li><a href="#" class="cell__link" ripple-light>Termokraft</a></li>
						<li><a href="#" class="cell__link" ripple-light>НМК</a></li>
						<li><a href="#" class="cell__link" ripple-light>Buderus</a></li>
					</ul>
				</div>
			</div>

			<div class="cell">

				<img class="cell__image" src="assets/img/solid.png" alt="Твёрдотопливные котлы">

				<div class="cell__container">
					<h6 class="cell__headline">
					Твёрдотопливные котлы
					</h6>
					<p class="cell__description">
						Автономны, идеальны для мест,
						где нет электричества, дёшевы в эксплуатации,
						неприхотливы.
					</p>
					<ul class="cell__links-list">
						<li><a href="#" class="cell__link" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link" ripple-light>ZOTA</a></li>
						<li><a href="#" class="cell__link" ripple-light>Termokraft</a></li>
						<li><a href="#" class="cell__link" ripple-light>НМК</a></li>
						<li><a href="#" class="cell__link" ripple-light>Buderus</a></li>
					</ul>
				</div>
			</div>

			<div class="cell">

				<img class="cell__image" src="assets/img/solid.png" alt="Твёрдотопливные котлы">

				<div class="cell__container">
					<h6 class="cell__headline">
					Твёрдотопливные котлы
					</h6>
					<p class="cell__description">
						Автономны, идеальны для мест,
						где нет электричества, дёшевы в эксплуатации,
						неприхотливы.
					</p>
					<ul class="cell__links-list">
						<li><a href="#" class="cell__link" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link" ripple-light>ZOTA</a></li>
						<li><a href="#" class="cell__link" ripple-light>Termokraft</a></li>
						<li><a href="#" class="cell__link" ripple-light>НМК</a></li>
						<li><a href="#" class="cell__link" ripple-light>Buderus</a></li>
					</ul>
				</div>
			</div>

			<div class="cell_wide">

				<img class="cell__image_wide" src="assets/img/solid.png" alt="Твёрдотопливные котлы">

				<div class="cell__container_wide">
					<h6 class="cell__headline">
					<span>Твёрдотопливные котлы</span>
					</h6>
					<p class="cell__description_wide">
						Автономны, идеальны для мест,
						где нет электричества, дёшевы в эксплуатации,
						неприхотливы.
					</p>
					<ul class="cell__links-list_wide">
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
					</ul>
				</div>
			</div>

			<div class="cell_wide">

				<img class="cell__image_wide" src="assets/img/solid.png" alt="Твёрдотопливные котлы">

				<div class="cell__container_wide">
					<h6 class="cell__headline">
					Твёрдотопливные котлы
					</h6>
					<p class="cell__description_wide">
						Автономны, идеальны для мест,
						где нет электричества, дёшевы в эксплуатации,
						неприхотливы.
					</p>
					<ul class="cell__links-list_wide">
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_wide" ripple-light>Kentatsu</a></li>
					</ul>
				</div>
			</div>

			<div class="cell_widest">

				<img class="cell__image_widest" src="assets/img/solid.png" alt="Твёрдотопливные котлы">

				<div class="cell__container_widest">
					<h6 class="cell__headline">
					Твёрдотопливные котлы
					</h6>
					<p class="cell__description_widest">
						Автономны, идеальны для мест,
						где нет электричества, дёшевы в эксплуатации,
						неприхотливы.
					</p>
					<ul class="cell__links-list_widest">
						<li><a href="#" class="cell__link_widest" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_widest" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_widest" ripple-light>Kentatsu</a></li>
						<li><a href="#" class="cell__link_widest" ripple-light>Kentatsu</a></li>
					</ul>
				</div>

				<img class="cell__image_widest" src="assets/img/solid.png" alt="Твёрдотопливные котлы">

			</div>

		</div>
	</div>
</section>
