<section id="catalogue" class="catalogue">

	<div class="container_flex">

		<h2 class="catalogue__title">
		Что мы предлагаем:<br>
		Выберите интересующую категорию и производителя
		</h2>

		<p class="catalogue__headline-advise">
			Вы всегда можете перейти к любому другому продукту, используя меню или кнопки на страницах.
		</p>

		<div class="catalogue__grid">

			<div class="cell">

				<div class="cell__container">
					<h6 class="cell__headline">
					Твёрдотопливные котлы
					</h6>
					<p class="cell__description">
						Автономны, идеальны для мест,
						где нет электричества, дёшевы в эксплуатации,
						неприхотливы.
					</p>
					<ul class="cell__links">
						<li><a href="#" class="cell__link">Kentatsu</a></li>
						<li><a href="#" class="cell__link">ZOTA</a></li>
						<li><a href="#" class="cell__link">Termokraft</a></li>
						<li><a href="#" class="cell__link">НМК</a></li>
						<li><a href="#" class="cell__link">Buderus</a></li>
					</ul>
				</div>

				<div class="cell__image"></div>
			</div>

			<div class="cell">
				<div class="cell__image"></div>

				<div class="cell__container">
					<h6 class="cell__headline">
					Электрические котлы
					</h6>
					<p class="cell__description">
						Хороши для объектов с доступом к энергосети,
						надёжны, безопасны, не создают дыма и твёрдых отходов.
					</p>
					<ul class="cell__links">
						<li><a href="#" class="cell__link">ZOTA</a></li>
					</ul>
				</div>
			</div>

			<div class="cell">
				<div class="cell__container">
					<h6 class="cell__headline">
					Бойлеры и нагреватели
					</h6>
					<p class="cell__description">
						Просто необходимы в домах,
						не подключенных к системе централизованного отопления.
					</p>
					<ul class="cell__links">
						<li><a href="#" class="cell__link">Hajdu</a></li>
					</ul>
				</div>

				<div class="cell__image"></div>
			</div>

			<div class="cell">
				<div class="cell__image"></div>

				<div class="cell__container">
					<h6 class="cell__headline">
					Печи-камины
					</h6>
					<p class="cell__description">
						Красивое и доступное средство обогрева Вашего дома.
					</p>
					<ul class="cell__links">
						<li><a href="#" class="cell__link">Перейти на страницу</a> </li>
					</ul>
				</div>
			</div>

			<div class="cell">

				<div class="cell__container">
					<h6 class="cell__headline">
					Банные печи
					</h6>
					<p class="cell__description">
						Печи разных моделей для бань любых размеров и площадей.
					</p>
					<ul class="cell__links">
						<li><a href="#" class="cell__link">Ермак</a></li>
						<li><a href="#" class="cell__link">Кастор</a></li>
						<li><a href="#" class="cell__link">НМК</a></li>
					</ul>
				</div>

				<div class="cell__image"></div>
			</div>

			<div class="cell">
				<div class="cell__image"></div>

				<div class="cell__container">
					<h6 class="cell__headline">
					Каминное оборудование
					</h6>
					<p class="cell__description">
						Каминные облицовки на любой вкус и топки к ним.
					</p>
					<ul class="cell__links">
						<li> <a href="#" class="cell__link">Облицовки</a></li>
						<li> <a href="#" class="cell__link">Топки</a> </li>
					</ul>
				</div>
			</div>

			<div class="cell">
				<div class="cell__container">
					<h6 class="cell__headline">
					Дымоходы
					</h6>
					<p class="cell__description">
					Требуются для отведения летучих продуктов сгорания из помещения,
					 где установлен котёл.
					 </p>
					<ul class="cell__links">
						<li><a href="#" class="cell__link">Перейти на страницу</a></li>
					</ul>
				</div>

				<div class="cell__image"></div>
			</div>

			<div class="cell">
				<div class="cell__container">
					<h6 class="cell__headline">
					Комплектующие
					</h6>
					<p class="cell__description">
					Для обслуживания и расширения функциональности систем.</p>
					<ul class="cell__links">
						<li><a href="#" class="cell__link">Перейти на страницу</a></li>
					</ul>
				</div>

				<div class="cell__image"></div>
			</div>

			<div class="cell">
				<div class="cell__container">
					<h6 class="cell__headline">
					Барбекю
					</h6>
					<p class="cell__description"></p>
					<ul class="cell__links">
						<li class="cell__link"><a href="#">Перейти на страницу</a></li>
					</ul>
				</div>

				<div class="cell__image"></div>
			</div>

		</div>
	</div>
</section>
