<section class="intro">

	<div id="slider" class="slider">

		<div class="slide carousel-cell">

			<div class="slide__column_big">

				<span class="slide__text">Твёрдотопливные котлы</span>

			</div>

			<div class="slide__column_small">

				<ul class="slide__list">
					<li><a href="buderus.html" class="slide__item">Buderus</a></li>
					<li><a href="kentatsu.html" class="slide__item">kentatsu</a></li>
					<li><a href="termokraft.html" class="slide__item">Termokraft</a></li>
					<li><a href="zota.html" class="slide__item">Zota</a></li>
					<li><a href="nmk.html" class="slide__item">НМК</a></li>
					<li><a href="energy-tt.html" class="slide__item">Энергия-ТТ</a></li>
				</ul>
			</div>
		</div>

		<div class="slide carousel-cell">

			<div class="slide__column_big">

				<span class="slide__text">Твёрдотопливные котлы</span>

			</div>

			<div class="slide__column_small">

				<ul class="slide__list">
					<li><a href="buderus.html" class="slide__item">Buderus</a></li>
					<li><a href="kentatsu.html" class="slide__item">kentatsu</a></li>
					<li><a href="termokraft.html" class="slide__item">Termokraft</a></li>
					<li><a href="zota.html" class="slide__item">Zota</a></li>
					<li><a href="nmk.html" class="slide__item">НМК</a></li>
					<li><a href="energy-tt.html" class="slide__item">Энергия-ТТ</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>
