<section id="about" class="about">

	<div class="container_flex">

		<h4 class="about__title">Почему выбирают нас?</h4>

		<div class="about__grid">

			<div class="about__cell">
                <h6 class="about__headline">
                    Опыт установки и монтажа<br>
                    - 7 лет!
                </h6>
				<i class="about__icon fa fa-rocket" aria-hidden="true"></i>
				<p class="about__description">
					Что это значит для Вас?
					Вы получите качественную установку, которая избавит Вас от лишних хлопот и головной боли.
				</p>
			</div>

			<div class="about__cell">
            <h6 class="about__headline">
                Грамотная консультация от специалиста-практика.
            </h6>
				<i class="about__icon fa fa-thumbs-o-up" aria-hidden="true"></i>
				<p class="about__description">
					Что это значит для Вас?
					Доступное и понятное объяснение поможет Вам сэкономить время и средства!
				</p>
			</div>

			<div class="about__cell">
                <h6 class="about__headline">
                    Гарантии:
                </h6>
				<i class="about__icon fa fa-wrench" aria-hidden="true"></i>
				<p class="about__description">
					На произведённый монтаж компания «Комфорт» предоставляет гарантию 2 года.
					На всё оборудование, поставляемое компанией, распространяется гарантия от производителей.
				</p>
			</div>
		</div>
	</div>
</section>
