<section id="catalogue" class="catalogue">

    <div class="container_flex">

        <h2 class="catalogue__title">
		Что мы предлагаем:<br>
		Выберите интересующую категорию и производителя
		</h2>

        <p class="catalogue__headline-advise">
            Вы всегда можете перейти к любому другому продукту, используя меню или кнопки на страницах.
        </p>

        <div class="grid">

            <div class="cell_wide">
                <div class="cell__container_wide">
                    <h6 class="cell__headline">Твёрдотопливные котлы</h6>
                    <span class="cell__description_wide">
                        <p>
                            Автономны, идеальны для мест, где нет электричества, дёшевы в эксплуатации, неприхотливы.
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            Мы предлагаем продукцию проверенных производителей, как отечественных, так и зарубежных.
                        </p>
                    </span>
                </div>
                <ul class="cell__links-list_wide">
                    <li><a href="kentatsu" class="cell__link_wide" ripple-light>Kentatsu</a></li>
                    <li><a href="termokraft" class="cell__link_wide" ripple-light>Termokraft</a></li>
                    <li><a href="energy-tt" class="cell__link_wide" ripple-light>Энергия-ТТ</a></li>
                    <li><a href="buderus" class="cell__link_wide" ripple-light>Buderus</a></li>
                    <li><a href="zota" class="cell__link_wide" ripple-light>Zota</a></li>
                    <li><a href="nmk" class="cell__link_wide" ripple-light>НМК</a></li>
                </ul>
            </div>

            <div class="cell_wide">
                <div class="cell__container_wide">
                    <h6 class="cell__headline">Электрические котлы</h6>
                    <span class="cell__description_wide">
                        <p>
                            Хороши для объектов с доступом к энергосети, надёжны, безопасны, не создают твёрдых отходов.
                        </p>
                        <p>&nbsp;</p>
                        <p>
                            Также используются в качестве вспомогательного компонента отопительных систем.
                        </p>
                    </span>
                </div>
                <ul class="cell__links-list_wide">
                    <li><a href="zotae" class="cell__link_wide" ripple-light>Zota</a></li>
                </ul>
            </div>

            <div class="cell_wide">
                <div class="cell__container_wide">
                    <h6 class="cell__headline">Банные печи</h6>
                    <span class="cell__description_wide">
                    Печи различных производителей для бань с почти любым объёмом парилки.
                    </span>
                </div>
                <ul class="cell__links-list_wide">
                    <li><a href="ermak" class="cell__link_wide" ripple-light>Ермак</a></li>
                    <li><a href="nmk-furnaces" class="cell__link_wide" ripple-light>НМК</a></li>
                    <li><a href="kastor" class="cell__link_wide" ripple-light>Кастор</a></li>
                </ul>
            </div>

            <div class="cell_wide">
                <div class="cell__container_wide">
                    <h6 class="cell__headline">Дымоходы</h6>
                    <span class="cell__description_wide">
                        <p>
                            Требуются для отведения летучих продуктов сгорания из помещения, где установлен котёл.
                        </p>
                    </span>
                </div>
                <ul class="cell__links-list_wide">
                    <li>
                        <a href="chimneys" class="cell__link_wide" ripple-light>Перейти на страницу</a>
                    </li>
                </ul>
            </div>

			<div class="cell_wide">
                <div class="cell__container_wide">
                    <h6 class="cell__headline">Печи-камины</h6>
                    <span class="cell__description_wide">
	                    Красивое и доступное средство обогрева Вашего дома.
                    </span>
                </div>
                <ul class="cell__links-list_wide">
                    <li><a href="stoves#corner-happy" class="cell__link_wide" ripple-light>MBS</a></li>
                    <li><a href="stoves#ognivo_1-2" class="cell__link_wide" ripple-light>OGNIVO</a></li>
                    <li><a href="stoves#ermak_soffit-grant" class="cell__link_wide" ripple-light>Ермак</a></li>
                </ul>
            </div>

        </div>

    </div>

</section>
