<section class="intro">

    <div id="slider" class="slider">

        <div class="slide carousel-cell">

            <div class="slide__column_big">
                <div class="container_flex">
                    <span class="slide__text">Твёрдотопливные котлы</span>
                </div>
            </div>

            <div class="slide__column_small">
                <ul class="slide__list">
                    <p class="slide__title">Производители:</p>
                    <li><a href="kentatsu.html#" class="slide__item" ripple-light>Kentatsu</a></li>
                    <li><a href="termokraft.html" class="slide__item" ripple-light>Termokraft</a></li>
                    <li><a href="energy-tt.html" class="slide__item" ripple-light>Энергия-ТТ</a></li>
                    <li><a href="buderus.html" class="slide__item" ripple-light>Buderus</a></li>
                    <li><a href="zota.html" class="slide__item" ripple-light>Zota</a></li>
                    <li><a href="nmk.html" class="slide__item" ripple-light>НМК</a></li>
                </ul>
            </div>
        </div>

        <div class="slide carousel-cell">

            <div class="slide__column_big">
                <div class="container_flex">
                    <span class="slide__text">Банные печи</span>
                </div>
            </div>

            <div class="slide__column_small">
                <ul class="slide__list">
                    <p class="slide__title">Производители:</p>
                        <li><a href="ermak.html" class="slide__item" ripple-light>Ермак</a></li>
                        <li><a href="nmk-furnaces.html" class="slide__item" ripple-light>НМК</a></li>
                        <li><a href="kastor.html" class="slide__item" ripple-light>Кастор</a></li>
                </ul>
            </div>
        </div>

        {{!-- <div class="slide carousel-cell">

            <div class="slide__column_big">
                <div class="container_flex">
                    <span class="slide__text">Печи-камины</span>
                </div>
            </div>

            <div class="slide__column_small">
                <ul class="slide__list">
                    <p class="slide__title">Производители:</p>
                    <li><a href="#" class="slide__item" ripple-dark>MBS</a></li>
                    <li><a href="#" class="slide__item" ripple-dark>OGNIVO</a></li>
                    <li><a href="#" class="slide__item" ripple-dark>Ермак</a></li>
                </ul>
            </div>
        </div> --}}

        <div class="slide carousel-cell">

            <div class="slide__column_big">
                <div class="container_flex">
                    <span class="slide__text">Дымоходы</span>
                </div>
            </div>

            <div class="slide__column_small">
                <ul class="slide__list">
                    <p class="slide__title">Линейки:</p>
                    <li><a href="chimneys.html" class="slide__item" ripple-dark>Вулкан</a></li>
                    <li><a href="chimneys.html" class="slide__item" ripple-dark>Дымок</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
