<section class="intro">

	<div id="slider" class="slider">

		<div class="slide carousel-cell">

			<div class="slide__column_big">
				<div class="container_flex">
					<span class="slide__text">Твёрдотопливные котлы</span>
				</div>
			</div>

			<div class="slide__column_small">
				<ul class="slide__list"><p class="slide__title">Производители:</p>
					<li><a href="#" class="slide__item" ripple-dark>Kentatsu Furst</a></li>
					<li><a href="#" class="slide__item" ripple-dark>Termokraft</a></li>
					<li><a href="#" class="slide__item" ripple-dark>Энергия-ТТ</a></li>
					<li><a href="#" class="slide__item" ripple-dark>Buderus</a></li>
					<li><a href="#" class="slide__item" ripple-dark>Zota</a></li>
					<li><a href="#" class="slide__item" ripple-dark>НМК</a></li>
				</ul>
			</div>
		</div>

		<div class="slide carousel-cell">

			<div class="slide__column_big">
				<div class="container_flex">
					<span class="slide__text">Банные печи</span>
				</div>
			</div>

			<div class="slide__column_small">
				<ul class="slide__list"><p class="slide__title">Производители:</p>
					<li><a href="#" class="slide__item" ripple-dark>Ермак</a></li>
					<li><a href="#" class="slide__item" ripple-dark>Кастор</a></li>
					<li><a href="#" class="slide__item" ripple-dark>НМК</a></li>
				</ul>
			</div>
		</div>

		<div class="slide carousel-cell">

			<div class="slide__column_big">
				<div class="container_flex">
					<span class="slide__text">Печи-камины</span>
				</div>
			</div>

			<div class="slide__column_small">
				<ul class="slide__list"><p class="slide__title">Производители:</p>
					<li><a href="#" class="slide__item" ripple-dark>MBS</a></li>
					<li><a href="#" class="slide__item" ripple-dark>OGNIVO</a></li>
					<li><a href="#" class="slide__item" ripple-dark>Ермак</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>
