<section id="catalogue" class="catalogue">

	<div class="container_flex">

		<h2 class="catalogue__title">
		Что мы предлагаем:<br>
		Выберите интересующую категорию и производителя
		</h2>

		<p class="catalogue__headline-advise">
		Вы всегда можете перейти к любому другому продукту, используя меню или кнопки на страницах.
		</p>

		<div class="catalogue__grid">

			<div class="catalogue__cell">

				<div class="catalogue-cell__solid-fuel-boilers">
					<h6 class="solid-fuel-boilers__headline">
					Твёрдотопливные котлы</h6>
					<p class="solid-fuel-boilers__description">
					Автономны, идеальны для мест, где нет электричества, дёшевы в эксплуатации, неприхотливы. </p>
					<ul class="solid-fuel-boilers__links">
						<li><a href="#" class="catalogue__link">Kentatsu</a></li>
						<li><a href="#" class="catalogue__link">ZOTA</a></li>
						<li><a href="#" class="catalogue__link">Termokraft</a></li>
						<li><a href="#" class="catalogue__link">НМК</a></li>
						<li><a href="#" class="catalogue__link">Buderus</a></li>
					</ul>
				</div>
				<div class="solid-fuel-boilers__image"></div>
			</div>
			<div class="catalogue-grid__cell">
				<div class="electrical-boilers__image"></div>
				<div class="catalogue-cell__electrical-boilers">
					<h6 class="electrical-boilers__headline">Электрические котлы</h6>
					<p class="electrical-boilers__description">Хороши для объектов с доступом к энергосети, надёжны, безопасны, не создают твёрдых отходов. </p>
					<ul class="electrical-boilers__links">
						<li><a href="" class="electrical__link">ZOTA</a></li>
					</ul>
				</div>
			</div>
			<div class="catalogue-grid__cell">
				<div class="catalogue-cell_water-boilers">
					<h6 class="water-boilers__headline">Бойлеры и нагреватели</h6>
					<p class="water-boilers__description">Просто необходимы в домах, не подключенных к системе централизованного отопления. </p>
					<ul class="water-boilers__links">
						<li><a href="" class="water-boilers__link">Hajdu</a></li>
					</ul>
				</div>
				<div class="water-boilers__image"></div>
			</div>
			<div class="catalogue-grid__cell">
				<div class="stoves__image"></div>
				<div class="catalogue-cell_stoves">
					<h6 class="stoves__headline">Печи-камины</h6>
					<p class="stoves__description">Красивое и доступное средство обогрева Вашего дома.</p>
					<ul class="stoves__links">
						<li><a href="" class="stoves__link">Перейти на страницу</a> </li>
					</ul>
				</div>
			</div>
			<div class="catalogue-grid__cell">
				<div class="catalogue-cell_sauna-stoves">
					<h6 class="sauna-stoves__headline">Банные печи</h6>
					<p class="sauna-stoves__description">Печи разных моделей для бань любых размеров и площадей. </p>
					<ul class="sauna-stoves__links">
						<li><a href="" class="sauna-stoves__link">Ермак</a></li>
						<li><a href="" class="sauna-stoves__link">Кастор</a></li>
						<li><a href="" class="sauna-stoves__link">НМК</a></li>
					</ul>
				</div>
				<div class="sauna-stoves__image"></div>
			</div>
			<div class="catalogue-grid__cell">
				<div class="b-hearts-fire__image"></div>
				<div class="catalogue-cell_hearts-fire">
					<h6 class="b-hearts-fire__headline">Каминное оборудование</h6>
					<p class="b-hearts-fire__description">Каминные облицовки на любой вкус и топки к ним.</p>
					<ul class="b-hearts-fire__links">
						<li> <a href="#" class="b-hearts-fire__link">Облицовки</a> </li>
						<li> <a href="#" class="b-hearts-fire__link">Топки</a> </li>
					</ul>
				</div>
			</div>
			<div class="catalogue-grid__cell">
				<div class="catalogue-cell_chimneys">
					<h6 class="chimneys__headline">Дымоходы</h6>
					<p class="chimneys__description">Требуются для отведения летучих продуктов сгорания из помещения, где установлен котёл.</p>
					<ul class="chimneys__links">
						<li><a href="#" class="chimneys__link">Перейти на страницу</a></li>
					</ul>
				</div>
				<div class="chimneys__image"></div>
			</div>
			<div class="catalogue-grid__cell">
				<div class="catalogue-cell_accessories">
					<h6 class="accessories__headline">Комплектующие</h6>
					<p class="accessories__description">Для обслуживания и расширения функциональности систем.</p>
					<ul class="accessories__links">
						<li><a href="#" class="accessories__link">Перейти на страницу</a></li>
					</ul>
				</div>
				<div class="accessories__image"></div>
			</div>
			<div class="catalogue-grid__cell-three">
				<div class="catalogue-cell_bbq">
					<h6 class="b-bbq__headline">Барбекю</h6>
					<p class="b-bbq__description"></p>
					<ul class="b-bbq__links">
						<li class="b-bbq__link"><a href="#">Перейти на страницу</a></li>
					</ul>
				</div>
				<div class="b-bbq__image"></div>
			</div>
		</div>
	</div>
</section>
