<section class="intro">

	<div id="slider" class="slider">

		<div class="slide carousel-cell">

			<div class="slide__column_big">

				<div class="container_flex">
					<span class="slide__text">Твёрдотопливные котлы</span>
				</div>

			</div>

			<div class="slide__column_small">

				<ul class="slide__list"><p class="slide__title">Производители:</p>
					<li><a href="#" class="slide__item" ripple>Buderus</a></li>
					<li><a href="#" class="slide__item" ripple>Kentatsu Furst</a></li>
					<li><a href="#" class="slide__item" ripple>Termokraft</a></li>
					<li><a href="#" class="slide__item" ripple>Zota</a></li>
					<li><a href="#" class="slide__item" ripple>НМК</a></li>
					<li><a href="#" class="slide__item" ripple>Энергия-ТТ</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>
