<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Главная || Комфорт 124</title>
    <meta name="description" content="Твёрдотопливные котлы известных производителей, банные печи, а также печи для готовки и обогрева помещений разных площадей, комплектующие и расходные материалы. Опыт установки и монтажа - 7 лет! Грамотные специалисты.">
    <meta name="keywords" content="купить котёл в Ачинске, печь купить, бойлер купить, угольный котёл купить, котёл на дровах, печь в баню, котёл отопительный, твёрдотопливный котёл">
    {{> headTags.html }}

    {{> headTags.css }}
    <link rel="stylesheet" href="css/index.css">

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

            {{> indexIntro }}

            {{> indexCatalogue }}

            {{> indexAbout }}

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}

    {{> preloader }}

    {{> bodyTags.js }}
    <script type="text/javascript" src="js/index.js"></script>

</body>

</html>
