<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Банные печи Кастор || Комфорт 124</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{> headTags.html }}

    <!--build:css css/kastor.min.css-->
    {{> headTags.css }}

    <link rel="stylesheet" href="css/kastor.css">
    <!--endbuild-->

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

       {{> kstrIntro }}

       {{> k12 }}

       <div class="s-devider"><div class="line"></div></div>

       {{> k16 }}

       <div class="s-devider"><div class="line"></div></div>

       {{> k20 }}

       <div class="s-devider"><div class="line"></div></div>

       {{> k27 }}

       <div class="s-devider"><div class="line"></div></div>

        <div class="families">

           <span class="families__list-title">Другие семейства банных печей:</span>
            <ul class="families__list">
                <li><a href="ermak.html" class="families__link" ripple-light>Ермак</a></li>
                <li><a href="nmk.html" class="families__link" ripple-light>НМК</a></li>
            </ul>

        </div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}

    {{> preloader }}

    <!--build:js js/kastor.min.js-->
    {{> bodyTags.js }}

    <script type="text/javascript" src="js/kastor.js"></script>
    <!--endbuild-->

</body>

</html>
