<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Kentatsu Furst || Комфорт 124</title>
    <meta name="description" content="На этой странице представлены твёрдотопливные котлы семейства Kentatsu, которые можно приобрести в ООО Комфорт в г. Ачинске">
    <meta name="keywords" content="Kentatsu, Kentatsu Furst Elegant, Kentatsu Furst Vulkan Max PR (PE), Kentatsu Furst Vulkan PR (PE), Kentatsu Furst Vulkan SR, кентатсу элегант, кентатсу вулкан, купить, котёл в Ачинске, твёрдотопливные котлы,"> {{> headTags.html }}
    {{> headTags.html }}

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/kentatsu.css" />

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

            {{> kentIntro }} {{> Elegant }}

            <div class="s-devider"><div class="line"></div></div>

            {{> SR }}

            <div class="s-devider"><div class="line"></div></div>

            {{> PR }}

            <div class="s-devider"><div class="line"></div></div>

            {{> mPR }}

            <div class="s-devider"><div class="line"></div></div>

            <div class="families">

                <span class="families__list-title">Другие семейства твёрдотопливных котлов:</span>
                <ul class="families__list">
                    <li><a href="termokraft" class="families__link" ripple-light>Termokraft</a></li>
                    <li><a href="buderus" class="families__link" ripple-light>Buderus</a></li>
                    <li><a href="zota" class="families__link" ripple-light>Zota</a></li>
                    <li><a href="nmk" class="families__link" ripple-light>НМК</a></li>
                    <li><a href="energy-tt" class="families__link" ripple-light>Энергия-ТТ</a></li>
                </ul>

            </div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}

    {{> preloader }}

    {{> bodyTags.js }}
    <script type="text/javascript" src="js/kentatsu.js"></script>

</body>

</html>
