<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Банные печи НМК || Комфорт 124</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{> headTags.html }}

    <!--build:css css/nmk-furnaces.min.css-->
    {{> headTags.css }}

    <link rel="stylesheet" href="css/nmk-furnaces.css">
    <!--endbuild-->

</head>

<body>

    <div id="wrapper" class="wrapper">
        
        {{> header }}

        <main id="main" class="main">

       {{> kentIntro }}

       {{> Elegant }}
       
       <div class="s-devider"><div class="line"></div></div>

        <div class="families">

           <span class="families__list-title">Другие семейства банных печей:</span>
            <ul class="families__list">
                <li><a href="ermak.html" class="families__link" ripple-light>Ермак</a></li>
                <li><a href="kastor.html" class="families__link" ripple-light>Кастор</a></li>
            </ul>

        </div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}
    
    {{> preloader }}

    <!--build:js js/nmk-furnaces.min.js-->
    {{> bodyTags.js }}

    <script type="text/javascript" src="js/nmk-furnaces.js"></script>
    <!--endbuild-->

</body>

</html>