<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Отопительно-варочные печи || Комфорт 124</title>
    <meta name="description" content="На этой странице представлены отопительно-варочные печи, которые можно приобрести в ООО Комфорт в г. Ачинске">
    <meta name="keywords" content="MBS, МБС, отопительно-варочные печи,варочные печи, отопительные печи, печь для дачи, печь для деревни, купить в Ачинске, Ачинск, комфорт, купить, купить печь в Ачинске,">
    {{> headTags.html }}

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/stoves.css" />

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

            {{> stovIntro }}

			<div class="s-devider"><div class="line"></div></div>

            {{> corner-happy }}

           <div class="s-devider"><div class="line"></div></div>

           {{> vesta-trend }}

           <div class="s-devider"><div class="line"></div></div>

           {{> olimp-stone }}

           <div class="s-devider"><div class="line"></div></div>

           {{> olimpia-stone }}

           <div class="s-devider"><div class="line"></div></div>

           {{> magnum-stone }}

           <div class="s-devider"><div class="line"></div></div>

           {{> thermo_vulkan-stone }}

           <div class="s-devider"><div class="line"></div></div>

           {{> super_thermo_magnum-stone }}

           <div class="s-devider"><div class="line"></div></div>

           {{> ognivo_1-2 }}

           <div class="s-devider"><div class="line"></div></div>

           {{> ognivo_maxi-coal }}

           <div class="s-devider"><div class="line"></div></div>

           {{> ermak_soffit-grant }}

           <div class="s-devider"><div class="line"></div></div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}

    {{> preloader }}

    {{> bodyTags.js }}
    <script type="text/javascript" src="js/stoves.js"></script>

</body>

</html>
