<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Kentatsu Furst || Комфорт 124</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{> headTags.html }}

    <!--build:css css/index.min.css-->
    {{> headTags.css }}

    <link rel="stylesheet" href="css/termokraft.css">
    <!--endbuild-->

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

        {{> termtIntro}}

       {{> Elegant }}

       <div class="s-devider"><div class="line"></div></div>

        <div class="families">

           <span class="families__list-title">Другие семейства твёрдотопливных котлов:</span>
            <ul class="families__list">
                <li><a href="#" class="families__link" ripple-light>Kentatsu Furst Vulkan</a></li>
                <li><a href="#" class="families__link" ripple-light>Buderus</a></li>
                <li><a href="#" class="families__link" ripple-light>Zota</a></li>
                <li><a href="#" class="families__link" ripple-light>НМК</a></li>
                <li><a href="#" class="families__link" ripple-light>Энергия-ТТ</a></li>
            </ul>

        </div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    <!--build:js js/index.min.js-->
    {{> bodyTags.js }}

    <script type="text/javascript" src="js/termokraft.js"></script>
    <!--endbuild-->

</body>

</html>
