<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Элеткрокотлы Zota || Комфорт 124</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{> headTags.html }}

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/zotae.css" />

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

        {{> zotaeIntro }}

       {{> econom }}

       <div class="s-devider"><div class="line"></div></div>

       {{> lux }}

       <div class="s-devider"><div class="line"></div></div>

       {{> mk }}

       <div class="s-devider"><div class="line"></div></div>

       {{> prom }}

       <div class="s-devider"><div class="line"></div></div>

       {{> smart }}

       {{> tens }}

       <div class="s-devider"><div class="line"></div></div>

        <div class="families">
            <ul class="families__list">
                <li><a href="index.html" class="families__link" ripple-light>На главную</a></li>
            </ul>

        </div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}

    {{> preloader }}

    {{> bodyTags.js }}
    <script type="text/javascript" src="js/zotae.js"></script>

</body>

</html>
