<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>

    <meta charset="utf-8">
    <title>Zota || Комфорт 124</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    {{> headTags.html }}

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/zota.css" />

</head>

<body>

    <div id="wrapper" class="wrapper">

        {{> header }}

        <main id="main" class="main">

        {{> zotaIntro }}

       {{> box }}

       <div class="s-devider"><div class="line"></div></div>

       {{> carbon }}

       <div class="s-devider"><div class="line"></div></div>

       {{> master }}

       <div class="s-devider"><div class="line"></div></div>

       {{> mix }}

       <div class="s-devider"><div class="line"></div></div>

       {{> pellet }}

       <div class="s-devider"><div class="line"></div></div>

       {{> stakhanov }}

       <div class="s-devider"><div class="line"></div></div>

       {{> magna }}

       <div class="s-devider"><div class="line"></div></div>

       {{> topol-m }}

       <div class="s-devider"><div class="line"></div></div>

       {{> turboset }}

       {{> tens }}

       {{> fr124 }}

       <div class="s-devider"><div class="line"></div></div>

        <div class="families">

           <span class="families__list-title">Другие семейства твёрдотопливных котлов:</span>
            <ul class="families__list">
                <li><a href="kentatsu.html" class="families__link" ripple-light>Kentatsu Furst Vulkan</a></li>
                <li><a href="buderus.html" class="families__link" ripple-light>Buderus</a></li>
                <li><a href="termokraft.html" class="families__link" ripple-light>Zota</a></li>
                <li><a href="nmk.html" class="families__link" ripple-light>НМК</a></li>
                <li><a href="energy-tt.html" class="families__link" ripple-light>Энергия-ТТ</a></li>
            </ul>

        </div>

        </main>

        {{> footer }}

        {{> topMenu }}

    </div>

    {{> buttonUp }}

    {{> preloader }}

    {{> bodyTags.js }}
    <script type="text/javascript" src="js/zota.js"></script>

</body>

</html>
