<section id="e16" class="product">

    <div class="product__container">

        <h2 class="product__name">Линейка "Ермак 16"</h2>

        <div class="container_flex-row">

            <div class="product__column">

                <h6 class="product__title">Ермак 16</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e16.jpg" alt="ermak 16" class="product__image">
                </div>

                <a href="//www.ermak-termo.ru/upload/iblock/6d4/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2016(2012).pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">12 300 р.</span>

            </div>

            <div class="product__column">

                <h6 class="product__title">Ермак 16 ПС</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e16ps.jpg" alt="ermak 16 ПС" class="product__image">
                </div>

                <a href="//www.ermak-termo.ru/upload/iblock/6d4/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2016(2012).pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">23 500 р.</span>

            </div>

            <div class="product__column">

                <h6 class="product__title">Ермак 16 Элит С</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e16es.jpg" alt="ermak 16 элит С" class="product__image">
                </div>

                <a href="//www.ermak-termo.ru/upload/iblock/6d4/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2016(2012).pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">19 800 р.</span>

            </div>

            <div class="product__column">

                <h6 class="product__title">Ермак 16 Элит ПС</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e16eps.jpg" alt="ermak 16 элит ПС" class="product__image">
                </div>

                <a href="" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">25 450 р.</span>

            </div>

            <span class="product__description-text">
                Банная печь с оптимальным соотношением простоты, эффективности и изменяемой функциональности («Free Transformation»). Создана для обладателей небольшой русской бани или финской сауны, получения пара и нагрева воды, с объемом парной от 8-16 м&sup3;.
            </span>


            <div class="product__table-container">

                <style id="Ермак 16_30689_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl6330689,
                    .xl6430689,
                    .xl6530689,
                    .xl6630689,
                    .xl6730689,
                    .xl6830689,
                    .xl6930689,
                    .xl7030689,
                    .xl7130689 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: "\@";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                    }
                </style>

                <div id="Ермак 16_30689" x:publishsource="Excel" align="center">
                    <table class="xl6330689" style="border-collapse:collapse;table-layout:fixed;width:799pt" width="1064" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:6400;width:131pt" width="175">
                                <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:4242;width:87pt" width="116">
                                    <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:3108;width:64pt" width="85">
                                        <col class="xl6330689" style="width:48pt" width="64">
                                            <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:3620;width:74pt" width="99">
                                                <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:3108;width:64pt" width="85">
                                                    <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:3218;width:66pt" width="88">
                                                        <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:2706;width:56pt" width="74">
                                                            <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:2486;width:51pt" width="68">
                                                                <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:2816;width:58pt" width="77">
                                                                    <col class="xl6330689" style="mso-width-source:userset;mso-width-alt:4864;width:100pt" width="133">
                        </colgroup>
                        <tbody>
                            <tr style="height:15.0pt" height="20">
                                <td colspan="11" class="xl6430689" style="height:15.0pt;width:799pt" height="20" width="1064">Печь-каменка Ермак 16</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:32.25pt" height="43">
                                <td rowspan="2" class="xl6730689" style="height:63.0pt;width:131pt" height="84" width="175">Модель печи-каменки</td>
                                <td rowspan="2" class="xl6730689" style=";width:87pt" width="116">Объём отапливаемого помещения, м&sup3;</td>
                                <td rowspan="2" class="xl6730689" style="width:64pt" width="85">Мощность, кВт</td>
                                <td rowspan="2" class="xl6730689" style="width:48pt" width="64">Масса, кг</td>
                                <td rowspan="2" class="xl6730689" style="width:74pt" width="99">Ёмкость каменки, кг</td>
                                <td rowspan="2" class="xl6730689" style="width:64pt" width="85">Глубина топки, мм</td>
                                <td rowspan="2" class="xl6730689" style="width:66pt" width="88">Диаметр дымохода, м</td>
                                <td colspan="3" class="xl6730689" style="width:165pt" width="219">Габаритные размеры, ±15 мм</td>
                                <td rowspan="2" class="xl6730689" style="width:100pt" width="133">Длина тоннеля, мм</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:30.75pt" height="41">
                                <td class="xl6430689" style="height:30.75pt" height="41">Длина</td>
                                <td class="xl6430689">Ширина</td>
                                <td class="xl6430689">Высота</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6430689" style="height:15.0pt" height="20">Ермак 16</td>
                                <td rowspan="4" class="xl6530689">8-18</td>
                                <td rowspan="4" class="xl6530689">16</td>
                                <td class="xl6430689">56</td>
                                <td rowspan="4" class="xl6430689">60</td>
                                <td rowspan="4" class="xl6430689">500</td>
                                <td rowspan="4" class="xl6430689">115</td>
                                <td class="xl6430689">595</td>
                                <td class="xl6430689">445</td>
                                <td class="xl6430689">730</td>
                                <td class="xl6430689">135</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6430689" style="height:15.0pt" height="20">Ермак 16-ПС</td>
                                <td class="xl6430689">62</td>
                                <td class="xl6430689">600</td>
                                <td class="xl6430689">515</td>
                                <td class="xl6430689">730</td>
                                <td class="xl6430689">125… 225</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6430689" style="height:15.0pt" height="20">Ермак-Элит 16-С</td>
                                <td class="xl6430689">54</td>
                                <td class="xl6430689">595</td>
                                <td class="xl6430689">445</td>
                                <td class="xl6430689">730</td>
                                <td class="xl6430689">135</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6430689" style="height:15.0pt" height="20">Ермак-Элит 16-ПС</td>
                                <td class="xl6430689">58</td>
                                <td class="xl6430689">600</td>
                                <td class="xl6430689">515</td>
                                <td class="xl6430689">730</td>
                                <td class="xl6430689">125… 225</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6430689" height="20">Ермак 16-ПС/сетка</td>
                                <td rowspan="2" class="xl7030689">8-16</td>
                                <td rowspan="2" class="xl6830689">16</td>
                                <td class="xl6430689">75</td>
                                <td rowspan="2" class="xl6830689">110÷120</td>
                                <td rowspan="2" class="xl6830689">500</td>
                                <td rowspan="2" class="xl6830689">115</td>
                                <td class="xl6430689">735</td>
                                <td class="xl6430689">595</td>
                                <td class="xl6430689">785</td>
                                <td class="xl6430689">50… 150</td>
                            </tr>
                            <tr class="xl6330689" style="height:15.0pt" height="20">
                                <td class="xl6730689" style="height:15.0pt;width:131pt" height="20" width="175">Ермак-Элит 16-ПС/сетка</td>
                                <td class="xl6430689">70</td>
                                <td class="xl6430689">735</td>
                                <td class="xl6430689">595</td>
                                <td class="xl6430689">785</td>
                                <td class="xl6430689">50… 150</td>
                            </tr>
                            <tr class="xl6330689" style="height:15.0pt" height="20">
                                <td colspan="11" class="xl6630689" style="height:15.0pt" height="20">*стоимость уточняйте у менеджера</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:131pt" width="175"></td>
                                <td style="width:87pt" width="116"></td>
                                <td style="width:64pt" width="85"></td>
                                <td style="width:48pt" width="64"></td>
                                <td style="width:74pt" width="99"></td>
                                <td style="width:64pt" width="85"></td>
                                <td style="width:66pt" width="88"></td>
                                <td style="width:56pt" width="74"></td>
                                <td style="width:51pt" width="68"></td>
                                <td style="width:58pt" width="77"></td>
                                <td style="width:100pt" width="133"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
