<section id="e20" class="product">

    <div class="product__container">

        <h2 class="product__name">Линейка "Ермак 20"</h2>

        <div class="container_flex-row">

            <div class="product__column">

                <h6 class="product__title">Ермак 20</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e20.jpg" alt="ermak 20" class="product__image">
                </div>

                <a href="//www.ermak-termo.ru/upload/iblock/c6a/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2020(2012).pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">16 450 р.</span>

            </div>

            <div class="product__column">

                <h6 class="product__title">Ермак 20 ПС</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e20ps.jpg" alt="ermak 20 ПС" class="product__image">
                </div>

                <a href="//www.ermak-termo.ru/upload/iblock/c6a/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2020(2012).pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">22 850 р.</span>

            </div>

            <div class="product__column">

                <h6 class="product__title">Ермак 20 Элит С</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e20es.jpg" alt="ermak 20 Элит С" class="product__image">
                </div>

                <a href="//www.ermak-termo.ru/upload/iblock/c6a/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2020(2012).pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">21 300 р.</span>

            </div>

            <div class="product__column">

                <h6 class="product__title">Ермак 20 Элит ПС</h6>

                <div class="product__image-container">
                    <img src="assets/img/ermak/e20eps.jpg" alt="ermak 20 Элит ПС" class="product__image">
                </div>

                <a href="//www.ermak-termo.ru/upload/iblock/c6a/%D0%9F%D0%B0%D1%81%D0%BF%D0%BE%D1%80%D1%82%20%D0%95%D1%80%D0%BC%D0%B0%D0%BA%2020(2012).pdf" target="_blank" class="product__link" ripple-light>Инструкция по эксплуатации</a>

                <span class="product__price_narrow">27 550 р.</span>

            </div>

            <span class="product__description-text">
                20 серия уверенно стоит в золотой середине линейки банных печей, сочетая мощность и преимущества изменяемой функциональности «FT». Печь - для средней русской бани или финской сауны, получения пара и нагрева воды с объемом парной от 12-24 м&sup3;
            </span>


            <div class="product__table-container">

                <style id="Ермак 16_18210_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl6318210,
                    .xl6418210,
                    .xl6518210,
                    .xl6618210,
                    .xl6718210 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: "\@";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                    }
                </style>

                <div id="Ермак 16_18210" x:publishsource="Excel" align="center">
                    <table class="xl6318210" style="border-collapse:collapse;table-layout:fixed;width:799pt" width="1064" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:6400;width:131pt" width="175">
                                <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:4242;width:87pt" width="116">
                                    <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:3108;width:64pt" width="85">
                                        <col class="xl6318210" style="width:48pt" width="64">
                                            <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:3620;width:74pt" width="99">
                                                <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:3108;width:64pt" width="85">
                                                    <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:3218;width:66pt" width="88">
                                                        <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:2706;width:56pt" width="74">
                                                            <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:2486;width:51pt" width="68">
                                                                <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:2816;width:58pt" width="77">
                                                                    <col class="xl6318210" style="mso-width-source:userset;mso-width-alt:4864;width:100pt" width="133">
                        </colgroup>
                        <tbody>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td colspan="11" class="xl6418210" style="height:15.0pt;width:799pt" height="20" width="1064">Печь-каменка Ермак 20</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:32.25pt" height="43">
                                <td rowspan="2" class="xl6518210" style="height:63.0pt;width:131pt" height="84" width="175">Модель печи-каменки</td>
                                <td rowspan="2" class="xl6518210" style="width:87pt" width="116">Объём отапливаемого помещения, м³</td>
                                <td rowspan="2" class="xl6518210" style="width:64pt" width="85">Мощность, кВт</td>
                                <td rowspan="2" class="xl6518210" style="width:48pt" width="64">Масса, кг</td>
                                <td rowspan="2" class="xl6518210" style="width:74pt" width="99">Ёмкость каменки, кг</td>
                                <td rowspan="2" class="xl6518210" style="width:64pt" width="85">Глубина топки, мм</td>
                                <td rowspan="2" class="xl6518210" style="width:66pt" width="88">Диаметр дымохода, м</td>
                                <td colspan="3" class="xl6518210" style="width:165pt" width="219">Габаритные размеры, ±15 мм</td>
                                <td rowspan="2" class="xl6518210" style="width:100pt" width="133">Длина тоннеля, мм</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:30.75pt" height="41">
                                <td class="xl6418210" style="height:30.75pt" height="41">Длина</td>
                                <td class="xl6418210">Ширина</td>
                                <td class="xl6418210">Высота</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6418210" style="height:15.0pt" height="20">Ермак 20</td>
                                <td rowspan="4" class="xl6718210">12-24</td>
                                <td rowspan="4" class="xl6418210">20</td>
                                <td class="xl6418210">70</td>
                                <td rowspan="4" class="xl6418210">60</td>
                                <td rowspan="4" class="xl6418210">550</td>
                                <td rowspan="4" class="xl6418210">115</td>
                                <td class="xl6418210">700</td>
                                <td class="xl6418210">445</td>
                                <td class="xl6418210">760</td>
                                <td class="xl6418210">200</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6418210" style="height:15.0pt" height="20">Ермак 20-ПС</td>
                                <td class="xl6418210">75</td>
                                <td class="xl6418210">700</td>
                                <td class="xl6418210">515</td>
                                <td class="xl6418210">760</td>
                                <td class="xl6418210">200… 300</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6418210" style="height:15.0pt" height="20">Ермак-Элит 20-С</td>
                                <td class="xl6418210">60</td>
                                <td class="xl6418210">700</td>
                                <td class="xl6418210">445</td>
                                <td class="xl6418210">760</td>
                                <td class="xl6418210">200</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6418210" style="height:15.0pt" height="20">Ермак-Элит 20-ПС</td>
                                <td class="xl6418210">65</td>
                                <td class="xl6418210">700</td>
                                <td class="xl6418210">515</td>
                                <td class="xl6418210">760</td>
                                <td class="xl6418210">200… 300</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td colspan="11" class="xl6618210" style="height:15.0pt" height="20">*стоимость уточняйте у менеджера</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:131pt" width="175"></td>
                                <td style="width:87pt" width="116"></td>
                                <td style="width:64pt" width="85"></td>
                                <td style="width:48pt" width="64"></td>
                                <td style="width:74pt" width="99"></td>
                                <td style="width:64pt" width="85"></td>
                                <td style="width:66pt" width="88"></td>
                                <td style="width:56pt" width="74"></td>
                                <td style="width:51pt" width="68"></td>
                                <td style="width:58pt" width="77"></td>
                                <td style="width:100pt" width="133"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
