<section class="intro">

    <div class="intro__back-image-container">
        <img src="assets/img/ermak/intro.jpg" alt="ermak intro" class="intro__back-image">
    </div>

    <div class="intro__overlay">

        <div class="container_flex">

            <h1 class="intro__title">Банные печи Ермак</h1>

            <span class="intro__subtitle">
                Выберите интересующий Вас вариант, и свяжитесь с менеджером, чтобы уточнить наличие и стоимость:
            </span>

            <ul class="intro__list">
                <li>
                    <a href="#" data-roll="e12" class="intro__link" ripple-light></a>
                    <a href="#" data-roll="e16" class="intro__link" ripple-light></a>
                    <a href="#" data-roll="e20" class="intro__link" ripple-light></a>
                    <a href="#" data-roll="e30" class="intro__link" ripple-light></a>
                </li>
            </ul>

            <span class="intro__additional-text"></span>

            <span class="intro__list-title">Другие семейства твёрдотопливных котлов:</span>

            <ul class="intro__list">
                <li><a href="nmk.html" class="intro__link" ripple-light>НМК</a></li>
                <li><a href="kastor.html" class="intro__link" ripple-light>Кастор</a></li>
            </ul>

        </div>

    </div>

</section>