<section id="katun" class="product">

    <div class="product__container">

        <h2 class="product__name">Банная печь "Катунь"</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <img src="assets/img/nmk-furnaces/katun-1.jpg" alt="НМК Катунь" class="product__image">
                <img src="assets/img/nmk-furnaces/katun-2.jpg" alt="НМК Катунь" class="product__image">
                <img src="assets/img/nmk-furnaces/katun-3.jpg" alt="НМК Катунь" class="product__image">

            </div>

            <span class="product__price_wide">24 680 р.</span>

            <div class="product__table-container" align="center">

                <table style="border-collapse:collapse;table-layout:fixed;width:273pt" width="363" border="0" cellspacing="0" cellpadding="0">
                    <colgroup>
                        <col width="238">
                            <col width="64">
                                <col width="61">
                    </colgroup>
                    <tbody>
                        <tr height="40">
                            <td colspan="3" height="40" width="363">Характеристики банной печи "Катунь"</td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="238">Объем парильного помещения</td>
                            <td width="64">М&sup3;</td>
                            <td width="61">До 24</td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="238">Высота</td>
                            <td width="64">мм</td>
                            <td width="61">895</td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="238">Ширина</td>
                            <td width="64">мм</td>
                            <td width="61">565</td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="238">Длина</td>
                            <td width="64">мм</td>
                            <td width="61">780</td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="238">Глубина топки</td>
                            <td width="64">мм</td>
                            <td width="61">400</td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="238">Масса печи</td>
                            <td width="64">Кг</td>
                            <td width="61">125</td>
                        </tr>
                        <tr height="20">
                            <td height="20" width="238">Масса камней</td>
                            <td width="64">Кг</td>
                            <td width="61">200</td>
                        </tr>
                        <tr style="display:none" height="0">
                            <td width="238"></td>
                            <td width="64"></td>
                            <td width="61"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
                
                <div class="product__description-container">

                <span class="product__characteristics-title">Описание:</span>

                <span class="product__description-text">
                Панорамное стекло делает процесс топки завораживающим. Согласно народной поговорке человек безотрывно может смотреть на три вещи – на огонь, воду, и на то, как другие люди работают. Данная печь объединяет эти три вещи и сделает всё сама – и даст возможность смотреть на живой огонь через термостойкое стекло, согреет воду в баке, а также сделает обстановку в бане тёплой и комфортной. Эстетика камней наполнит парную уютом и создаст неповторимую атмосферу живого общения с природой в Вашей бане.
                </span>

            </div>

        </div>

    </div>

</section>
