<section id="" class="product">

    <div class="product__container">

        <h2 class="product__name">Линейка "Кастор "</h2>

        <div class="container_flex-row">

            <div class="product__column">
                
                <h6 class="product__title"></h6>

                <div class="product__image-container">
                    <img src="assets/img/kastor/.jpg" alt="Kastor " class="product__image">
                </div>
                
                <span class="product__price"></span>

            </div>

            <div class="product__column">
                
                <h6 class="product__title"></h6>

                <div class="product__image-container">
                    <img src="assets/img/kastor/.jpg" alt="Kastor " class="product__image">
                </div>
                
                <span class="product__price"></span>

            </div>

            <div class="product__column">
                
                <h6 class="product__title"></h6>

                <div class="product__image-container">
                    <img src="assets/img/kastor/.jpg" alt="Kastor " class="product__image">
                </div>
                
                <span class="product__price"></span>

            </div>

            <div class="product__column">
                
                <h6 class="product__title"></h6>

                <div class="product__image-container">
                    <img src="assets/img/kastor/.jpg" alt="Kastor " class="product__image">
                </div>
                
                <span class="product__price"></span>

            </div>

            <span class="product__description-text"></span>


            <div class="product__table-container"></div>

        </div>

    </div>

</section>