<section class="intro">

	<div class="intro__back-image-container">
		<img src="assets/img/nmk-furnaces/intro.jpg" alt="ermak intro" class="intro__back-image">
	</div>

	<div class="intro__overlay">

		<div class="container_flex">

			<h1 class="intro__title">Банные печи НМК</h1>

			<span class="intro__subtitle">
                Выберите интересующий Вас вариант, и свяжитесь с менеджером, чтобы уточнить наличие и стоимость:
            </span>

			<ul class="intro__list">
				<li><a href="#" data-roll="kuban" class="intro__link" ripple-light>Кубань</a></li>
				<li><a href="#" data-roll="katun" class="intro__link" ripple-light>Катунь</a></li>
				<li><a href="#" data-roll="sibiria-1" class="intro__link" ripple-light>"Сибирь" со встроенным баком</a></li>
				<li><a href="#" data-roll="sibiria-2" class="intro__link" ripple-light>"Сибирь" с выносной дверцей (навесной бак)</a></li>
			</ul>

			<span class="intro__additional-text"></span>

			<span class="intro__list-title">Другие семейства банных печей:</span>

			<ul class="intro__list">
				<li><a href="kastor" class="intro__link" ripple-light>Кастор</a></li>
				<li><a href="ermak" class="intro__link" ripple-light>Ермак</a></li>
			</ul>

		</div>

	</div>

</section>
