<section id="sibiria-1" class="product">

    <div class="product__container">

        <h2 class="product__name">Банная печь "Сибирь" со встроенным баком</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <img src="assets/img/nmk-furnaces/sibir-1-1.jpg" alt="НМК Сибирь со встроенным баком" class="product__image">
                <img src="assets/img/nmk-furnaces/sibir-1-2.jpg" alt="НМК Сибирь со встроенным баком" class="product__image">
                <img src="assets/img/nmk-furnaces/sibir-1-4.jpg" alt="НМК Сибирь со встроенным баком" class="product__image">

            </div>

            <span class="product__price_wide">26 640 р.</span>

            <div class="product__table-container" align="center">

                <table style="border-collapse:collapse" width="450" border="0" cellspacing="0" cellpadding="0">
                    <colgroup>
                    	<col width="150">
                    	<col width="60">
                    	<col width="120">
                    	<col width="120">
                    </colgroup>
                    <tbody>
                        <tr height="60">
                            <td><b>Модель</b>
                            </td>
                            <td>Ед. изм.</td>
                            <td>«Сибирь» под навесной бак</td>
                            <td>«Сибирь» со встроенным баком</td>
                        </tr>
                        <tr height="40">
                            <td>Объем парильного помещения</td>
                            <td>м&sup3;</td>
                            <td>До 15</td>
                            <td>До 15</td>
                        </tr>
                        <tr height="20">
                            <td>Высота</td>
                            <td>мм</td>
                            <td>790</td>
                            <td>790</td>
                        </tr>
                        <tr height="20">
                            <td>Ширина</td>
                            <td>мм</td>
                            <td>465</td>
                            <td>465</td>
                        </tr>
                        <tr height="20">
                            <td>Длина</td>
                            <td>мм</td>
                            <td>750</td>
                            <td>1025</td>
                        </tr>
                        <tr height="20">
                            <td>Глубина топки</td>
                            <td>мм</td>
                            <td>400</td>
                            <td>400</td>
                        </tr>
                        <tr height="20">
                            <td>Масса печи</td>
                            <td>Кг</td>
                            <td>111</td>
                            <td>126</td>
                        </tr>
                        <tr height="20">
                            <td>Масса камней</td>
                            <td>Кг</td>
                            <td>60</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Долговечность и надежность. Вся конструкция печи изготовлена из стали толщиной 6мм.
                    </li>
                    <li class="product__characteristics-item">
                        В конструкции печи реализована эффективная схема теплообмена, существенно ускоряющая нагревание воздуха в парильном и смежных помещениях за счет образуемого мощного кругового конвекционного потока;
                    </li>
                    <li class="product__characteristics-item">
                        Глубокая емкая каменка печи является мощным парогенератором. Большое количество качественно нагретых камней обеспечивает стабильную температуру в парильном помещении;
                    </li>
                    <li class="product__characteristics-item">
                        Печь оснащена выносным топливным каналом, что позволяет ее топить из смежного помещения;
                    </li>
                    <li class="product__characteristics-item">
                        Колосниковая решетка из массивного литейного чугуна, обеспечивает равномерное и мощное горение топлива;
                    </li>
                    <li class="product__characteristics-item">
                        Печь снабжена удобным, выдвижным зольником, который также является регулятором интенсивного горения. Он позволяет удалять накопившуюся золу, не прерывая процесс горения;
                    </li>
                    <li class="product__characteristics-item">
                        Все наружные поверхности печи окрашены двумя слоями жаростойкой эмали;
                    </li>
                    <li class="product__characteristics-item">
                        Основной объем каменки приходится на большое пространство, ограниченное наклонной стенкой коллектора, задней стенкой каменки и боковыми стенками, имеющими специальные пазы для циркуляции нагретого воздуха, направляемого боковыми конвекторами из около топочного пространства. Конструкция коллектора позволяет легко производить очистку дымохода от сажи;
                    </li>
                    <li class="product__characteristics-item">
                        В качестве дополнительного источника топлива возможно использование угля.
                    </li>
                </ul>

            </div>

        </div>

    </div>

</section>
