<section id="sibiria-2" class="product">

    <div class="product__container">

        <h2 class="product__name">Банная печь "Сибирь" с выносной дверцей (навесной бак)</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <img src="assets/img/nmk-furnaces/sibir-2-1.jpg" alt="НМК Сибирь с выносной дверцей (навесной бак)" class="product__image">
                <img src="assets/img/nmk-furnaces/sibir-2-2.jpg" alt="НМК Сибирь с выносной дверцей (навесной бак)" class="product__image">
                <img src="assets/img/nmk-furnaces/sibir-2-4.jpg" alt="НМК Сибирь с выносной дверцей (навесной бак)" class="product__image">

            </div>

            <span class="product__price_wide">26 640 р.</span>

            <div class="product__table-container" align="center">

                <table style="border-collapse:collapse" width="450" border="0" cellspacing="0" cellpadding="0">
                    <colgroup>
                        <col width="150">
                            <col width="60">
                                <col width="120">
                                    <col width="120">
                    </colgroup>
                    <tbody>
                        <tr height="60">
                            <td><b>Модель</b>
                            </td>
                            <td>Ед. изм.</td>
                            <td>«Сибирь» под навесной бак</td>
                            <td>«Сибирь» со встроенным баком</td>
                        </tr>
                        <tr height="40">
                            <td>Объем парильного помещения</td>
                            <td>м&sup3;</td>
                            <td>До 15</td>
                            <td>До 15</td>
                        </tr>
                        <tr height="20">
                            <td>Высота</td>
                            <td>мм</td>
                            <td>790</td>
                            <td>790</td>
                        </tr>
                        <tr height="20">
                            <td>Ширина</td>
                            <td>мм</td>
                            <td>465</td>
                            <td>465</td>
                        </tr>
                        <tr height="20">
                            <td>Длина</td>
                            <td>мм</td>
                            <td>750</td>
                            <td>1025</td>
                        </tr>
                        <tr height="20">
                            <td>Глубина топки</td>
                            <td>мм</td>
                            <td>400</td>
                            <td>400</td>
                        </tr>
                        <tr height="20">
                            <td>Масса печи</td>
                            <td>Кг</td>
                            <td>111</td>
                            <td>126</td>
                        </tr>
                        <tr height="20">
                            <td>Масса камней</td>
                            <td>Кг</td>
                            <td>60</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Патрубок дымохода смещен вперед, что дает больше удобств при размещении камней в пространстве каменки и создает более комфортные условия в процессе парения;
                    </li>
                    <li class="product__characteristics-item">
                        Изменена конфигурация облицовочной части, что дало положительные изменения в эстетическом восприятии и создало более четкие формы печи;
                    </li>
                    <li class="product__characteristics-item">
                        Появилась возможность установки теплообменника на корпус печи в моделях под навесной бак, что дает возможность увеличить скорость нагрева воды и располагать бак с горячей водой в моечное помещение;
                    </li>
                    <li class="product__characteristics-item">
                        Изменен цвет облицовочного корпуса. Матовый черный цвет делает внешний вид печи более элегантным и стильным.
                    </li>
                    <span class="product__description"><br><br>
                    Представляем рестайлинговую модель давно полюбившейся банной печи «Сибирь».<br>
                    Печи изготовлены с учетом пожеланий покупателей и на основании совершенствования собственного опыта конструкторского бюро завода «НМК». В конструкции печи и ее свойствах учтены рекомендации ценителей русской бани. Печи вобрали в себя мощь и надежность толстостенного металла, обеспечивающего долговечность и простоту в эксплуатации. Благодаря эффективным инженерным решениям печи стали более теплоемкими и способными отвечать высоким требованиям по показателям качества.<br>
                    Конструкторам завода «НМК» удалось реализовать идею, при которой в качестве дополнительного источника топлива можно использовать бурый уголь, что делает эту печь более привлекательной при использовании в суровых климатических условиях с большими перепадами среднегодовых температур.<br><br>
                    </span>
                </ul>

            </div>

        </div>

    </div>

</section>
