<section class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft </h2>

        <div class="container_flex-row">

            <div class="product__image-container" flickity>

                <img src="assets/img/termokraft/" alt="Termokraft " class="product__image carousel-cell">

                <img src="assets/img/termokraft/" alt="Termokraft " class="product__image carousel-cell">

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item"></li>
                </ul>

                <span class="product__description-text"></span>

            </div>

            <div class="product__table-container"></div>

        </div>

    </div>

</section>
