<section id="fakel-m" class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft FAKEL-M</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/fakel-m.jpg" alt="TermokraftFAKEL-M " class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/fakel-m-2.png" alt="Termokraft FAKEL-M разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Эффективно работает на основных видах твердого топлива: дрова, уголь. Имеет возможность установки управляемой горелки на газе или жидком топливе, что делает котел более универсальным к дополнительным видам энергии – природному газу и жидкому топливу;
                    </li>
                    <li class="product__characteristics-item">
                        Комплектуется дымососом, чугунными колосниками, терморегулятором, панелью управления и защитной арматурой;
                    </li>
                    <li class="product__characteristics-item">
                        Оснащен автоматикой. Пульт системы контроля позволяет управлять дымососом, вентилятором наддува, горелкой а также отображает на цифровых дисплеях основные рабочие параметры работы котла. Так же автоматика реагирует на достижение предельных значений температуры
                        воды на выходе из котла и на значение давления воды в котле;
                    </li>
                    <li class="product__characteristics-item">
                        Удобная топочная дверца;
                    </li>
                    <li class="product__characteristics-item">
                        Имеет возможность установки поддона с рядом форсунок для сжигания топлива в кипящем слое. Котел с кипящим слоем позволяет добиться устойчивого процесса горения при использовании низкосортных, переувлажненных или высокозольных бурых и каменных углей, что
                        не реализуемо на традиционных котлах с использованием колосниковой решетки;
                    </li>
                    <li class="product__characteristics-item">
                        Цикл горения твердого топлива на одной загрузке до 8-10 часов; Рабочее давление котла в системе отопления до 4 атмосфер;
                    </li>
                    <li class="product__characteristics-item">
                        Наружные поверхности котла облицованы теплоизолирующим материалом на основе базальтового волокна и защитно-декоративными панелями.
                    </li>
                </ul>
            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
            Жаротрубный комбинированный котел FAKEL M (Факел М) (КВР) предназначен для отопления малоэтажных строений площадью от 1000 до 8000 м&sup2;, оборудованных системами водяного отопления.
            </span>

            <div class="product__table-container" align="center">
                <table style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0" width="880">
                    <colgroup>
                        <col width="475">
                        <col span="9" width="45">
                    </colgroup>
                    <tbody>
                        <tr height="40">
                            <td>Модель котла</td>
                            <td colspan="3">FAKEL-M 100</td>
                            <td colspan="3">FAKEL-M 250</td>
                            <td colspan="3">FAKEL-M 400</td>
                        </tr>
                        <tr height="25">
                            <td>Теплопроизводительность, мВт</td>
                            <td colspan="3">0,1</td>
                            <td colspan="3">0,25</td>
                            <td colspan="3">0,4</td>
                        </tr>
                        <tr height="25">
                            <td>Площадь отапливаемых помещений высотой до 2,7м, м²</td>
                            <td colspan="3">1000</td>
                            <td colspan="3">2500</td>
                            <td colspan="3">4000</td>
                        </tr>
                        <tr height="25">
                            <td rowspan="2" height="50" width="475">КПД, % &nbsp; &nbsp; (Т-твердое топливо,Ж-жидкое топливо, Г-природный газ)</td>
                            <td>Т</td>
                            <td>Ж</td>
                            <td>Г</td>
                            <td>Т</td>
                            <td>Ж</td>
                            <td>Г</td>
                            <td>Т</td>
                            <td>Ж</td>
                            <td>Г</td>
                        </tr>
                        <tr height="25">
                            <td>86</td>
                            <td>91</td>
                            <td>92</td>
                            <td>86</td>
                            <td>91</td>
                            <td>92</td>
                            <td>86</td>
                            <td>91</td>
                            <td>92</td>
                        </tr>
                        <tr height="25">
                            <td>Греющие поверхности котла, м²</td>
                            <td colspan="3">8</td>
                            <td colspan="3">21</td>
                            <td colspan="3">34</td>
                        </tr>
                        <tr height="25">
                            <td>Расход воздуха, куб.м/час</td>
                            <td colspan="3">185</td>
                            <td colspan="3">465</td>
                            <td colspan="3">745</td>
                        </tr>
                        <tr height="25">
                            <td>Расход каменного угля, кг/час (Q=6450ккал/кг)</td>
                            <td colspan="3">17</td>
                            <td colspan="3">42</td>
                            <td colspan="3">70</td>
                        </tr>
                        <tr height="25">
                            <td>Расход жидкого топлива, куб.м/час</td>
                            <td colspan="3">10</td>
                            <td colspan="3">25</td>
                            <td colspan="3">42</td>
                        </tr>
                        <tr height="25">
                            <td>Расход природного газа, куб.м/час</td>
                            <td colspan="3">12</td>
                            <td colspan="3">30</td>
                            <td colspan="3">50</td>
                        </tr>
                        <tr height="25">
                            <td>Высота котла, мм</td>
                            <td colspan="3">1400</td>
                            <td colspan="3">1900</td>
                            <td colspan="3">2300</td>
                        </tr>
                        <tr height="25">
                            <td>Ширина котла, мм</td>
                            <td colspan="3">1000</td>
                            <td colspan="3">1250</td>
                            <td colspan="3">1350</td>
                        </tr>
                        <tr height="25">
                            <td>Длина котла, мм</td>
                            <td colspan="3">1350</td>
                            <td colspan="3">1950</td>
                            <td colspan="3">2100</td>
                        </tr>
                        <tr height="25">
                            <td>Глубина топки котла, мм</td>
                            <td colspan="3">1050</td>
                            <td colspan="3">1320</td>
                            <td colspan="3">1700</td>
                        </tr>
                        <tr height="25">
                            <td>Масса котла, кг</td>
                            <td colspan="3">750</td>
                            <td colspan="3">1600</td>
                            <td colspan="3">1800</td>
                        </tr>
                        <tr height="25">
                            <td>Диаметр дымохода, мм</td>
                            <td colspan="3">250</td>
                            <td colspan="3">250</td>
                            <td colspan="3">250</td>
                        </tr>
                        <tr height="25">
                            <td>Высота дымохода не менее, м</td>
                            <td colspan="3">6</td>
                            <td colspan="3">6</td>
                            <td colspan="3">6</td>
                        </tr>
                        <tr height="25">
                            <td>Номинальное рабочее давление воды в котле, бар, не более</td>
                            <td colspan="3">3</td>
                            <td colspan="3">3</td>
                            <td colspan="3">3</td>
                        </tr>
                        <tr height="25">
                            <td>Макс. рабочее давление воды в котле, бар</td>
                            <td colspan="3">4</td>
                            <td colspan="3">4</td>
                            <td colspan="3">4</td>
                        </tr>
                        <tr height="25">
                            <td>Макс. температура воды на выходе, °С</td>
                            <td colspan="3">95</td>
                            <td colspan="3">95</td>
                            <td colspan="3">95</td>
                        </tr>
                        <tr height="25">
                            <td>Номинальная температура оборотной воды, °С</td>
                            <td colspan="3">65</td>
                            <td colspan="3">65</td>
                            <td colspan="3">65</td>
                        </tr>
                        <tr height="25">
                            <td>Температура дымовых газов, °С</td>
                            <td colspan="3">160</td>
                            <td colspan="3">160</td>
                            <td colspan="3">160</td>
                        </tr>
                        <tr height="25">
                            <td>Подключения отопительного контура</td>
                            <td colspan="3">G3</td>
                            <td colspan="3">G3</td>
                            <td colspan="3">G3</td>
                        </tr>
                        <tr height="25">
                            <td>Основное топливо</td>
                            <td colspan="3">Уголь/дрова</td>
                            <td colspan="3">Уголь/дрова</td>
                            <td colspan="3">Уголь/дрова</td>
                        </tr>
                        <tr height="65">
                            <td>Дополнительные источники тепловой энергии</td>
                            <td colspan="3">Природныйгаз/Жидкое топливо</td>
                            <td colspan="3">Природныйгаз/Жидкое топливо</td>
                            <td colspan="3">Природныйгаз/Жидкое топливо</td>
                        </tr>
                        <tr height="35">
                            <td>Стоимость, р.</td>
                            <td colspan="3">178 920</td>
                            <td colspan="3">376 300</td>
                            <td colspan="3">580 000</td>
                        </tr>
                        <tr height="30">
                            <td colspan="10">Комплектуется автоматикой - панель управления, дымосос, арматура.</td>
                        </tr>
                        <!--[if supportMisalignedColumns]-->
                        <tr style="display:none" height="0">
                            <td style="width:356pt" width="475"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                            <td style="width:34pt" width="45"></td>
                        </tr>
                        <!--[endif]-->
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>
