<section id="fakel" class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft Fakel</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <img src="assets/img/termokraft/fakel.jpg" alt="Termokraft Fakel" class="product__image">

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Мощность, кВт</span>
                        <span class="product__column-2">10</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">КПД, %</span>
                        <span class="product__column-2">76</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Высота, мм</span>
                        <span class="product__column-2">543</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Ширина, мм</span>
                        <span class="product__column-2">420</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Глубина, мм</span>
                        <span class="product__column-2">470/640</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Глубина топки, мм</span>
                        <span class="product__column-2">350</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Высота фланца подающей линии, мм</span>
                        <span class="product__column-2">462</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Высота фланца обратной линии, мм</span>
                        <span class="product__column-2">172</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Масса, кг</span>
                        <span class="product__column-2">70</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Номинальное рабочее давление, бар</span>
                        <span class="product__column-2">1</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Максимальное рабочее давление воды в котле, бар</span>
                        <span class="product__column-2">2</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Площадь отапливаемых помещений высотой до 2,7м, м&sup2;</span>
                        <span class="product__column-2">100</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Номинальная температура оборотной воды, °С</span>
                        <span class="product__column-2">65</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Максимальная температура воды на выходе, °С</span>
                        <span class="product__column-2">95</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Температура дымовых газов, °С</span>
                        <span class="product__column-2">250</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Фланцы подключения отопительного контура</span>
                        <span class="product__column-2">1/2</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Диаметр дымохода, мм</span>
                        <span class="product__column-2">115</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Высота дымохода не менее, м</span>
                        <span class="product__column-2">4</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Топливо</span>
                        <span class="product__column-2">дрова, уголь</span>
                    </li>
                    <li class="product__characteristics-item_columned">
                        <span class="product__column-1">Цена, руб.</span>
                        <span class="product__column-2">15 000</span>
                    </li>
                </ul>

            </div>

           <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
                Твердотопливные стальные котлы FAKEL предназначены для отопления индивидуальных жилых домов и зданий коммунально-бытового назначения, оборудованных системами водяного отопления с естественной или принудительной циркуляцией.<br>
                Особенностями данного котла являются небольшие габаритные размеры, экономичность, надежность, простота обслуживания и эксплуатации, автоматическая регулировка мощности прямодействующим регулятором тяги.
      Благодаря продуманной конструкции котлы FAKEL обеспечивают нагрев воздуха в помещениях площадью до 200 м&sup2;.
      Различная производительность котлов FAKEL позволяет подобрать модель с такой мощностью, которая гарантирует самую высокую эффективность и наиболее экономичную работу в Вашем доме.</span>

        </div>

    </div>

</section>
