<section id="fakel-m" class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft FAKEL-M</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/fakel-m.jpg" alt="TermokraftFAKEL-M " class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/fakel-m-2.png" alt="Termokraft FAKEL-M разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Эффективно работает на основных видах твердого топлива: дрова, уголь. Имеет возможность установки управляемой горелки на газе или жидком топливе, что делает котел более универсальным к дополнительным видам энергии – природному газу и жидкому топливу;
                    </li>
                    <li class="product__characteristics-item">
                        Комплектуется дымососом, чугунными колосниками, терморегулятором, панелью управления и защитной арматурой;
                    </li>
                    <li class="product__characteristics-item">
                        Оснащен автоматикой. Пульт системы контроля позволяет управлять дымососом, вентилятором наддува, горелкой а также отображает на цифровых дисплеях основные рабочие параметры работы котла. Так же автоматика реагирует на достижение предельных значений температуры воды на выходе из котла и на значение давления воды в котле;
                    </li>
                    <li class="product__characteristics-item">
                        Удобная топочная дверца;
                    </li>
                    <li class="product__characteristics-item">
                        Имеет возможность установки поддона с рядом форсунок для сжигания топлива в кипящем слое. Котел с кипящим слоем позволяет добиться устойчивого процесса горения при использовании низкосортных, переувлажненных или высокозольных бурых и каменных углей, что не реализуемо на традиционных котлах с использованием колосниковой решетки;
                    </li>
                    <li class="product__characteristics-item">
                        Цикл горения твердого топлива на одной загрузке до 8-10 часов; Рабочее давление котла в системе отопления до 4 атмосфер;
                    </li>
                    <li class="product__characteristics-item">
                        Наружные поверхности котла облицованы теплоизолирующим материалом на основе базальтового волокна и защитно-декоративными панелями.
                    </li>
                </ul>
            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
            Жаротрубный комбинированный котел FAKEL M (Факел М) (КВР) предназначен для отопления малоэтажных строений площадью от 1000 до 8000 м&sup2;, оборудованных системами водяного отопления.
            </span>

            <div class="product__table-container">

                <style id="Лист Microsoft Excel_26447_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .font526447 {
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                    }

                    .font626447 {
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                    }

                    .font726447 {
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                    }

                    .xl6326447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6426447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6526447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6626447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6726447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6826447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6926447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        background: white;
                        mso-pattern: #000 none;
                        white-space: nowrap;
                    }

                    .xl7026447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl7126447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl7226447 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: "\#\,\#\#0";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }
                </style>
                <div id="Лист Microsoft Excel_26447" x:publishsource="Excel" align="center">
                    <table class="xl6326447style='border-collapse:collapse;table-layout:fixed;width:662pt'" border="0" cellspacing="0" cellpadding="0" width="880">
                        <colgroup>
                            <col class="xl6326447" style="mso-width-source:userset;mso-width-alt:15200;width:356pt" width="475">
                                <col class="xl6426447" style="mso-width-source:userset;mso-width-alt:1440;width:34pt" span="9" width="45">
                        </colgroup>
                        <tbody>
                            <tr class="xl6826447" style="mso-height-source:userset;height:30.0pt" height="40">
                                <td class="xl7026447" style="height:30.0pt;width:356pt" height="40" width="475">Модель котла</td>
                                <td colspan="3" class="xl7026447" style="border-left:none;width:102pt" width="135">FAKEL-M&nbsp;100</td>
                                <td colspan="3" class="xl7026447" style="border-left:none;width:102pt" width="135">FAKEL-M&nbsp;250</td>
                                <td colspan="3" class="xl7026447" style="border-left:none;width:102pt" width="135">FAKEL-M&nbsp;400</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Теплопроизводительность, мВт</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">0,1</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">0,25</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">0,4</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Площадь отапливаемых помещений высотой до 2,7м, м²</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1000</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">2500</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">4000</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td rowspan="2" class="xl6626447" style="height:37.5pt;border-top:none;width:356pt" height="50" width="475">КПД, % &nbsp; &nbsp; (Т-твердое топливо,Ж-жидкое топливо, Г-природный газ)</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Т</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Ж</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Г</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Т</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Ж</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Г</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Т</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Ж</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">Г</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6526447" style="height:18.75pt;border-top:none;border-left:none;width:34pt" height="25" width="45">86</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">91</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">92</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">86</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">91</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">92</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">86</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">91</td>
                                <td class="xl6526447" style="border-top:none;border-left:none;width:34pt" width="45">92</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Греющие поверхности котла, м²</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">8</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">21</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">34</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Расход воздуха, куб.м/час</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">185</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">465</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">745</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Расход каменного угля, кг/час<font class="font526447">(Q=6450ккал/кг)</font>
                                </td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">17</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">42</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">70</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Расход жидкого топлива, куб.м/час</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">10</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">25</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">42</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Расход природного газа, куб.м/час</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">12</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">30</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">50</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Высота котла, мм</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1400</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1900</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">2300</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Ширина котла, мм</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1000</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1250</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1350</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Длина котла, мм</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1350</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1950</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">2100</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Глубина топки котла, мм</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1050</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1320</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1700</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Масса котла, кг</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">750</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1600</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">1800</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Диаметр дымохода, мм</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">250</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">250</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">250</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Высота дымохода&nbsp;<font class="font626447">не менее</font>
                                    <fontclass="font526447">, м</fontclass="font526447">
                                </td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">6</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">6</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">6</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Номинальное рабочее давление воды в котле, бар, не более</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">3</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">3</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">3</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Макс. рабочее давление воды в котле, бар</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">4</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">4</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">4</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Макс. температура воды на выходе, °С</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">95</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">95</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">95</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Номинальная температура оборотной воды, °С</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">65</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">65</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">65</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Температура дымовых газов, °С</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">160</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">160</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">160</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Подключения отопительного контура</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">G3</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">G3</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">G3</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6626447" style="height:18.75pt;border-top:none;width:356pt" height="25" width="475">Основное топливо</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">Уголь/дрова</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">Уголь/дрова</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">Уголь/дрова</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:48.75pt" height="65">
                                <td class="xl6626447" style="height:48.75pt;border-top:none;width:356pt" height="65" width="475">Дополнительные источники тепловой энергии</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">Природныйгаз/Жидкое топливо</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">Природныйгаз/Жидкое топливо</td>
                                <td colspan="3" class="xl6526447" style="border-left:none;width:102pt" width="135">Природныйгаз/Жидкое топливо</td>
                            </tr>
                            <tr class="xl6826447" style="mso-height-source:userset;height:26.25pt" height="35">
                                <td class="xl6726447" style="height:26.25pt;border-top:none" height="35">Стоимость, р.</td>
                                <td colspan="3" class="xl7226447" style="border-left:none">178 920</td>
                                <td colspan="3" class="xl7226447" style="border-left:none">376 300</td>
                                <td colspan="3" class="xl7226447" style="border-left:none">580 000</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td colspan="10" class="xl6926447" style="height:22.5pt" height="30">Комплектуется автоматикой - панель управления, дымосос, арматура.</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:356pt" width="475"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                                <td style="width:34pt" width="45"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
