<section id="prof" class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft URAGAN ProF</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/prof.png" alt="Termokraft URAGAN ProF" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/prof-2.png" alt="Termokraft URAGAN ProF разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Жаротрубный теплообменник-экономайзер;
                    </li>
                    <li class="product__characteristics-item">
                        Площадь отопления 200 – 450 м&sup2;;
                    </li>
                    <li class="product__characteristics-item">
                        Мощность 26, 32, 45 кВт;
                    </li>
                    <li class="product__characteristics-item">
                        Основной вид топлива - ДРОВА, УГОЛЬ, ГАЗ, ПЕЛЛЕТЫ;
                    </li>
                    <li class="product__characteristics-item">
                        Рабочее давление 3 атм;
                    </li>
                    <li class="product__characteristics-item">
                        Механизм активного дымоудаления;
                    </li>
                    <li class="product__characteristics-item">
                        Водоохлаждаемые колосники;
                    </li>
                    <li class="product__characteristics-item">
                        Шлакорез;
                    </li>
                    <li class="product__characteristics-item">
                        Блок ТЭН 6, 9 кВт, пульт управления;
                    </li>
                    <li class="product__characteristics-item">
                        Дымоход с шибером (вертикальный, горизонтальный) 150 мм;
                    </li>
                    <li class="product__characteristics-item">
                        Термометр, регулятор тяги;
                    </li>
                    <li class="product__characteristics-item">
                        Длительность горения до 8-10 часов.
                    </li>
                </ul>
            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
            Комбинированный котел URAGAN PROF предназначен для отопления индивидуальных жилых домов площадью от 150 до 450 м&sup2;, оборудованных системами водяного отопления с естественной или принудительной циркуляцией.
            </span>

            <div class="product__table-container" align="center">
                <table style='border-collapse:collapse' border="0" cellspacing="0" cellpadding="0" width="1140">
                    <colgroup>
                        <col width="420">
                        <col span="3" width="240">
                    </colgroup>
                    <tbody>
                        <tr height="40">
                            <td>Модель котла</td>
                            <td>URAGAN PROF 26</td>
                            <td>URAGAN PROF 32</td>
                            <td>URAGAN PROF 45</td>
                        </tr>
                        <tr height="25">
                            <td>Теплопроизводительность, кВт</td>
                            <td>26</td>
                            <td>32</td>
                            <td>45</td>
                        </tr>
                        <tr height="25">
                            <td>Площадь отапливаемых помещений высотой до 2,7м, м²</td>
                            <td>260</td>
                            <td>320</td>
                            <td>450</td>
                        </tr>
                        <tr height="25">
                            <td>КПД, %</td>
                            <td>86</td>
                            <td>86</td>
                            <td>80</td>
                        </tr>
                        <tr height="25">
                            <td>Греющие поверхности котла, м</td>
                            <td>1,9</td>
                            <td>2,3</td>
                            <td>3,2</td>
                        </tr>
                        <tr height="25">
                            <td>Объем загрузочной камеры, л</td>
                            <td>55</td>
                            <td>69</td>
                            <td>77</td>
                        </tr>
                        <tr height="25">
                            <td>Объем воды, л</td>
                            <td>55</td>
                            <td>75</td>
                            <td>100</td>
                        </tr>
                        <tr height="25">
                            <td>Расход каменного угля, кг/час(Q=6450ккал/кг)</td>
                            <td>4,3</td>
                            <td>5,4</td>
                            <td>7,5</td>
                        </tr>
                        <tr height="25">
                            <td>Расход дров, кг/час (Q=2960ккал/кг)</td>
                            <td>8.0</td>
                            <td>9.0</td>
                            <td>14.0</td>
                        </tr>
                        <tr height="25">
                            <td>Высота котла, мм</td>
                            <td>1160</td>
                            <td>1160</td>
                            <td>1280</td>
                        </tr>
                        <tr height="25">
                            <td>Ширина котла, мм</td>
                            <td>430</td>
                            <td>480</td>
                            <td>480</td>
                        </tr>
                        <tr height="25">
                            <td>Длина котла, мм</td>
                            <td>1100</td>
                            <td>1160</td>
                            <td>1240</td>
                        </tr>
                        <tr height="25">
                            <td>Глубина топки котла, мм</td>
                            <td>560</td>
                            <td>620</td>
                            <td>700</td>
                        </tr>
                        <tr height="25">
                            <td>Масса котла, кг</td>
                            <td>215</td>
                            <td>250</td>
                            <td>295</td>
                        </tr>
                        <tr height="25">
                            <td>Диаметр дымохода, мм</td>
                            <td>150</td>
                            <td>150</td>
                            <td>150</td>
                        </tr>
                        <tr height="25">
                            <td>Высота дымохода не менее, м</td>
                            <td>6</td>
                            <td>7</td>
                            <td>7</td>
                        </tr>
                        <tr height="25">
                            <td>Макс. рабочее давление воды в котле, бар</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr height="25">
                            <td>Макс. температура воды на выходе, °С</td>
                            <td>95</td>
                            <td>95</td>
                            <td>95</td>
                        </tr>
                        <tr height="25">
                            <td>Номинальная температура оборотной воды, °С</td>
                            <td>65</td>
                            <td>65</td>
                            <td>65</td>
                        </tr>
                        <tr height="25">
                            <td>Температура дымовых газов, °С</td>
                            <td>260</td>
                            <td>260</td>
                            <td>260</td>
                        </tr>
                        <tr height="25">
                            <td>Подключения отопительного контура</td>
                            <td>G 2</td>
                            <td>G 2</td>
                            <td>G 2</td>
                        </tr>
                        <tr height="25">
                            <td>Основное топливо</td>
                            <td>Уголь/дрова/брикеты</td>
                            <td>Уголь/дрова/брикеты</td>
                            <td>Уголь/дрова/брикеты</td>
                        </tr>
                        <tr height="50">
                            <td>Дополнительные источники тепловой энергии</td>
                            <td>Природный газ/пеллеты/электроэнергия</td>
                            <td>Природный газ/пеллеты/электроэнергия</td>
                            <td>Природный газ/пеллеты/электроэнергия</td>
                        </tr>
                        <tr height="35">
                            <td>Стоимость, р.</td>
                            <td>46 000</td>
                            <td>55 000</td>
                            <td>70 000</td>
                        </tr>
                        <tr height="30">
                            <td colspan="4">топливо - дроваот 60см., уголь, газ, пеллеты, эл.энергия, брикеты, дизель</td>
                        </tr>
                        <!--[if supportMisalignedColumns]-->
                        <tr style="display:none" height="0">
                            <td style="width:315pt" width="420"></td>
                            <td style="width:180pt" width="240"></td>
                            <td style="width:180pt" width="240"></td>
                            <td style="width:180pt" width="240"></td>
                        </tr>
                        <!--[endif]-->
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</section>
