<section id="r2" class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft R2</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/r2.png" alt="Termokraft R2 " class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/r2-2.png" alt="Termokraft R2 разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Твердотопливный котёл c варочной плитой;
                    </li>
                    <li class="product__characteristics-item">
                        Площадь отопления 70 – 150 м&sup2;;
                    </li>
                    <li class="product__characteristics-item">
                        Мощность 12, 15 кВт;
                    </li>
                    <li class="product__characteristics-item">
                        Основной вид топлива - ДРОВА, УГОЛЬ, БРИКЕТЫ;
                    </li>
                    <li class="product__characteristics-item">
                        Глубина топки 600 и 700 мм;
                    </li>
                    <li class="product__characteristics-item">
                        Блок ТЭН 6 кВт, пульт управления (опция);
                    </li>
                    <li class="product__characteristics-item">
                        Переходник-шибер d 150 мм горизонтальный (опция);
                    </li>
                    <li class="product__characteristics-item">
                        Термометр, регулятор тяги (опция);
                    </li>
                    <li class="product__characteristics-item">
                        Длительность горения до 6-8 часов*
                    </li>
                </ul>
            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
Компактные размеры, экономичность, простота обслуживания и эксплуатации, универсальность по видам топлива.<br>
Глубокая и ёмкая топочная камера позволяет загружать дрова длиною 600 и 700 мм соответственно.<br>
Стандартные патрубки G2’’ позволяют делать левое, правое либо диагональное подключение к системе.<br>
Круглое сечение дымохода удобно как при встраивании котла в кирпичную трубу, так и при переходе на круглую трубу типа сэндвич (с использованием переходника с шибером).<br>
Большие размеры топочной дверцы котла удобны при загрузке топлива. Дверца зольника с термостойким уплотнителем позволяет точно регулировать подачу воздуха в зону горения.<br>
Зольная камера с вместительным зольным ящиком позволяет комфортно и удобно производить чистку котла.<br>
Наружные поверхности котла облицованы защитно-декоративными панелями, которые снижают потерю тепла теплоносителя, уменьшают инфракрасное излучение и предохраняют владельца от контакта с горячими поверхностями корпуса.<br>
Варочная плита с чугунной конфоркой позволяет приготавливать и разогревать пищу. Через открытую конфорку, возможно, производить чистку котла и загрузку угля.<br>
Предусмотрена возможность установки блока ТЭН и регулятора горения
            </span>

            <div class="product__table-container">

                <style id="Лист Microsoft Excel_20691_Styles">

                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .font520691 {
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: italic;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                    }

                    .font620691 {
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                    }

                    .xl6320691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6420691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6520691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6620691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 400;
                        font-style: italic;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6720691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6820691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6920691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl7020691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl7120691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl7220691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: "\#\,\#\#0";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl7320691 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 14.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                </style>

                <div id="Лист Microsoft Excel_20691" x:publishsource="Excel" align="center">
                    <table class="xl6320691style='border-collapse:collapse;table-layout:fixed;width:521pt'" border="0" cellspacing="0" cellpadding="0" width="694">
                        <colgroup>
                            <col class="xl6320691" style="mso-width-source:userset;mso-width-alt:14528;width:341pt" width="454">
                                <col class="xl6320691" style="mso-width-source:userset;mso-width-alt:3840;width:90pt" span="2" width="120">
                        </colgroup>
                        <tbody>
                            <tr class="xl6720691" style="mso-height-source:userset;height:30.0pt" height="40">
                                <td class="xl6520691" style="height:30.0pt;width:341pt" height="40" width="454">Модель котла</td>
                                <td class="xl6620691" style="border-left:none;width:90pt" width="120">R2
                                    <fontclass="font520691">12</fontclass="font520691">
                                </td>
                                <td class="xl6620691" style="border-left:none;width:90pt" width="120">R2
                                    <fontclass="font520691"> 15</fontclass="font520691">
                                </td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6820691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Мощность, кВт</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">12</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">15</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6820691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">КПД, %</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">76</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">76</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Высота котла H, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">610</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">610</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Ширина котла B, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">424</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">424</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Глубина котла D/F, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">774</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">854</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Глубина топки котла, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">590</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">660</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Высота фланца подающей линии Е, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">555</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">555</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Высота фланца обратной линии G, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">235</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">235</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Расстояние между фланцами С, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">320</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">320</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Диаметр дымоходного канала, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">150</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">150</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Масса котла, кг</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">105</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">105</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Максимальное рабочее давление воды в котле, бар</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">3</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">3</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Площадь отапливаемых помещений высотой до 2,7м, м
                                    <fontclass="font620691"><sup>2</sup>
                                    </fontclass="font620691">
                                </td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">120</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">150</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Максимальная температура воды на выходе, °С</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">95</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">95</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Номинальная температура оборотной воды**, °С</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">60-80</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">60-80</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Температура дымовых газов, °С</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">130-250</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">130-250</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Фланцы подключения отопительного контура</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">G 2"</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">G 2"</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Диаметр дымохода, мм</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">150</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">150</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Высота дымохода не менее, м</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">6</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">6</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Мощность блока ТЭНов, кВт</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">3х2=6</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">3х2=6</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Напряжение питания ТЭНов, В</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">220/380</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">220/380</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Объем водяной рубашки, л</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">30</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">32</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6920691" style="height:18.75pt;border-top:none;width:341pt" height="25" width="454">Объем загрузочной камеры, л</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">24</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">30</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:52.5pt" height="70">
                                <td class="xl6920691" style="height:52.5pt;border-top:none;width:341pt" height="70" width="454">Топливо</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">дрова, каменный уголь, брикеты</td>
                                <td class="xl6420691" style="border-top:none;border-left:none;width:90pt" width="120">дрова, каменный уголь, брикеты</td>
                            </tr>
                            <tr class="xl7320691" style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl7120691" style="height:22.5pt;border-top:none" height="30">Стоимость,р.</td>
                                <td class="xl7220691" style="border-top:none;border-left:none;width:90pt" width="120">19 000</td>
                                <td class="xl7220691" style="border-top:none;border-left:none;width:90pt" width="120">19 500</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:30.0pt" height="40">
                                <td colspan="3" class="xl7020691" style="height:30.0pt;width:521pt" height="40" width="694">варочная плита c чугунной комфоркой; возможна установка регулятора тяги</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:341pt" width="454"></td>
                                <td style="width:90pt" width="120"></td>
                                <td style="width:90pt" width="120"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
