<section id="r2" class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft R2</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/r2.png" alt="Termokraft R2 " class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/r2-2.png" alt="Termokraft R2 разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Твердотопливный котёл c варочной плитой;
                    </li>
                    <li class="product__characteristics-item">
                        Площадь отопления 70 – 150 м&sup2;;
                    </li>
                    <li class="product__characteristics-item">
                        Мощность 12, 15 кВт;
                    </li>
                    <li class="product__characteristics-item">
                        Основной вид топлива - ДРОВА, УГОЛЬ, БРИКЕТЫ;
                    </li>
                    <li class="product__characteristics-item">
                        Глубина топки 600 и 700 мм;
                    </li>
                    <li class="product__characteristics-item">
                        Блок ТЭН 6 кВт, пульт управления (опция);
                    </li>
                    <li class="product__characteristics-item">
                        Переходник-шибер d 150 мм горизонтальный (опция);
                    </li>
                    <li class="product__characteristics-item">
                        Термометр, регулятор тяги (опция);
                    </li>
                    <li class="product__characteristics-item">
                        Длительность горения до 6-8 часов*
                    </li>
                </ul>
            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
Компактные размеры, экономичность, простота обслуживания и эксплуатации, универсальность по видам топлива.<br>
Глубокая и ёмкая топочная камера позволяет загружать дрова длиною 600 и 700 мм соответственно.<br>
Стандартные патрубки G2’’ позволяют делать левое, правое либо диагональное подключение к системе.<br>
Круглое сечение дымохода удобно как при встраивании котла в кирпичную трубу, так и при переходе на круглую трубу типа сэндвич (с использованием переходника с шибером).<br>
Большие размеры топочной дверцы котла удобны при загрузке топлива. Дверца зольника с термостойким уплотнителем позволяет точно регулировать подачу воздуха в зону горения.<br>
Зольная камера с вместительным зольным ящиком позволяет комфортно и удобно производить чистку котла.<br>
Наружные поверхности котла облицованы защитно-декоративными панелями, которые снижают потерю тепла теплоносителя, уменьшают инфракрасное излучение и предохраняют владельца от контакта с горячими поверхностями корпуса.<br>
Варочная плита с чугунной конфоркой позволяет приготавливать и разогревать пищу. Через открытую конфорку, возможно, производить чистку котла и загрузку угля.<br>
Предусмотрена возможность установки блока ТЭН и регулятора горения
            </span>

            <div class="product__table-container" align="center">
                <table style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0" width="694">
                    <colgroup>
                        <col width="454">
                        <col span="2" width="120">
                    </colgroup>
                    <tbody>
                        <tr height="40">
                            <td>Модель котла</td>
                            <td>R2 12</td>
                            <td>R2 15</td>
                        </tr>
                        <tr height="25">
                            <td>Мощность, кВт</td>
                            <td>12</td>
                            <td>15</td>
                        </tr>
                        <tr height="25">
                            <td>КПД, %</td>
                            <td>76</td>
                            <td>76</td>
                        </tr>
                        <tr height="25">
                            <td>Высота котла H, мм</td>
                            <td>610</td>
                            <td>610</td>
                        </tr>
                        <tr height="25">
                            <td>Ширина котла B, мм</td>
                            <td>424</td>
                            <td>424</td>
                        </tr>
                        <tr height="25">
                            <td>Глубина котла D/F, мм</td>
                            <td>774</td>
                            <td>854</td>
                        </tr>
                        <tr height="25">
                            <td>Глубина топки котла, мм</td>
                            <td>590</td>
                            <td>660</td>
                        </tr>
                        <tr height="25">
                            <td>Высота фланца подающей линии Е, мм</td>
                            <td>555</td>
                            <td>555</td>
                        </tr>
                        <tr height="25">
                            <td>Высота фланца обратной линии G, мм</td>
                            <td>235</td>
                            <td>235</td>
                        </tr>
                        <tr height="25">
                            <td>Расстояние между фланцами С, мм</td>
                            <td>320</td>
                            <td>320</td>
                        </tr>
                        <tr height="25">
                            <td>Диаметр дымоходного канала, мм</td>
                            <td>150</td>
                            <td>150</td>
                        </tr>
                        <tr height="25">
                            <td>Масса котла, кг</td>
                            <td>105</td>
                            <td>105</td>
                        </tr>
                        <tr height="25">
                            <td>Максимальное рабочее давление воды в котле, бар</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr height="25">
                            <td>Площадь отапливаемых помещений высотой до 2,7м, м&sup2;</td>
                            <td>120</td>
                            <td>150</td>
                        </tr>
                        <tr height="25">
                            <td>Максимальная температура воды на выходе, °С</td>
                            <td>95</td>
                            <td>95</td>
                        </tr>
                        <tr height="25">
                            <td>Номинальная температура оборотной воды**, °С</td>
                            <td>60-80</td>
                            <td>60-80</td>
                        </tr>
                        <tr height="25">
                            <td>Температура дымовых газов, °С</td>
                            <td>130-250</td>
                            <td>130-250</td>
                        </tr>
                        <tr height="25">
                            <td>Фланцы подключения отопительного контура</td>
                            <td>G 2"</td>
                            <td>G 2"</td>
                        </tr>
                        <tr height="25">
                            <td>Диаметр дымохода, мм</td>
                            <td>150</td>
                            <td>150</td>
                        </tr>
                        <tr height="25">
                            <td>Высота дымохода не менее, м</td>
                            <td>6</td>
                            <td>6</td>
                        </tr>
                        <tr height="25">
                            <td>Мощность блока ТЭНов, кВт</td>
                            <td>3х2=6</td>
                            <td>3х2=6</td>
                        </tr>
                        <tr height="25">
                            <td>Напряжение питания ТЭНов, В</td>
                            <td>220/380</td>
                            <td>220/380</td>
                        </tr>
                        <tr height="25">
                            <td>Объем водяной рубашки, л</td>
                            <td>30</td>
                            <td>32</td>
                        </tr>
                        <tr height="25">
                            <td>Объем загрузочной камеры, л</td>
                            <td>24</td>
                            <td>30</td>
                        </tr>
                        <tr height="70">
                            <td>Топливо</td>
                            <td>дрова, каменный уголь, брикеты</td>
                            <td>дрова, каменный уголь, брикеты</td>
                        </tr>
                        <tr height="30">
                            <td>Стоимость,р.</td>
                            <td>19 000</td>
                            <td>19 500</td>
                        </tr>
                        <tr height="40">
                            <td colspan="3">варочная плита c чугунной комфоркой; возможна установка регулятора тяги</td>
                        </tr>
                        <!--[if supportMisalignedColumns]-->
                        <tr style="display:none" height="0">
                            <td style="width:341pt" width="454"></td>
                            <td style="width:90pt" width="120"></td>
                            <td style="width:90pt" width="120"></td>
                        </tr>
                        <!--[endif]-->
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>
