<section id="taifun" class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft Taifun</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/TAIFUN.jpg" alt="Termokraft Taifun" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/TAIFUN-2.png" alt="Termokraft Taifun разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Эффективно работает на основных видах твердого топлива: дрова, уголь;
                    </li>
                    <li class="product__characteristics-item">
                        Возможность установки управляемого блока ТЭНов и рожковой газовой горелки делает котёл пригодным для использования природного газа и электричества;
                    </li>
                    <li class="product__characteristics-item">
                        Комплектуется переходником с шибером для круглой дымоходной трубы, чугунными колосниками, встроенным термометром и автоматическим регулятором тяги;
                    </li>
                    <li class="product__characteristics-item">
                        Удобная топочная дверца открывается в горизонтальной плоскости и закрывается на замок;
                    </li>
                    <li class="product__characteristics-item">
                        Цикл горения твердого топлива на одной загрузке до 8-10 часов;
                    </li>
                    <li class="product__characteristics-item">
                        Рабочее давление котла в системе отопления до 3 атм.;
                    </li>
                    <li class="product__characteristics-item">
                        Наружные поверхности котла облицованы теплоизолирующим материалом на основе базальтового волокна.
                    </li>
                </ul>

            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">Комбинированный котел Taifun предназначен для отопления индивидуальных жилых домов площадью от 100 до 300 м&sup2;, оборудованных системами водяного отопления с естественной или принудительной циркуляцией.
  Особенностями данного котла являются небольшие габаритные размеры, экономичность, надежность, простота обслуживания и эксплуатации, автоматическая регулировка мощности прямодействующим регулятором тяги. </span>

            <div class="product__table-container" align="center">
                <table style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0" width="833">
                    <colgroup>
                        <col width="73">
                        <col width="128">
                        <col width="63">
                        <col width="94">
                        <col width="127">
                        <col width="86">
                        <col width="115">
                        <col width="60">
                        <col width="87">
                    </colgroup>
                    <tbody>
                        <tr height="25">
                            <td colspan="9">Котлы комбинированные полуавтоматические TAIFUN</td>
                        </tr>
                        <tr height="60">
                            <td>Модель котла</td>
                            <td>Мощность, кВт</td>
                            <td>КПД, %</td>
                            <td>Объем загрузочной камеры, л</td>
                            <td>Размеры В*Ш*Д</td>
                            <td>Диаметр дымохода, мм</td>
                            <td>Высота дымохода, м</td>
                            <td>Масса, кг</td>
                            <td>Цена, руб*</td>
                        </tr>
                        <tr height="40">
                            <td>TAIFUN 12</td>
                            <td>12</td>
                            <td rowspan="4">76%</td>
                            <td>37</td>
                            <td>800*470*540/890</td>
                            <td>150</td>
                            <td>6</td>
                            <td>115</td>
                            <td>28 500</td>
                        </tr>
                        <tr height="40">
                            <td>TAIFUN 16</td>
                            <td>16</td>
                            <td>42</td>
                            <td>850*470*590/940</td>
                            <td>150</td>
                            <td>7</td>
                            <td>135</td>
                            <td>31 000</td>
                        </tr>
                        <tr height="40">
                            <td>TAIFUN 20</td>
                            <td>20</td>
                            <td>50</td>
                            <td>900*470*640/990</td>
                            <td>150</td>
                            <td>8</td>
                            <td>162</td>
                            <td>34 000</td>
                        </tr>
                        <tr height="40">
                            <td>TAIFUN 30</td>
                            <td>30</td>
                            <td>60</td>
                            <td>1050*470*740/1090</td>
                            <td>150</td>
                            <td>10</td>
                            <td>208</td>
                            <td>44 000</td>
                        </tr>
                        <tr height="25">
                            <td colspan="9">*уточняйте у менеджера</td>
                        </tr>
                        <tr style="display:none" height="0">
                            <td style="width:55pt" width="73"></td>
                            <td style="width:96pt" width="128"></td>
                            <td style="width:47pt" width="63"></td>
                            <td style="width:71pt" width="94"></td>
                            <td style="width:95pt" width="127"></td>
                            <td style="width:65pt" width="86"></td>
                            <td style="width:86pt" width="115"></td>
                            <td style="width:45pt" width="60"></td>
                            <td style="width:65pt" width="87"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>
