<section class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft Uragan</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/Uragan.jpg" alt="Termokraft Uragan" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/Uragan-2.png" alt="Termokraft Uragan разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Компактность;
                    </li>
                    <li class="product__characteristics-item">
                        Экономичность;
                    </li>
                    <li class="product__characteristics-item">
                        Простота монтажа;
                    </li>
                    <li class="product__characteristics-item">
                        Совместимость с любой системой отопления и дымохода;
                    </li>
                    <li class="product__characteristics-item">
                        Удобство и простота в эксплуатации;
                    </li>
                    <li class="product__characteristics-item">
                        Безопасность и государственный сертификат;
                    </li>
                    <li class="product__characteristics-item">
                        Котел соответствует требованиям ГОСТ 9817-95;
                    </li>
                    <li class="product__characteristics-item">
                        Долговечность. Бесперебойная работа в средней полосе России гарантирована в течении 10 лет;
                    </li>
                    <li class="product__characteristics-item">
                        Информативность. Температуру показывает биметаллический термометр, встроенный в корпус аппарата;
                    </li>
                    <li class="product__characteristics-item">
                        Использование блока ТЭНов. Твердотопливные котлы комплектуются блоком ТЭНов на 6кВт (3х2).
                    </li>
                </ul>

            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
            Котлы URAGAN предназначены для отопления индивидуальных жилых домов и зданий коммунально-бытового назначения, оборудованных системами водяного отопления с естественной или принудительной циркуляцией, а также приготовления пищи.<br>
            Особенностями данного котла являются небольшие габаритные размеры, экономичность, надежность, простота обслуживания и эксплуатации. Котлы URAGAN обеспечивают нагрев воздуха в помещениях площадью до 200м&sup2;.</span>

            <div class="product__table-container" align="center">
                <table style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0" width="855">
                    <colgroup>
                        <col width="91">
                        <col width="128">
                        <col width="63">
                        <col width="94">
                        <col width="127">
                        <col width="86">
                        <col width="115">
                        <col width="64">
                        <col width="87">
                    </colgroup>
                    <tbody>
                        <tr height="25">
                            <td colspan="9">Котлы твёрдотопливные универсальные URAGAN</td>
                        </tr>
                        <tr height="60">
                            <td>Модель котла</td>
                            <td>Мощность, кВт</td>
                            <td>КПД, %</td>
                            <td>Объем загрузочной камеры, л</td>
                            <td>Размеры В*Ш*Г</td>
                            <td>Диаметр дымохода, мм</td>
                            <td>Высота дымохода, м</td>
                            <td>Масса, кг</td>
                            <td>Цена, руб*</td>
                        </tr>
                        <tr height="25">
                            <td>URAGAN 10</td>
                            <td>10</td>
                            <td>75%</td>
                            <td>13</td>
                            <td>605*400*490/620</td>
                            <td>150</td>
                            <td>6</td>
                            <td>85</td>
                            <td>21 000</td>
                        </tr>
                        <tr height="25">
                            <td>URAGAN 14</td>
                            <td>14</td>
                            <td>14</td>
                            <td>690*400*490/620</td>
                            <td>150</td>
                            <td>6</td>
                            <td>105</td>
                            <td>22 500</td>
                        </tr>
                        <tr height="25">
                            <td>URAGAN 16</td>
                            <td>16</td>
                            <td rowspan="2">76%</td>
                            <td>19</td>
                            <td>690*400*590/720</td>
                            <td>150</td>
                            <td>8</td>
                            <td>110</td>
                            <td>23 200</td>
                        </tr>
                        <tr height="25">
                            <td>URAGAN 20</td>
                            <td>20</td>
                            <td>28</td>
                            <td>790*400*590/750</td>
                            <td>150/200</td>
                            <td>10/8</td>
                            <td>125</td>
                            <td>26 000</td>
                        </tr>
                        <tr height="25">
                            <td colspan="9">*уточняйте у менеджера</td>
                        </tr>
                        <!--[if supportMisalignedColumns]-->
                        <tr style="display:none" height="0">
                            <td style="width:68pt" width="91"></td>
                            <td style="width:96pt" width="128"></td>
                            <td style="width:47pt" width="63"></td>
                            <td style="width:71pt" width="94"></td>
                            <td style="width:95pt" width="127"></td>
                            <td style="width:65pt" width="86"></td>
                            <td style="width:86pt" width="115"></td>
                            <td style="width:48pt" width="64"></td>
                            <td style="width:65pt" width="87"></td>
                        </tr>
                        <!--[endif]-->
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</section>
