<section class="product">

    <div class="product__container">

        <h2 class="product__name">Termokraft Uragan</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/Uragan.jpg" alt="Termokraft Uragan" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/termokraft/Uragan-2.png" alt="Termokraft Uragan разрез" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Компактность;
                    </li>
                    <li class="product__characteristics-item">
                        Экономичность;
                    </li>
                    <li class="product__characteristics-item">
                        Простота монтажа;
                    </li>
                    <li class="product__characteristics-item">
                        Совместимость с любой системой отопления и дымохода;
                    </li>
                    <li class="product__characteristics-item">
                        Удобство и простота в эксплуатации;
                    </li>
                    <li class="product__characteristics-item">
                        Безопасность и государственный сертификат;
                    </li>
                    <li class="product__characteristics-item">
                        Котел соответствует требованиям ГОСТ 9817-95;
                    </li>
                    <li class="product__characteristics-item">
                        Долговечность. Бесперебойная работа в средней полосе России гарантирована в течении 10 лет;
                    </li>
                    <li class="product__characteristics-item">
                        Информативность. Температуру показывает биметаллический термометр, встроенный в корпус аппарата;
                    </li>
                    <li class="product__characteristics-item">
                        Использование блока ТЭНов. Твердотопливные котлы комплектуются блоком ТЭНов на 6кВт (3х2).
                    </li>
                </ul>

            </div>

            <span class="product__description-title">Особенности и преимущества:</span>
            <span class="product__description-text_wide">
            Котлы URAGAN предназначены для отопления индивидуальных жилых домов и зданий коммунально-бытового назначения, оборудованных системами водяного отопления с естественной или принудительной циркуляцией, а также приготовления пищи.<br>
            Особенностями данного котла являются небольшие габаритные размеры, экономичность, надежность, простота обслуживания и эксплуатации. Котлы URAGAN обеспечивают нагрев воздуха в помещениях площадью до 200м&sup2;.</span>

            <div class="product__table-container">

                <style id="ZEUS_14407_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl1514407 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6314407 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6414407 {
                        padding-top: 1px;
                        padding-right: 1px;
                        padding-left: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: "\@";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6514407 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: 0%;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>
                <div id="ZEUS_14407" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:641pt" border="0" cellspacing="0" cellpadding="0" width="855">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:3328;width:68pt" width="91">
                                <col style="mso-width-source:userset;mso-width-alt:4681;width:96pt" width="128">
                                    <col style="mso-width-source:userset;mso-width-alt:2304;width:47pt" width="63">
                                        <col style="mso-width-source:userset;mso-width-alt:3437;width:71pt" width="94">
                                            <col style="mso-width-source:userset;mso-width-alt:4644;width:95pt" width="127">
                                                <col style="mso-width-source:userset;mso-width-alt:3145;width:65pt" width="86">
                                                    <col style="mso-width-source:userset;mso-width-alt:4205;width:86pt" width="115">
                                                        <col style="mso-width-source:userset;mso-width-alt:2340;width:48pt" width="64">
                                                            <col style="mso-width-source:userset;mso-width-alt:3181;width:65pt" width="87">
                        </colgroup>
                        <tbody>
                            <tr style="height:18.75pt" valign="bottom" height="25">
                                <td colspan="9" class="xl6314407" valign="middle" align="center" height="25" width="855style='height:18.75pt;width:641pt'">Котлы твёрдотопливные универсальные URAGAN</td>
                            </tr>
                            <tr style="height:45.0pt" valign="bottom" height="60">
                                <td class="xl6314407" valign="middle" align="center" height="60" width="91style='height:45.0pt;border-top:none;width:68pt'">Модель котла</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:96pt" valign="middle" align="center" width="128">Мощность, кВт</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:47pt" valign="middle" align="center" width="63">КПД, %</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:71pt" valign="middle" align="center" width="94">Объем загрузочной камеры, л</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:95pt" valign="middle" align="center" width="127">Размеры В*Ш*Г
                                    <spanstyle='mso-spacerun:yes'>&nbsp;</spanstyle='mso-spacerun:yes'>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="86">Диаметр дымохода, мм</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:86pt" valign="middle" align="center" width="115">Высота дымохода, м</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:48pt" valign="middle" align="center" width="64">Масса, кг</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="87">Цена, руб*</td>
                            </tr>
                            <tr style="height:18.75pt" valign="bottom" height="25">
                                <td class="xl6314407" valign="middle" align="center" height="25" width="91style='height:18.75pt;border-top:none;width:68pt'">URAGAN 10</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:96pt" valign="middle" align="center" width="128"><font color="#000">10</font>
                                </td>
                                <td rowspan="2" class="xl6514407" valign="middle" align="center" width="63style='border-top:none;width:47pt'"><font color="#000">75%</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:71pt" valign="middle" align="center" width="94"><font color="#000">13</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:95pt" valign="middle" align="center" width="127">605*400*490/620</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="86"><font color="#000">150</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:86pt" valign="middle" align="center" width="115"><font color="#000">6</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:48pt" valign="middle" align="center" width="64"><font color="#000">85</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="87"><font color="#000">21 000</font>
                                </td>
                            </tr>
                            <tr style="height:18.75pt" valign="bottom" height="25">
                                <td class="xl6314407" valign="middle" align="center" height="25" width="91style='height:18.75pt;border-top:none;width:68pt'">URAGAN 14</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:96pt" valign="middle" align="center" width="128"><font color="#000">14</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:71pt" valign="middle" align="center" width="94"><font color="#000">14</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:95pt" valign="middle" align="center" width="127">690*400*490/620</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="86"><font color="#000">150</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:86pt" valign="middle" align="center" width="115"><font color="#000">6</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:48pt" valign="middle" align="center" width="64"><font color="#000">105</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="87"><font color="#000">22 500</font>
                                </td>
                            </tr>
                            <tr style="height:18.75pt" valign="bottom" height="25">
                                <td class="xl6314407" valign="middle" align="center" height="25" width="91style='height:18.75pt;border-top:none;width:68pt'">URAGAN 16</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:96pt" valign="middle" align="center" width="128"><font color="#000">16</font>
                                </td>
                                <td rowspan="2" class="xl6514407" valign="middle" align="center" width="63style='border-top:none;width:47pt'"><font color="#000">76%</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:71pt" valign="middle" align="center" width="94"><font color="#000">19</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:95pt" valign="middle" align="center" width="127">690*400*590/720</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="86"><font color="#000">150</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:86pt" valign="middle" align="center" width="115"><font color="#000">8</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:48pt" valign="middle" align="center" width="64"><font color="#000">110</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="87"><font color="#000">23 200</font>
                                </td>
                            </tr>
                            <tr style="height:18.75pt" valign="bottom" height="25">
                                <td class="xl6314407" valign="middle" align="center" height="25" width="91style='height:18.75pt;border-top:none;width:68pt'">URAGAN 20</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:96pt" valign="middle" align="center" width="128"><font color="#000">20</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:71pt" valign="middle" align="center" width="94"><font color="#000">28</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:95pt" valign="middle" align="center" width="127">790*400*590/750</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="86">150/200</td>
                                <td class="xl6414407" style="border-top:none;border-left:none;width:86pt" valign="middle" align="center" width="115">10/8</td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:48pt" valign="middle" align="center" width="64"><font color="#000">125</font>
                                </td>
                                <td class="xl6314407" style="border-top:none;border-left:none;width:65pt" valign="middle" align="center" width="87"><font color="#000">26 000</font>
                                </td>
                            </tr>
                            <tr style="height:18.75pt" valign="bottom" height="25">
                                <td colspan="9" class="xl6314407" valign="middle" align="center" height="25" width="855style='height:18.75pt;width:641pt'">*уточняйте у менеджера</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:68pt" width="91"></td>
                                <td style="width:96pt" width="128"></td>
                                <td style="width:47pt" width="63"></td>
                                <td style="width:71pt" width="94"></td>
                                <td style="width:95pt" width="127"></td>
                                <td style="width:65pt" width="86"></td>
                                <td style="width:86pt" width="115"></td>
                                <td style="width:48pt" width="64"></td>
                                <td style="width:65pt" width="87"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
