<section id="gefest" class="product">

    <div class="product__container">

        <h2 class="product__name">НМК Гефест</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/nmk/gefest.jpg" alt="НМК Гефест" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Компактность. Габариты котла позволяют установить его в практически любые помещения;
                    </li>
                    <li class="product__characteristics-item">
                        Экономичность. Специально разработанная конструкция котла позволяет максимально использовать тепловую энергию при сгорании топлива;
                    </li>
                    <li class="product__characteristics-item">
                        Информативность. Температуру воды в котле показывает биметаллический термометр, встроенный в корпус;
                    </li>
                    <li class="product__characteristics-item">
                        Использование блока ТЭНов. Возможность подключения блока ТЭНов с терморегулятором позволяет оставлять котел на долгое время, при этом он автоматически включится и будет поддерживать положительную температуру в системе отопления;
                    </li>
                    <li class="product__characteristics-item">
                        Долговенность. Бесперебойная работа котла гарантирована в течение десяти лет;
                    </li>
                    <li class="product__characteristics-item">
                        Технологичность. За счет внедрения водяного колосника достигнута максимальная теплоотдача носителю и увеличена скорость передачи тепла в систему. Также котел доработан и имеет автоматический регулятор тяги, который позволяет в автоматическом режиме поддерживать комфортную температуру теплоносителя. Данный котел подходит для закрытой системы отопления. В него добавлена дополнительная дверца в топочной камере, позволяющая сократить до минимума потери тепла;
                    </li>
                    <li class="product__characteristics-item">
                        Презентабельный внешний вид. Визуально котел выглядит в духе времени, имеет приятное цветовое решение и стильный дизайн;
                    </li>
                    <li class="product__characteristics-item">
                        Удобство в эксплуатации. Конструкция данного котла выполнена с максимально удобным расположением элементов, значительно улучшающая его эргономичность.
                    </li>
                </ul>
            </div>

            <span class="product__price_wide">Стоимость: от 21 570 рублей</span>

            <div class="product__table-container">

                <style id="НМК - котлы_16507_Styles">
                    .xl1516507,
                    .xl6316507 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        vertical-align: bottom;
                        white-space: nowrap
                    }

                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " "
                    }

                    .xl1516507 {
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        mso-background-source: auto;
                        mso-pattern: auto
                    }

                    .xl6316507,
                    .xl6416507 {
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        mso-background-source: auto;
                        mso-pattern: auto
                    }

                    .xl6416507 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 700;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        white-space: normal
                    }

                    .xl6516507,
                    .xl6616507 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal
                    }

                    .xl6516507 {
                        text-align: general
                    }

                    .xl6616507 {
                        text-align: center
                    }
                </style>

                <div id="НМК - котлы_16507" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:510pt" width="681" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:8155;width:167pt" width="223">
                                <col style="mso-width-source:userset;mso-width-alt:3254;width:67pt" width="89">
                                    <col style="mso-width-source:userset;mso-width-alt:4498;width:92pt" width="123" span="3">
                        </colgroup>
                        <tbody>
                            <tr class="xl6316507" style="mso-height-source:userset;height:30.0pt" height="40" valign="bottom">
                                <td class="xl6416507" style="height:30.0pt;width:167pt" height="40" width="223" valign="middle" align="center"><b>Параметр</b></td>
                                <td class="xl6416507" style="border-left:none;width:67pt" width="89" valign="middle" align="center"><b>Ед.Изм.</b></td>
                                <td class="xl6416507" style="border-left:none;width:92pt" width="123" valign="middle" align="center"><b>15 ТЭ Gefest</b></td>
                                <td class="xl6416507" style="border-left:none;width:92pt" width="123" valign="middle" align="center"><b>20 ТЭ Gefest</b></td>
                                <td class="xl6416507" style="border-left:none;width:92pt" width="123" valign="middle" align="center"><b>30 ТЭ Gefest</b></td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Теплопроизв.</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">кВт</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">15</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">20</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">30</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">КПД, % (+3-5%)</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">%</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">75</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">80</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">80</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Рабочее давление воды</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">МПа (кг/см2)</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">0,2 (2)</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">0,2 (2)</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">0,2 (2)</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Отапливаемая площадь</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">м2</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">150</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">200</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">300</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Max t воды на выходе</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">С</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">85</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">85</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">85</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Nom температура воды на входе</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">С</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">60-80</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">60-80</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">60-80</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Объем водяного контура</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">Л</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">46</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">50</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">80</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Сечение дымохода</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">мм</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">55х245</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">55х245</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">55х245</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Мощность блока ТЭН</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">кВт</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">4</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">4</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">4</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Напряжение питания ТЭН</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">В</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">220</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">220</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">220</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Габаритные размеры</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89"></td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123"></td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123"></td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123"></td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Глубина</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">мм</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">610</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">610</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">720</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Ширина</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">мм</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">410</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">410</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">460</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Высота</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">мм</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">740</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">800</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">940</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Глубина топочной камеры</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">мм</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">500</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">500</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">550</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6516507" style="height:15.0pt;border-top:none;width:167pt" height="20" width="223" valign="middle">Масса котла</td>
                                <td class="xl6516507" style="border-top:none;border-left:none;width:67pt" width="89" valign="middle">кг</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">119</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">129</td>
                                <td class="xl6616507" style="border-top:none;border-left:none;width:92pt" width="123" valign="middle" align="center">160</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:167pt" width="223"></td>
                                <td style="width:67pt" width="89"></td>
                                <td style="width:92pt" width="123"></td>
                                <td style="width:92pt" width="123"></td>
                                <td style="width:92pt" width="123"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
