<section id="gefest" class="product">

	<div class="product__container">

		<h2 class="product__name">НМК Гефест</h2>

		<div class="container_flex-row">

			<div class="product__image-container">

				<div class="carousel-cell">
					<img src="assets/img/nmk/gefest.jpg" alt="НМК Гефест" class="product__image">
				</div>

			</div>

			<div class="product__description-container">

				<span class="product__characteristics-title">Характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						Компактность. Габариты котла позволяют установить его в практически любые помещения;
					</li>
					<li class="product__characteristics-item">
						Экономичность. Специально разработанная конструкция котла позволяет максимально использовать тепловую энергию при сгорании топлива;
					</li>
					<li class="product__characteristics-item">
						Информативность. Температуру воды в котле показывает биметаллический термометр, встроенный в корпус;
					</li>
					<li class="product__characteristics-item">
						Использование блока ТЭНов. Возможность подключения блока ТЭНов с терморегулятором позволяет оставлять котел на долгое время, при этом он автоматически включится и будет поддерживать положительную температуру в системе отопления;
					</li>
					<li class="product__characteristics-item">
						Долговенность. Бесперебойная работа котла гарантирована в течение десяти лет;
					</li>
					<li class="product__characteristics-item">
						Технологичность. За счет внедрения водяного колосника достигнута максимальная теплоотдача носителю и увеличена скорость передачи тепла в систему. Также котел доработан и имеет автоматический регулятор тяги, который позволяет в автоматическом режиме поддерживать
						комфортную температуру теплоносителя. Данный котел подходит для закрытой системы отопления. В него добавлена дополнительная дверца в топочной камере, позволяющая сократить до минимума потери тепла;
					</li>
					<li class="product__characteristics-item">
						Презентабельный внешний вид. Визуально котел выглядит в духе времени, имеет приятное цветовое решение и стильный дизайн;
					</li>
					<li class="product__characteristics-item">
						Удобство в эксплуатации. Конструкция данного котла выполнена с максимально удобным расположением элементов, значительно улучшающая его эргономичность.
					</li>
				</ul>
			</div>

			<span class="product__price_wide">Стоимость: от 21 570 рублей</span>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed" cellspacing="0" cellpadding="0">
					<colgroup>
						<col width="223">
						<col width="89">
						<col width="123" span="3">
					</colgroup>
					<tbody>
						<tr height="40">
							<td>Параметр</td>
							<td>Ед.Изм</td>
							<td>15 ТЭ Gefest</td>
							<td>20 ТЭ Gefest</td>
							<td>30 ТЭ Gefest</td>
						</tr>
						<tr height="20">
							<td>Теплопроизв.</td>
							<td>кВт</td>
							<td>15</td>
							<td>20</td>
							<td>30</td>
						</tr>
						<tr height="20">
							<td>КПД, % (+3-5%)</td>
							<td>%</td>
							<td>75</td>
							<td>80</td>
							<td>80</td>
						</tr>
						<tr height="20">
							<td>Рабочее давление воды</td>
							<td>МПа (кг/см2)</td>
							<td>0,2 (2)</td>
							<td>0,2 (2)</td>
							<td>0,2 (2)</td>
						</tr>
						<tr height="20">
							<td>Отапливаемая площадь</td>
							<td>м2</td>
							<td>150</td>
							<td>200</td>
							<td>300</td>
						</tr>
						<tr height="20">
							<td>Max t воды на выходе</td>
							<td>С</td>
							<td>85</td>
							<td>85</td>
							<td>85</td>
						</tr>
						<tr height="20">
							<td>Nom температура воды на входе</td>
							<td>С</td>
							<td>60-80</td>
							<td>60-80</td>
							<td>60-80</td>
						</tr>
						<tr height="20">
							<td>Объем водяного контура</td>
							<td>Л</td>
							<td>46</td>
							<td>50</td>
							<td>80</td>
						</tr>
						<tr height="20">
							<td>Сечение дымохода</td>
							<td>мм</td>
							<td>55х245</td>
							<td>55х245</td>
							<td>55х245</td>
						</tr>
						<tr height="20">
							<td>Мощность блока ТЭН</td>
							<td>кВт</td>
							<td>4</td>
							<td>4</td>
							<td>4</td>
						</tr>
						<tr height="20">
							<td>Напряжение питания ТЭН</td>
							<td>В</td>
							<td>220</td>
							<td>220</td>
							<td>220</td>
						</tr>
						<tr height="20">
							<td>Габаритные размеры</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr height="20">
							<td>Глубина</td>
							<td>мм</td>
							<td>610</td>
							<td>610</td>
							<td>720</td>
						</tr>
						<tr height="20">
							<td>Ширина</td>
							<td>мм</td>
							<td>410</td>
							<td>410</td>
							<td>460</td>
						</tr>
						<tr height="20">
							<td>Высота</td>
							<td>мм</td>
							<td>740</td>
							<td>800</td>
							<td>940</td>
						</tr>
						<tr height="20">
							<td>Глубина топочной камеры</td>
							<td>мм</td>
							<td>500</td>
							<td>500</td>
							<td>550</td>
						</tr>
						<tr height="20">
							<td>Масса котла</td>
							<td>кг</td>
							<td>119</td>
							<td>129</td>
							<td>160</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td style="width:167pt" width="223"></td>
							<td style="width:67pt" width="89"></td>
							<td style="width:92pt" width="123"></td>
							<td style="width:92pt" width="123"></td>
							<td style="width:92pt" width="123"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>

			</div>

		</div>

	</div>

</section>
