<section id="magnum" class="product">

	<div class="product__container">

		<h2 class="product__name">НМК Магнум</h2>

		<div class="container_flex-row">

			<div class="product__image-container">

				<div class="carousel-cell">
					<img src="assets/img/nmk/magnum.jpg" alt="НМК Магнум" class="product__image">
				</div>

			</div>

			<div class="product__description-container">

				<span class="product__characteristics-title">Характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						Доступная цена: РРЦ завода НМК ниже рыночных аналогов на 30%;
					</li>
					<li class="product__characteristics-item">
						Удобство: в данном котле предусмотрен комфортный процесс удаления золы и отходов горения твердого топлива без остановки его деятельности;
					</li>
					<li class="product__characteristics-item">
						Инновационность: водонаполненный колосник, позволяющий увеличить скорость нагрева воды в системе и предотвращающий износ внутренних узлов котла;
					</li>
					<li class="product__characteristics-item">
						Экономичность: длительность бесперебойной работ при полной загрузке может составлять до 24 часов;
					</li>
					<li class="product__characteristics-item">
						Технологичность: в котле разработана уникальная система удаления крупной породы с использованием прочистных толкателей;
					</li>
					<li class="product__characteristics-item">
						Адаптивность: по собственному желанию данный котел можно оборудовать блоком ТЭНов с подключением пульта управления, что позволит поддерживать температуру в системе отопления в комфортном режиме в период межсезонья;
					</li>
					<li class="product__characteristics-item">
						Презентабельный внешний вид: данный котел, хоть и является пионером в своей линейке, но его выраженное сходство с фирменными цветами завода «НМК» делает его полноправным преемником заложенных традиций;
					</li>
					<li class="product__characteristics-item">
						Эргономичность: конструктивные элементы расположены таким образом, чтобы сделать процесс топки котла максимально удобным;
					</li>
					<li class="product__characteristics-item">
						Информативность: температуру воды в котле показывает биметаллический термометр, встроенный в корпус.
					</li>
				</ul>
			</div>

			<span class="product__price_wide">Стоимость: от 32 700 рублей</span>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed" cellspacing="0" cellpadding="0">
					<colgroup>
						<col width="427">
						<col width="163" span="2">
					</colgroup>
					<tbody>
						<tr height="20">
							<td rowspan="3">Модель котла</td>
							<td>«Магнум»</td>
							<td>«Магнум»</td>
						</tr>
						<tr height="20">
							<td rowspan="2">КДГ 15 ТЭ</td>
							<td rowspan="2">КДГ 20 ТЭ</td>
						</tr>
						<tr class="xl639128" style="height:15.0pt" height="20" valign="bottom"></tr>
						<tr height="20">
							<td>Мощность котла, кВт</td>
							<td>15</td>
							<td>20</td>
						</tr>
						<tr height="20">
							<td>КПД% (+3-5%)</td>
							<td>75</td>
							<td>80</td>
						</tr>
						<tr height="20">
							<td>Рабочее давление воды в котле, МПа (кг/см2), не более</td>
							<td>0,2 (2)</td>
							<td>0,2 (2)</td>
						</tr>
						<tr height="20">
							<td>Площадь отапливаемых помещений высотой до 2,7 м, м2</td>
							<td>50-120</td>
							<td>100-180</td>
						</tr>
						<tr height="20">
							<td>Максимальная температура воды на выходе*, С</td>
							<td>85</td>
							<td>85</td>
						</tr>
						<tr height="20">
							<td>Номинальная температура оборотной воды на входе в котёл, С</td>
							<td>45</td>
							<td>45</td>
						</tr>
						<tr height="20">
							<td>Объем водяной камеры, л</td>
							<td>64</td>
							<td>77</td>
						</tr>
						<tr height="20">
							<td>Объем загрузочной камеры, л</td>
							<td>30</td>
							<td>45</td>
						</tr>
						<tr height="20">
							<td>Сечение дымохода , мм</td>
							<td>55*245</td>
							<td>55*245</td>
						</tr>
						<tr height="20">
							<td>Диаметр дымохода, мм</td>
							<td>150</td>
							<td>150</td>
						</tr>
						<tr height="20">
							<td>Возможность подключения ТЭНов</td>
							<td>Есть</td>
							<td>Есть</td>
						</tr>
						<tr height="20">
							<td colspan="3">Габаритные размеры котла, мм</td>
						</tr>
						<tr height="20">
							<td>Глубина</td>
							<td>640</td>
							<td>640</td>
						</tr>
						<tr height="20">
							<td>Ширина</td>
							<td>455</td>
							<td>500</td>
						</tr>
						<tr height="20">
							<td>Высота</td>
							<td>960</td>
							<td>1060</td>
						</tr>
						<tr height="60">
							<td>Вид топлива</td>
							<td>антрацит, кам. уголь, угольн. брикеты, бурый уголь</td>
							<td>антрацит, кам. уголь, угольн. брикеты, бурый уголь</td>
						</tr>
						<tr height="20">
							<td>Размер фракции угля, мм</td>
							<td>10-100</td>
							<td>10-100</td>
						</tr>
						<tr height="20">
							<td>Масса котла, кг, не более</td>
							<td>160</td>
							<td>180</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td style="width:320pt" width="427"></td>
							<td style="width:122pt" width="163"></td>
							<td style="width:122pt" width="163"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>
			</div>

		</div>

	</div>

</section>
