<section id="magnum" class="product">

    <div class="product__container">

        <h2 class="product__name">НМК Магнум</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/nmk/magnum.jpg" alt="НМК Магнум" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Доступная цена: РРЦ завода НМК ниже рыночных аналогов на 30%;
                    </li>
                    <li class="product__characteristics-item">
                        Удобство: в данном котле предусмотрен комфортный процесс удаления золы и отходов горения твердого топлива без остановки его деятельности;
                    </li>
                    <li class="product__characteristics-item">
                        Инновационность: водонаполненный колосник, позволяющий увеличить скорость нагрева воды в системе и предотвращающий износ внутренних узлов котла;
                    </li>
                    <li class="product__characteristics-item">
                        Экономичность: длительность бесперебойной работ при полной загрузке может составлять до 24 часов;
                    </li>
                    <li class="product__characteristics-item">
                        Технологичность: в котле разработана уникальная система удаления крупной породы с использованием прочистных толкателей;
                    </li>
                    <li class="product__characteristics-item">
                        Адаптивность: по собственному желанию данный котел можно оборудовать блоком ТЭНов с подключением пульта управления, что позволит поддерживать температуру в системе отопления в комфортном режиме в период межсезонья;
                    </li>
                    <li class="product__characteristics-item">
                        Презентабельный внешний вид: данный котел, хоть и является пионером в своей линейке, но его выраженное сходство с фирменными цветами завода «НМК» делает его полноправным преемником заложенных традиций;
                    </li>
                    <li class="product__characteristics-item">
                        Эргономичность: конструктивные элементы расположены таким образом, чтобы сделать процесс топки котла максимально удобным;
                    </li>
                    <li class="product__characteristics-item">
                        Информативность: температуру воды в котле показывает биметаллический термометр, встроенный в корпус.
                    </li>
                </ul>
            </div>

            <span class="product__price_wide">Стоимость: от 32 700 рублей</span>

            <div class="product__table-container">

                <style id="НМК - котлы_9128_Styles">
                    .xl159128,
                    .xl639128 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        vertical-align: bottom;
                        white-space: nowrap
                    }
                    
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " "
                    }
                    
                    .xl159128 {
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        mso-background-source: auto;
                        mso-pattern: auto
                    }
                    
                    .xl639128,
                    .xl649128 {
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        mso-background-source: auto;
                        mso-pattern: auto
                    }
                    
                    .xl649128 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 700;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        white-space: normal
                    }
                    
                    .xl659128,
                    .xl669128 {
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        vertical-align: middle;
                        border: .5pt solid #000
                    }
                    
                    .xl659128 {
                        text-align: general
                    }
                    
                    .xl669128 {
                        text-align: center
                    }
                    
                    .xl679128 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border-top: .5pt solid #000;
                        border-right: none;
                        border-bottom: .5pt solid #000;
                        border-left: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal
                    }
                    
                    .xl689128,
                    .xl699128 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border-top: .5pt solid #000;
                        border-bottom: .5pt solid #000;
                        border-left: none;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal
                    }
                    
                    .xl689128 {
                        border-right: .5pt solid #000
                    }
                    
                    .xl699128 {
                        border-right: none
                    }
                </style>
                <div id="НМК - котлы_9128" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:564pt" width="753" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:15616;width:320pt" width="427">
                                <col class="xl639128" style="mso-width-source:userset;mso-width-alt:5961;width:122pt" width="163" span="2">
                        </colgroup>
                        <tbody>
                            <tr class="xl639128" style="height:15.0pt" height="20" valign="bottom">
                                <td rowspan="3" class="xl649128" style="height:45.0pt;width:320pt" height="60" width="427" valign="middle" align="center"><b>Модель котла</b>
                                </td>
                                <td class="xl649128" style="border-left:none;width:122pt" width="163" valign="middle" align="center"><b>«Магнум»</b>
                                </td>
                                <td class="xl649128" style="border-left:none;width:122pt" width="163" valign="middle" align="center"><b>«Магнум»</b>
                                </td>
                            </tr>
                            <tr class="xl639128" style="height:15.0pt" height="20" valign="bottom">
                                <td rowspan="2" class="xl649128" style="height:30.0pt;border-top:none;width:122pt" height="40" width="163" valign="middle" align="center"><b>КДГ 15&nbsp;ТЭ</b>
                                </td>
                                <td rowspan="2" class="xl649128" style="border-top:none;width:122pt" width="163" valign="middle" align="center"><b>КДГ 20 ТЭ</b>
                                </td>
                            </tr>
                            <tr class="xl639128" style="height:15.0pt" height="20" valign="bottom"></tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Мощность котла, кВт</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">15</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">20</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">КПД% (+3-5%)</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">75</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">80</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Рабочее давление воды в котле, МПа (кг/см2), не более</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">0,2 (2)</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">0,2 (2)</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Площадь отапливаемых помещений высотой до 2,7 м, м2</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">50-120</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">100-180</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Максимальная температура воды на выходе*, С</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">85</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">85</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Номинальная температура оборотной воды на входе в котёл, С</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">45</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">45</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Объем водяной камеры, л</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">64</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">77</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Объем загрузочной камеры, л</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">30</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">45</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Сечение дымохода , мм</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">55*245</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">55*245</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Диаметр дымохода, мм</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">150</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">150</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Возможность подключения ТЭНов</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">Есть</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">Есть</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td colspan="3" class="xl679128" style="border-right:.5pt solid #000;height:15.0pt;width:564pt" height="20" width="753" valign="middle">Габаритные размеры котла, мм</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Глубина</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">640</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">640</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Ширина</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">455</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">500</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Высота</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">960</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">1060</td>
                            </tr>
                            <tr style="height:45.0pt" height="60" valign="bottom">
                                <td class="xl659128" style="height:45.0pt;border-top:none;width:320pt" height="60" width="427" valign="middle">Вид топлива</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">антрацит, кам. уголь, угольн. брикеты, бурый уголь</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">антрацит, кам. уголь, угольн. брикеты, бурый уголь</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Размер фракции угля, мм</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">10-100</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">10-100</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl659128" style="height:15.0pt;border-top:none;width:320pt" height="20" width="427" valign="middle">Масса котла, кг, не более</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">160</td>
                                <td class="xl669128" style="border-top:none;border-left:none;width:122pt" width="163" valign="middle" align="center">180</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:320pt" width="427"></td>
                                <td style="width:122pt" width="163"></td>
                                <td style="width:122pt" width="163"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>