<section id="sibir" class="product">

	<div class="product__container">

		<h2 class="product__name">НМК Сибирь</h2>

		<div class="container_flex-row">

			<div class="product__slider-container" flickity>

				<div class="carousel-cell">
					<img src="assets/img/nmk/sibir.jpg" alt="НМК Сибирь" class="product__image">
				</div>

				<div class="carousel-cell">
					<img src="assets/img/nmk/sibir-2.jpg" alt="НМК Сибирь" class="product__image">
				</div>

			</div>

			<div class="product__description-container">

				<span class="product__characteristics-title">Характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						Компактность. Габариты котла позволяют установить его в практически любые помещения;
					</li>
					<li class="product__characteristics-item">
						Экономичность. Специально разработанная конструкция котла позволяет максимально использовать тепловую энергию при сгорании топлива, при этом стальную плиту можно использовать для приготовления пищи и подогрева воды;
					</li>
					<li class="product__characteristics-item">
						Простота монтажа. Для повышения удобства монтажа котла и подключения его к системе отопления, котлы выпускаются в различных вариантах выхода дымохода и патрубков «подачи» и «обратки» воды;
					</li>
					<li class="product__characteristics-item">
						Совместимость с любой системой дымохода. Прямоугольное сечение дымохода удобно как при встраивании котла в кирпичную трубу, так и при переходе на круглую трубу типа «сэндвич» с использованием переходников с шибером;
					</li>
					<li class="product__characteristics-item">
						Удобство и простота в эксплуатации. Большие размеры дверки позволяют быстро загрузить и разжечь дрова. Через большие чугунные конфорки плиты можно загружать уголь из ведра. Большая топочная камера позволяет использовать дрова длиной до 50см;
					</li>
					<li class="product__characteristics-item">
						Долговечность. Бесперебойная работа котла гарантирована в течение десяти лет. Прочное полимерное покрытие защищает котел от ржавчины, царапин, легко моется в процессе эксплуатации. Запатентованная конструкция стальной плиты из 12 мм жаропрочной стали
						увеличивает срок ее службы до 10 лет в отличии от чугунного аналога;
					</li>
					<li class="product__characteristics-item">
						Технологичность. За счет внедрения водяного колосника достигнута максимальная теплоотдача носителю и увеличена скорость передачи тепла в систему.
					</li>
				</ul>
			</div>

			<span class="product__price_wide">Стоимость: от 13 300 рублей</span>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed" width="846" cellspacing="0" cellpadding="0">
					<colgroup>
						<col width="189">
						<col width="107">
						<col width="110">
						<col width="110">
						<col width="110">
						<col width="110">
						<col width="110">
					</colgroup>
					<tbody>
						<tr height="40">
							<td>Характеристики</td>
							<td><b>Ед. изм.</b></td>
							<td>КВО 8 кВт</b></td>
							<td>КВО 10 ТПЭ</b></td>
							<td>КВО 12 ТПЭ</b></td>
							<td>КВО 15 ТПЭ</b></td>
							<td>КВО 20 ТПЭ</b></td>
						</tr>
						<tr height="20">
							<td>Номинальная мощность</td>
							<td>кВт</td>
							<td>8</td>
							<td>10</td>
							<td>12</td>
							<td>15</td>
							<td>20</td>
						</tr>
						<tr height="20">
							<td>Отапливаемая площадь</td>
							<td>м2</td>
							<td>80</td>
							<td>100</td>
							<td>120</td>
							<td>150</td>
							<td>200</td>
						</tr>
						<tr height="20">
							<td>Глубина топки</td>
							<td>мм</td>
							<td>400</td>
							<td>400</td>
							<td>600</td>
							<td>600</td>
							<td>600</td>
						</tr>
						<tr height="20">
							<td>Рабочее давление</td>
							<td>мПа (кг/см&sup2;)</td>
							<td>0,1 (1)</td>
							<td>0,1 (1)</td>
							<td>0,1 (1)</td>
							<td>0,1 (1)</td>
							<td>0,1 (1)</td>
						</tr>
						<tr height="20">
							<td>Объем водяного контура</td>
							<td>л</td>
							<td>&nbsp;</td>
							<td>33</td>
							<td>45</td>
							<td>46</td>
							<td>49</td>
						</tr>
						<tr height="20">
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>55 х 245</td>
							<td>160 х 110</td>
							<td>55 х 245</td>
							<td>55 х 245</td>
						</tr>
						<tr height="20">
							<td>Диаметр дымохода</td>
							<td>мм</td>
							<td>114</td>
							<td>150</td>
							<td>150</td>
							<td>150</td>
							<td>150</td>
						</tr>
						<tr height="20">
							<td>Мощность блока ТЭНов</td>
							<td>кВт</td>
							<td>3</td>
							<td>3</td>
							<td>3</td>
							<td>3</td>
							<td>3</td>
						</tr>
						<tr height="20">
							<td>Напряжение питания ТЭНов</td>
							<td>В</td>
							<td>220</td>
							<td>220</td>
							<td>220</td>
							<td>220</td>
							<td>220</td>
						</tr>
						<tr height="20">
							<td colspan="7">Габаритные размеры котла</td>
						</tr>
						<tr height="20">
							<td>глубина</td>
							<td>мм</td>
							<td>520</td>
							<td>520</td>
							<td>720</td>
							<td>720</td>
							<td>720</td>
						</tr>
						<tr height="20">
							<td>ширина</td>
							<td>мм</td>
							<td>370</td>
							<td>420</td>
							<td>420</td>
							<td>420</td>
							<td>420</td>
						</tr>
						<tr height="20">
							<td>высота</td>
							<td>мм</td>
							<td>550</td>
							<td>700</td>
							<td>700</td>
							<td>700</td>
							<td>700</td>
						</tr>
						<tr height="20">
							<td>Масса котла</td>
							<td>кг</td>
							<td>63</td>
							<td>85</td>
							<td>100</td>
							<td>105</td>
							<td>110</td>
						</tr>
						<tr height="20">
							<td colspan="2">Наличие стальной плиты</td>
							<td>+</td>
							<td>+</td>
							<td>+</td>
							<td>+</td>
							<td>+</td>
						</tr>
						<tr height="20">
							<td colspan="2">Выход дымохода</td>
							<td>сверху</td>
							<td>сзади</td>
							<td>слева\справа</td>
							<td>сзади</td>
							<td>сзади</td>
						</tr>
						<tr height="20">
							<td colspan="2">Расположение патрубков&nbsp;</td>
							<td>слева/справа</td>
							<td>слева/справа</td>
							<td>слева/справ</td>
							<td>слева/справа</td>
							<td>слева/справа</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td style="width:142pt" width="189"></td>
							<td style="width:80pt" width="107"></td>
							<td style="width:83pt" width="110"></td>
							<td style="width:83pt" width="110"></td>
							<td style="width:83pt" width="110"></td>
							<td style="width:83pt" width="110"></td>
							<td style="width:83pt" width="110"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>

			</div>

		</div>

	</div>

</section>
