<section id="sibir" class="product">

    <div class="product__container">

        <h2 class="product__name">НМК Сибирь</h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/nmk/sibir.jpg" alt="НМК Сибирь" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/nmk/sibir-2.jpg" alt="НМК Сибирь" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Компактность. Габариты котла позволяют установить его в практически любые помещения;
                    </li>
                    <li class="product__characteristics-item">
                        Экономичность. Специально разработанная конструкция котла позволяет максимально использовать тепловую энергию при сгорании топлива, при этом стальную плиту можно использовать для приготовления пищи и подогрева воды;
                    </li>
                    <li class="product__characteristics-item">
                        Простота монтажа. Для повышения удобства монтажа котла и подключения его к системе отопления, котлы выпускаются в различных вариантах выхода дымохода и патрубков «подачи» и «обратки» воды;
                    </li>
                    <li class="product__characteristics-item">
                        Совместимость с любой системой дымохода. Прямоугольное сечение дымохода удобно как при встраивании котла в кирпичную трубу, так и при переходе на круглую трубу типа «сэндвич» с использованием переходников с шибером;
                    </li>
                    <li class="product__characteristics-item">
                        Удобство и простота в эксплуатации. Большие размеры дверки позволяют быстро загрузить и разжечь дрова. Через большие чугунные конфорки плиты можно загружать уголь из ведра. Большая топочная камера позволяет использовать дрова длиной до 50см;
                    </li>
                    <li class="product__characteristics-item">
                        Долговечность. Бесперебойная работа котла гарантирована в течение десяти лет. Прочное полимерное покрытие защищает котел от ржавчины, царапин, легко моется в процессе эксплуатации. Запатентованная конструкция стальной плиты из 12 мм жаропрочной стали увеличивает срок ее службы до 10 лет в отличии от чугунного аналога;
                    </li>
                    <li class="product__characteristics-item">
                        Технологичность. За счет внедрения водяного колосника достигнута максимальная теплоотдача носителю и увеличена скорость передачи тепла в систему.
                    </li>
                </ul>
            </div>

            <span class="product__price_wide">Стоимость: от 13 300 рублей</span>

            <div class="product__table-container">

                <style id="НМК - котлы_3482_Styles">
                    .xl153482,
                    .xl633482 {
                        font-weight: 400;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap
                    }
                    
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " "
                    }
                    
                    .xl153482 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general
                    }
                    
                    .xl633482 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center
                    }
                    
                    .xl643482,
                    .xl653482 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        white-space: normal
                    }
                    
                    .xl643482,
                    .xl653482,
                    .xl673482 {
                        border: .5pt solid #000;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto
                    }
                    
                    .xl643482 {
                        font-weight: 400
                    }
                    
                    .xl653482 {
                        font-weight: 700
                    }
                    
                    .xl663482 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: bottom;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap
                    }
                    
                    .xl673482 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: left;
                        white-space: normal
                    }
                    
                    .xl683482,
                    .xl693482 {
                        mso-background-source: auto;
                        mso-pattern: auto;
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: bottom;
                        white-space: nowrap
                    }
                    
                    .xl683482 {
                        border: .5pt solid #000
                    }
                    
                    .xl703482 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: middle;
                        border-top: .5pt solid #000;
                        border-right: none;
                        border-bottom: .5pt solid #000;
                        border-left: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal
                    }
                    
                    .xl713482,
                    .xl723482 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: middle;
                        border-top: .5pt solid #000;
                        border-bottom: .5pt solid #000;
                        border-left: none;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal
                    }
                    
                    .xl713482 {
                        border-right: .5pt solid #000
                    }
                    
                    .xl723482 {
                        border-right: none
                    }
                </style>
                <div id="НМК - котлы_3482" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:637pt" width="846" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col class="xl693482" style="mso-width-source:userset;mso-width-alt:6912;width:142pt" width="189">
                                <col class="xl633482" style="mso-width-source:userset;mso-width-alt:3913;width:80pt" width="107">
                                    <col class="xl633482" style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                                        <col style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                                            <col class="xl633482" style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                                                <col class="xl153482" style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                                                    <col class="xl633482" style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                        </colgroup>
                        <tbody>
                            <tr class="xl633482" style="mso-height-source:userset;height:30.0pt" height="40" valign="bottom">
                                <td class="xl653482" style="height:30.0pt;width:142pt" height="40" width="189" valign="middle" align="center"><b>Характеристики</b></td>
                                <td class="xl653482" style="border-left:none;width:80pt" width="107" valign="middle" align="center"><b>Ед. изм.</b></td>
                                <td class="xl653482" style="border-left:none;width:83pt" width="110" valign="middle" align="center"><b>КВО 8 кВт</b></td>
                                <td class="xl653482" style="border-left:none;width:83pt" width="110" valign="middle" align="center"><b>КВО 10 ТПЭ</b></td>
                                <td class="xl653482" style="border-left:none;width:83pt" width="110" valign="middle" align="center"><b>КВО 12&nbsp;ТПЭ</b></td>
                                <td class="xl653482" style="border-left:none;width:83pt" width="110" valign="middle" align="center"><b>КВО 15&nbsp;ТПЭ</b></td>
                                <td class="xl653482" style="border-left:none;width:83pt" width="110" valign="middle" align="center"><b>КВО 20&nbsp;ТПЭ</b></td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Номинальная мощность</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">кВт</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">8</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">10</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">12</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">15</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">20</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Отапливаемая площадь</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">м2</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">80</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">100</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">120</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">150</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">200</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Глубина топки</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">мм</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">400</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">400</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">600</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">600</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">600</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Рабочее давление</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">мПа&nbsp;(кг/см&sup2;)</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">0,1 (1)</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">0,1 (1)</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">0,1 (1)</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">0,1 (1)</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">0,1 (1)</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Объем водяного контура</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">л</td>
                                <td class="xl663482" style="border-top:none;border-left:none">&nbsp;</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">33</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">45</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">46</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">49</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl683482" style="height:15.0pt;border-top:none" height="20">&nbsp;</td>
                                <td class="xl663482" style="border-top:none;border-left:none">&nbsp;</td>
                                <td class="xl663482" style="border-top:none;border-left:none">&nbsp;</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">55 х 245</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">160 х 110</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">55 х 245</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">55 х 245</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Диаметр дымохода</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">мм</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">114</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">150</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">150</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">150</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">150</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Мощность блока ТЭНов</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">кВт</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">3</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">3</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">3</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">3</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">3</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Напряжение питания ТЭНов</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">В</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">220</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">220</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">220</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">220</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">220</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td colspan="7" class="xl703482" style="border-right:.5pt solid black;height:15.0pt;width:637pt" height="20" width="846" valign="middle">Габаритные размеры котла</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">глубина</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">мм</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">520</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">520</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">720</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">720</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">720</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">ширина</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">мм</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">370</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">420</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">420</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">420</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">420</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">высота</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">мм</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">550</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">700</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">700</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">700</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">700</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl673482" style="height:15.0pt;border-top:none;width:142pt" height="20" width="189" valign="middle">Масса котла</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:80pt" width="107" valign="middle" align="center">кг</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">63</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">85</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">100</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">105</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">110</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td colspan="2" class="xl703482" style="border-right:.5pt solid black;height:15.0pt;width:222pt" height="20" width="296" valign="middle">Наличие стальной плиты</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">+</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">+</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">+</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">+</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">+</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td colspan="2" class="xl703482" style="border-right:.5pt solid black;height:15.0pt;width:222pt" height="20" width="296" valign="middle">Выход дымохода</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">сверху</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">сзади</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">слева\справа</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">сзади</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">сзади</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td colspan="2" class="xl703482" style="border-right:.5pt solid black;height:15.0pt;width:222pt" height="20" width="296" valign="middle">Расположение патрубков&nbsp;</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">слева/справа</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">слева/справа</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">слева/справ</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">слева/справа</td>
                                <td class="xl643482" style="border-top:none;border-left:none;width:83pt" width="110" valign="middle" align="center">слева/справа</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:142pt" width="189"></td>
                                <td style="width:80pt" width="107"></td>
                                <td style="width:83pt" width="110"></td>
                                <td style="width:83pt" width="110"></td>
                                <td style="width:83pt" width="110"></td>
                                <td style="width:83pt" width="110"></td>
                                <td style="width:83pt" width="110"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>