<section id="sunfire" class="product">

	<div class="product__container">

		<h2 class="product__name">НМК Sunfire</h2>

		<div class="container_flex-row">

			<div class="product__image-container">

				<div class="carousel-cell">
					<img src="assets/img/nmk/sunfire.jpg" alt="НМК Sunfire" class="product__image">
				</div>

			</div>

			<div class="product__description-container">

				<span class="product__characteristics-title">Характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						Более высокий КПД. По сравнению с линейкой котлов «Сибирь - Gefest» кпд вырос на 10%;
					</li>
					<li class="product__characteristics-item">
						Компактность. Габариты котла позволяют установить его в практически любые помещения;
					</li>
					<li class="product__characteristics-item">
						Экономичность. Специально разработанная конструкция котла позволяет максимально использовать тепловую энергию при сгорании топлива;
					</li>
					<li class="product__characteristics-item">
						Информативность. Температуру воды в котле показывает биметаллический термометр, встроенный в корпус;
					</li>
					<li class="product__characteristics-item">
						Долговечность. Бесперебойная работа котла гарантирована в течение десяти лет. Котел имеет высокопрочный корпус с антикоррозийной обработкой;
					</li>
					<li class="product__characteristics-item">
						Технологичность. Котел имеет автоматический регулятор тяги, который позволяет в автоматическом режиме поддерживать комфортную температуру теплоносителя. Данный котел подходит для закрытой системы отопления. В него добавлена дополнительная дверца в топочной
						камере, позволяющая загружать твердое топливо и очищать дымовые каналы от сажи;
					</li>
					<li class="product__characteristics-item">
						Презентабельный внешний вид. Визуально котел выглядит в духе времени, имеет приятное цветовое решение и стильный дизайн;
					</li>
					<li class="product__characteristics-item">
						Удобство в эксплуатации. Конструкция данного котла выполнена с максимально удобным расположением элементов, значительно улучшающая его эргономичность.
					</li>
				</ul>
			</div>

			<span class="product__price_wide">Стоимость: от 62 000 рублей</span>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed" width="819" cellspacing="0" cellpadding="0">
					<colgroup>
						<col width="334">
						<col width="124" span="3">
						<col width="113">
					</colgroup>
					<tbody>
						<tr height="45">
							<td>Характеристики</td>
							<td>Ед.изм.</td>
							<td>Sunfire-45</td>
							<td>Sunfire-60</td>
							<td>Sunfire-75</td>
						</tr>
						<tr height="20">
							<td>Теплопроизводительность</td>
							<td>кВт</td>
							<td>45</td>
							<td>60</td>
							<td>75</td>
						</tr>
						<tr height="20">
							<td>КПД, % (+3-5%)</td>
							<td>%</td>
							<td>85</td>
							<td>85</td>
							<td>85</td>
						</tr>
						<tr height="20">
							<td>Рабочее давление воды в котле не более</td>
							<td>МПа (кг/см2)</td>
							<td>0,2 (2)</td>
							<td>0,2 (2)</td>
							<td>0,2 (2)</td>
						</tr>
						<tr height="20">
							<td>Максимальное давление воды в котле не более</td>
							<td>МПа (кг/см2)</td>
							<td>0,25</td>
							<td>0,25</td>
							<td>0,25</td>
						</tr>
						<tr height="20">
							<td>Предохранительный клапан давления</td>
							<td>Бар</td>
							<td>2,5</td>
							<td>2,5</td>
							<td>2,5</td>
						</tr>
						<tr height="20">
							<td>Отапливаемая площадь</td>
							<td>м2</td>
							<td>450</td>
							<td>550</td>
							<td>700</td>
						</tr>
						<tr height="20">
							<td>Максимальная температура воды на выходе</td>
							<td>С</td>
							<td>85</td>
							<td>85</td>
							<td>85</td>
						</tr>
						<tr height="20">
							<td>Номинальная температура воды на входе в котел</td>
							<td>С</td>
							<td>65-75</td>
							<td>65-75</td>
							<td>65-75</td>
						</tr>
						<tr height="20">
							<td>Объем водяного контура</td>
							<td>Л</td>
							<td>180</td>
							<td>200</td>
							<td>230</td>
						</tr>
						<tr height="20">
							<td>Диаметр дымохода</td>
							<td>мм</td>
							<td>200</td>
							<td>200</td>
							<td>200</td>
						</tr>
						<tr height="20">
							<td>Температура продуктов сгорания</td>
							<td>С</td>
							<td>200</td>
							<td>200</td>
							<td>200</td>
						</tr>
						<tr height="20">
							<td>Габаритные размеры котла</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<tr height="20">
							<td>Глубина</td>
							<td>мм</td>
							<td>1040</td>
							<td>1140</td>
							<td>1140</td>
						</tr>
						<tr height="20">
							<td>Ширина</td>
							<td>мм</td>
							<td>615</td>
							<td>615</td>
							<td>715</td>
						</tr>
						<tr height="20">
							<td>Высота</td>
							<td>мм</td>
							<td>1375</td>
							<td>1375</td>
							<td>1375</td>
						</tr>
						<tr height="20">
							<td>Глубина топочной камеры</td>
							<td>мм</td>
							<td>590</td>
							<td>590</td>
							<td>590</td>
						</tr>
						<tr height="20">
							<td>Масса котла</td>
							<td>кг</td>
							<td>340</td>
							<td>370</td>
							<td>435</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td style="width:251pt" width="334"></td>
							<td style="width:93pt" width="124"></td>
							<td style="width:93pt" width="124"></td>
							<td style="width:93pt" width="124"></td>
							<td style="width:85pt" width="113"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>

			</div>

		</div>

	</div>

</section>
