<section id="sunfire" class="product">

    <div class="product__container">

        <h2 class="product__name">НМК Sunfire</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/nmk/sunfire.jpg" alt="НМК Sunfire" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Более высокий КПД. По сравнению с линейкой котлов «Сибирь - Gefest» кпд вырос на 10%;
                    </li>
                    <li class="product__characteristics-item">
                        Компактность. Габариты котла позволяют установить его в практически любые помещения;
                    </li>
                    <li class="product__characteristics-item">
                        Экономичность. Специально разработанная конструкция котла позволяет максимально использовать тепловую энергию при сгорании топлива;
                    </li>
                    <li class="product__characteristics-item">
                        Информативность. Температуру воды в котле показывает биметаллический термометр, встроенный в корпус;
                    </li>
                    <li class="product__characteristics-item">
                        Долговечность. Бесперебойная работа котла гарантирована в течение десяти лет. Котел имеет высокопрочный корпус с антикоррозийной обработкой;
                    </li>
                    <li class="product__characteristics-item">
                        Технологичность. Котел имеет автоматический регулятор тяги, который позволяет в автоматическом режиме поддерживать комфортную температуру теплоносителя. Данный котел подходит для закрытой системы отопления. В него добавлена дополнительная дверца в топочной камере, позволяющая загружать твердое топливо и очищать дымовые каналы от сажи;
                    </li>
                    <li class="product__characteristics-item">
                        Презентабельный внешний вид. Визуально котел выглядит в духе времени, имеет приятное цветовое решение и стильный дизайн;
                    </li>
                    <li class="product__characteristics-item">
                        Удобство в эксплуатации. Конструкция данного котла выполнена с максимально удобным расположением элементов, значительно улучшающая его эргономичность.
                    </li>
                </ul>
            </div>

            <span class="product__price_wide">Стоимость: от 62 000 рублей</span>

            <div class="product__table-container">

                <style id="НМК - котлы_27292_Styles">
                    .xl1527292,
                    .xl6327292 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        vertical-align: bottom;
                        white-space: nowrap
                    }
                    
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " "
                    }
                    
                    .xl1527292 {
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        mso-background-source: auto;
                        mso-pattern: auto
                    }
                    
                    .xl6327292,
                    .xl6427292 {
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        mso-background-source: auto;
                        mso-pattern: auto
                    }
                    
                    .xl6427292 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 700;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        white-space: normal
                    }
                    
                    .xl6527292,
                    .xl6627292 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal
                    }
                    
                    .xl6527292 {
                        text-align: general
                    }
                    
                    .xl6627292 {
                        text-align: center
                    }
                </style>
                <div id="НМК - котлы_27292" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:615pt" width="819" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:12214;width:251pt" width="334">
                                <col style="mso-width-source:userset;mso-width-alt:4534;width:93pt" width="124" span="3">
                                    <col style="mso-width-source:userset;mso-width-alt:4132;width:85pt" width="113">
                        </colgroup>
                        <tbody>
                            <tr class="xl6327292" style="mso-height-source:userset;height:33.75pt" height="45" valign="bottom">
                                <td class="xl6427292" style="height:33.75pt;width:251pt" height="45" width="334" valign="middle" align="center"><b>Характеристики</b>
                                </td>
                                <td class="xl6427292" style="border-left:none;width:93pt" width="124" valign="middle" align="center"><b>Ед.изм.</b>
                                </td>
                                <td class="xl6427292" style="border-left:none;width:93pt" width="124" valign="middle" align="center"><b>Sunfire-45</b>
                                </td>
                                <td class="xl6427292" style="border-left:none;width:93pt" width="124" valign="middle" align="center"><b>Sunfire-60</b>
                                </td>
                                <td class="xl6427292" style="border-left:none;width:85pt" width="113" valign="middle" align="center"><b>Sunfire-75</b>
                                </td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Теплопроизводительность</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">кВт</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">45</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">60</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">75</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">КПД, % (+3-5%)</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">%</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">85</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">85</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">85</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Рабочее давление воды в котле не более</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">МПа (кг/см2)</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">0,2 (2)</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">0,2 (2)</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">0,2 (2)</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Максимальное давление воды в котле не более</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">МПа (кг/см2)</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">0,25</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">0,25</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">0,25</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Предохранительный клапан давления</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">Бар</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">2,5</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">2,5</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">2,5</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Отапливаемая площадь</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">м2</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">450</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">550</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">700</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Максимальная температура воды на выходе</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">С</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">85</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">85</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">85</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Номинальная температура воды на входе в котел</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">С</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">65-75</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">65-75</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">65-75</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Объем водяного контура</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">Л</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">180</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">200</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">230</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Диаметр дымохода</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">мм</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">200</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">200</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">200</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Температура продуктов сгорания</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">С</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">200</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">200</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">200</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Габаритные размеры котла</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124">&nbsp;</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124">&nbsp;</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124">&nbsp;</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113">&nbsp;</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Глубина</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">мм</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">1040</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">1140</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">1140</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Ширина</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">мм</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">615</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">615</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">715</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Высота</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">мм</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">1375</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">1375</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">1375</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Глубина топочной камеры</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">мм</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">590</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">590</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">590</td>
                            </tr>
                            <tr style="height:15.0pt" height="20" valign="bottom">
                                <td class="xl6527292" style="height:15.0pt;border-top:none;width:251pt" height="20" width="334" valign="middle">Масса котла</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">кг</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">340</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:93pt" width="124" valign="middle" align="center">370</td>
                                <td class="xl6627292" style="border-top:none;border-left:none;width:85pt" width="113" valign="middle" align="center">435</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:251pt" width="334"></td>
                                <td style="width:93pt" width="124"></td>
                                <td style="width:93pt" width="124"></td>
                                <td style="width:93pt" width="124"></td>
                                <td style="width:85pt" width="113"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>