<section id="k20" class="product">

	<div class="product__container">

		<h2 class="product__name">Линейка "Кастор 20"</h2>

		<div class="container_flex-row">

			<div class="product__column">

				<h6 class="product__title">KS 20</h6>

				<div class="product__image-container">
					<img src="assets/img/kastor/20_ks.jpg" alt="Kastor KS 20" class="product__image">
				</div>

			</div>

			<div class="product__column">

				<h6 class="product__title">KL 20 VV</h6>

				<div class="product__image-container">
					<img src="assets/img/kastor/20_klvv.jpg" alt="Kastor KL 20 VV" class="product__image">
				</div>

			</div>

			<div class="product__column">

				<h6 class="product__title">Karhu 20 PK VO</h6>

				<div class="product__image-container">
					<img src="assets/img/kastor/20_pk_vo.jpg" alt="Kastor Karhu 20 PK VO" class="product__image">
				</div>

			</div>

			<div class="product__column">

				<h6 class="product__title">Helo 20 Sil Helo</h6>

				<div class="product__image-container">
					<img src="assets/img/kastor/20_sil_helo.jpg" alt="Kastor Helo 20 Sil Helo" class="product__image">
				</div>

			</div>


			<div class="product__table-container" align="center">

				<table style="border-collapse:collapse;table-layout:fixed;width:424pt" width="563" border="0" cellspacing="0" cellpadding="0">
					<colgroup>
						<col width="110">
						<col width="121">
						<col width="109">
						<col width="130">
						<col width="93">
					</colgroup>
					<tbody>
						<tr height="59">
							<td>Модель</td>
							<td>Объём парилки, м&sup3;</td>
							<td>Габариты, см</td>
							<td>Ёмкость каменки, кг</td>
							<td>Диаметр дымохода, мм</td>
						</tr>
						<tr height="20">
							<td>KL-20 VV</td>
							<td>8-17</td>
							<td>65*78*50</td>
							<td>65</td>
							<td>104</td>
						</tr>
						<tr height="20">
							<td>KS-20</td>
							<td>8-20</td>
							<td>49*78*51</td>
							<td>60</td>
							<td>104</td>
						</tr>
						<tr height="20">
							<td>HELO-20 SIL</td>
							<td>8-20</td>
							<td>41*73*52</td>
							<td>40</td>
							<td>104</td>
						</tr>
						<tr height="20">
							<td>Karhu 20PK VO</td>
							<td>13-20</td>
							<td>67*79*48</td>
							<td>45-50</td>
							<td>104</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td width="110"></td>
							<td width="121"></td>
							<td width="109"></td>
							<td width="130"></td>
							<td width="93"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>

			</div>

		</div>

	</div>

</section>
