<section class="intro">

    <div class="intro__back-image-container">
        <img src="assets/img/kastor/intro.jpg" alt="ermak intro" class="intro__back-image">
    </div>

    <div class="intro__overlay">

        <div class="container_flex">

            <h1 class="intro__title">Банные печи Кастор</h1>

            <span class="intro__subtitle">
                Выберите интересующий Вас вариант, и свяжитесь с менеджером, чтобы уточнить наличие и стоимость:
            </span>

            <ul class="intro__list">
                <li>
                    <a href="#" data-roll="k12" class="intro__link" ripple-light>Кастор 12</a>
                    <a href="#" data-roll="k16" class="intro__link" ripple-light>Кастор 16</a>
                    <a href="#" data-roll="k20" class="intro__link" ripple-light>Кастор 20</a>
                    <a href="#" data-roll="k27" class="intro__link" ripple-light>Кастор 27</a>
                </li>
            </ul>

            <span class="intro__additional-text"></span>

            <span class="intro__list-title">Другие семейства банных печей:</span>

            <ul class="intro__list">
                <li><a href="nmk-furnaces.html" class="intro__link" ripple-light>НМК</a></li>
                <li><a href="ermak.html" class="intro__link" ripple-light>Ермак</a></li>
            </ul>

        </div>

    </div>

</section>
