<section id="energy" class="product">

    <div class="product__container">

        <h2 class="product__name"></h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/energy-tt/energy.jpg" alt="Энергия-ТТ" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/energy-tt/energy-1.jpg" alt="Энергия-ТТ" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/energy-tt/energy-2.jpg" alt="Энергия-ТТ" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Применяется для обогрева жилых и административных зданий, производственных помещений;
                    </li>
                    <li class="product__characteristics-item">
                        Горение топлива происходит в нижней части котла, оборудованной проточными колосниками;
                    </li>
                    <li class="product__characteristics-item">
                        Загрузка топлива значительного объема позволяет обеспечить его горение в течение значительного периода (3-14 суток, в зависимости от теплопотерь здания, качества топлива и объема бункера котла);
                    </li>
                    <li class="product__characteristics-item">
                        Загрузка топлива ручная, удаление шлака ручное;
                    </li>
                    <li class="product__characteristics-item">
                        Топливо: антрацит, каменный уголь, бурый уголь, угольные брикеты, дрова;
                    </li>
                    <li class="product__characteristics-item">
                        Длительность горения одной закладки: при максимальной мощности – 3-5 суток, средняя до 7 суток, в межсезонье до 14 суток;
                    </li>
                    <li class="product__characteristics-item">
                        Тип тяги: естественная;
                    </li>
                    <li class="product__characteristics-item">
                        Управление: электронное, контроллером управления работой наддува, насосами системы отопления;
                    </li>
                </ul>
            </div>

            <div class="product__table-container">

                <style id="Прайс_20825_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }
                    
                    .font520825 {
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                    }
                    
                    .xl6320825 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                    
                    .xl6420825 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                    
                    .xl6520825 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }
                    
                    .xl6620825 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: "\#\,\#\#0";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }
                </style>

                <div id="Прайс_20825" x:publishsource="Excel" align="center">
                    <table class="xl6320825" style="border-collapse:collapse;table-layout:fixed;width:822pt" width="1093" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:4461;width:92pt" width="122">
                                <col class="xl6320825" style="width:58pt" width="77">
                                    <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:3693;width:76pt" width="101">
                                        <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:1792;width:37pt" width="49">
                                            <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:3693;width:76pt" width="101">
                                                <col class="xl6320825" style="width:58pt" width="77">
                                                    <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:2852;width:59pt" width="78">
                                                        <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:2816;width:58pt" width="77">
                                                            <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:3474;width:71pt" width="95">
                                                                <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:3620;width:74pt" width="99">
                                                                    <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:4059;width:83pt" width="111">
                                                                        <col class="xl6320825" style="mso-width-source:userset;mso-width-alt:3876;width:80pt" width="106">
                        </colgroup>
                        <tbody>
                            <tr style="mso-height-source:userset;height:60.0pt" height="80">
                                <td class="xl6420825" style="height:60.0pt;width:92pt" height="80" width="122">Характеристики</td>
                                <td class="xl6420825" style="border-left:none;width:58pt" width="77">Мах мощность, кВт</td>
                                <td class="xl6420825" style="border-left:none;width:76pt" width="101">Отапливаемая площадь, м<font class="font520825">²</font>
                                </td>
                                <td class="xl6420825" style="border-left:none;width:37pt" width="49">КПД, %</td>
                                <td class="xl6420825" style="border-left:none;width:76pt" width="101">Габариты, мм (ДхШхВ)</td>
                                <td class="xl6420825" style="border-left:none;width:58pt" width="77">Диаметр дымохода, мм</td>
                                <td class="xl6420825" style="border-left:none;width:59pt" width="78">Объем воды в котле, л</td>
                                <td class="xl6420825" style="border-left:none;width:58pt" width="77">Масса котла нетто, кг</td>
                                <td class="xl6420825" style="border-left:none;width:71pt" width="95">Макc вес загружаемого угля, кг</td>
                                <td class="xl6420825" style="border-left:none;width:74pt" width="99">Макс. рабочее избыточное давление, бар</td>
                                <td class="xl6420825" style="border-left:none;width:83pt" width="111">Мин./макс. темп. на выходе из котла, °С</td>
                                <td class="xl6420825" style="border-left:none;width:80pt" width="106">Стоимость
                                    <br>(без кожуха
                                    <br>/с кожухом)</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6420825" style="height:22.5pt;border-top:none;width:92pt" height="30" width="122">Энергия ТТ 9 кВт</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">9</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">до 80</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:37pt" width="49">70</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:76pt" width="101">600х570х800</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">150</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:59pt" width="78">18</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">80</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:71pt" width="95">60</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:74pt" width="99">2</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">40/90</td>
                                <td class="xl6620825" style="border-top:none;border-left:none">49 000/59 000</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6420825" style="height:22.5pt;border-top:none;width:92pt" height="30" width="122">Энергия ТТ 14 кВт</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">14</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:76pt" width="101">до 130</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:37pt" width="49">70</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">780х570х1350</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">150</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">27</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">150</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">100</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:74pt" width="99">2</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">40/90</td>
                                <td class="xl6620825" style="border-top:none;border-left:none">79 000/89 000</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6420825" style="height:22.5pt;border-top:none;width:92pt" height="30" width="122">Энергия ТТ 18 кВт</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">18</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:76pt" width="101">до 180</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:37pt" width="49">70</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:76pt" width="101">990х700х1550</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">150</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">35</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">190</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">200</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:74pt" width="99">2</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">40/90</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:80pt" width="106">89 000/101 000</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6420825" style="height:22.5pt;border-top:none;width:92pt" height="30" width="122">Энергия ТТ 25 кВт</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">25</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:76pt" width="101">до 250</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:37pt" width="49">70</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">1400х770х1600</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">150</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:59pt" width="78">57</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">290</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">310</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:74pt" width="99">2</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">40/90</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:80pt" width="106">99 000/112 000</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6420825" style="height:22.5pt;border-top:none;width:92pt" height="30" width="122">Энергия ТТ 40 кВт</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">40</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:76pt" width="101">до 400</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:37pt" width="49">70</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">1000х770х1600</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">150</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:59pt" width="78">60</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:58pt" width="77">320</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:71pt" width="95">290</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:74pt" width="99">2</td>
                                <td class="xl6520825" style="border-top:none;border-left:none">40/90</td>
                                <td class="xl6420825" style="border-top:none;border-left:none;width:80pt" width="106">109 000/122 000</td>
                            </tr>
                            <tr style="display:none" height="0">
                                <td style="width:92pt" width="122"></td>
                                <td style="width:58pt" width="77"></td>
                                <td style="width:76pt" width="101"></td>
                                <td style="width:37pt" width="49"></td>
                                <td style="width:76pt" width="101"></td>
                                <td style="width:58pt" width="77"></td>
                                <td style="width:59pt" width="78"></td>
                                <td style="width:58pt" width="77"></td>
                                <td style="width:71pt" width="95"></td>
                                <td style="width:74pt" width="99"></td>
                                <td style="width:83pt" width="111"></td>
                                <td style="width:80pt" width="106"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>