<section id="econom" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota Econom</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/econom.jpg" alt="Zota Econom" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Электрические котлы серии ZOTA «Econom» предназначены для автономного теплоснабжения жилых и производственных помещений площадью до 480 м&sup2; и могут быть использованы в системах с естественной (ZOTA «Econom» 3-15) и насосной циркуляцией;
                    </li>
                    <li class="product__characteristics-item">
                        Во все котлы установлены нагревательные элементы (блок-ТЭНы) различной мощности специальной конструкции из нержавеющей трубки;
                    </li>
                    <li class="product__characteristics-item">
                        Основным отличием от серии ZOTA «Lux» является размещение котла и блока управления котлом в разных корпусах;
                    </li>
                    <li class="product__characteristics-item">
                        Пульты управления электрокотлом 3-15 кВт работают как на бесшумных силовых реле, так и на магнитных пускателях.
                    </li>
                </ul>
            </div>

            <div class="product__table-container">

                <style id="Zota Econom_8940_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl158940 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl638940 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl648940 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl658940 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl668940 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border-top: .5pt solid #000;
                        border-right: .5pt solid #000;
                        border-bottom: none;
                        border-left: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl678940 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border-top: none;
                        border-right: .5pt solid #000;
                        border-bottom: .5pt solid #000;
                        border-left: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>
                <div id="Zota Econom_8940" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:635pt" summary="Таблица технических характеристик" width="845" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:4800;width:113pt" width="150">
                                <col style="mso-width-source:userset;mso-width-alt:3360;width:79pt" width="105">
                                    <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                                        <col style="mso-width-source:userset;mso-width-alt:4480;width:105pt" width="140">
                                            <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80" span="2">
                                                <col style="mso-width-source:userset;mso-width-alt:4160;width:98pt" width="130">
                                                    <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                        </colgroup>
                        <tbody>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td rowspan="2" class="xl638940" style="height:45.0pt;width:113pt" height="60" width="150">Тип</td>
                                <td rowspan="2" class="xl638940" style="width:79pt" width="105">Цена</td>
                                <td rowspan="2" class="xl668940" style="border-bottom:.5pt solid #000;width:60pt" width="80">Площадь обогрева</td>
                                <td rowspan="2" class="xl668940" style="border-bottom:.5pt solid #000;width:105pt" width="140">Cтупени мощности</td>
                                <td rowspan="2" class="xl638940" style="width:60pt" width="80">Питание</td>
                                <td rowspan="2" class="xl668940" style="border-bottom:.5pt solid #000;width:60pt" width="80">Размеры присоед.</td>
                                <td rowspan="2" class="xl638940" style="width:98pt" width="130"><span data-tooltip="Размеры, (мм)">Размеры</span>
                                </td>
                                <td rowspan="2" class="xl638940" style="width:60pt" width="80">Масса</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30"></tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-3 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">7&nbsp;990 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">30&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">1-2-3&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">220/380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/2"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">730х185х120&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">12&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-4,5 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">8&nbsp;190 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">45&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">1,5-3-4,5&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">220/380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/2"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">730х185х120&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">12&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-6 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">8&nbsp;390 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">60&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">2-4-6&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">220/380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/2"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">730х185х120&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">12&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-7,5 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">9&nbsp;110 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">75&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">2,5-5-7,5&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">220/380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/2"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">730х185х120&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">12&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-9 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">9&nbsp;490 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">90&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">3-6-9&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">220/380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/2"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">730х185х120&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">12&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-12 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">10&nbsp;100 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">120&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">4-8-12&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/2"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">730х185х120&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">12&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-15 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">11&nbsp;690 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">150&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">5-10-15&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/2"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">730х185х120&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">12&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-18 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">20&nbsp;780 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">180&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">6-12-18&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-21 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">21&nbsp;180 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">210&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">7-14-21&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-24 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">21&nbsp;580 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">240&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">8-16-24&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-27 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">22&nbsp;480 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">270&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">9-18-27&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-30 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">23&nbsp;380 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">300&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">10-20-30&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-33 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">24&nbsp;380 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">330&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">11-22-33&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-36 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">24&nbsp;980 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">360&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">12-24-36&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-39 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">26&nbsp;280 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">390&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">13-26-39&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-42 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">26&nbsp;880 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">420&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">14-28-42&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-45 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">27&nbsp;480 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">450&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">15-30-45&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl648940" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-48 «Econom»</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:79pt" width="105">28&nbsp;080 руб.</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">480&nbsp;кв.м</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:105pt" width="140">16-18-48&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">1 1/4"&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:98pt" width="130">760х206х200&nbsp;</td>
                                <td class="xl658940" style="border-top:none;border-left:none;width:60pt" width="80">20&nbsp;кг</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:113pt" width="150"></td>
                                <td style="width:79pt" width="105"></td>
                                <td style="width:60pt" width="80"></td>
                                <td style="width:105pt" width="140"></td>
                                <td style="width:60pt" width="80"></td>
                                <td style="width:60pt" width="80"></td>
                                <td style="width:98pt" width="130"></td>
                                <td style="width:60pt" width="80"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</section>
