<section id="lux" class="product">

	<div class="product__container">

		<h2 class="product__name">Zota Lux</h2>

		<div class="container_flex-row">

			<div class="product__image-container">

				<div class="carousel-cell">
					<img src="assets/img/zota/lux.jpg" alt="Zota Lux" class="product__image">
				</div>

			</div>

			<div class="product__description-container">

				<span class="product__characteristics-title">Характеристики:</span>

				<ul class="product__characteristics-list">
					<li class="product__characteristics-item">
						небольшие габариты и вес;
					</li>
					<li class="product__characteristics-item">
						упрощенный доступ к блокам ТЭН;
					</li>
					<li class="product__characteristics-item">
						блоки ТЭН изготовлены из нержавеющей трубки диаметром 7,4 мм, их можно быстро заменить с помощью обычного ключа;
					</li>
					<li class="product__characteristics-item">
						конструктивные особенности ТЭНов позволяют достичь пониженной ваттной нагрузки на единицу поверхности ниже номинальной, увеличив их ресурс;
					</li>
					<li class="product__characteristics-item">
						применена система ротации силовых элементов и ТЭНов для увеличения их ресурса;
					</li>
					<li class="product__characteristics-item">
						все электронные блоки и датчики соединены разъемами, что облегчает доступ ко всем модулям котла и улучшает ремонтопригодность. Применение разъемов различной конфигурации исключает возможность неправильного соединения проводов;
					</li>
					<li class="product__characteristics-item">
						расширенный диапазон питающих напряжений, благодаря использованию импульсных источников питания для электронных блоков котла и управляющих цепей блока коммутации;
					</li>
					<li class="product__characteristics-item">
						встроенный хронотермостат с часами реального времени с возможностью подключения двухтарифного счетчика;
					</li>
					<li class="product__characteristics-item">
						погодозависимое регулирование с возможностью настройки параметров регулирования;
					</li>
					<li class="product__characteristics-item">
						устройство эталонной установки температуры с применением сверхточных датчиков и специальной схемы электронной коррекции;
					</li>
					<li class="product__characteristics-item">
						управление насосом с целью уменьшения энергопотребления;
					</li>
					<li class="product__characteristics-item">
						самодиагностика неисправностей с выводом информации на цифровой индикатор;
					</li>
					<li class="product__characteristics-item">
						звуковая сигнализация аварийных режимов;
					</li>
					<li class="product__characteristics-item">
						меню пользователя с возможностью сохранения индивидуальных настроек.
					</li>
				</ul>

			</div>

			<div class="product__table-container" align="center">
				<table style="border-collapse:collapse;table-layout:fixed" width="785" cellspacing="0" cellpadding="0">
					<colgroup>
						<col width="150">
						<col width="105">
						<col width="80" span="4">
						<col width="130">
						<col width="80">
					</colgroup>
					<tbody>
						<tr height="30">
							<td rowspan="2">Тип</td>
							<td rowspan="2">Цена</td>
							<td rowspan="2">Площадь обогрева</td>
							<td rowspan="2">Cтупени мощности</td>
							<td rowspan="2">Питание</td>
							<td rowspan="2">Размеры присоед.</td>
							<td rowspan="2">Размеры</td>
							<td rowspan="2">Масса</td>
						</tr>
						<tr height="25">
							<td>ZOTA-3 «Lux»</td>
							<td>15 800 руб.</td>
							<td>30 кв.м</td>
							<td>1-2-3 </td>
							<td>220/380 В</td>
							<td>1 1/2" </td>
							<td>730х290х160 </td>
							<td>19 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-4,5 «Lux»</td>
							<td>16 200 руб.</td>
							<td>45 кв.м</td>
							<td>1,5-3-4,5 </td>
							<td>220/380 В</td>
							<td>1 1/2" </td>
							<td>730х290х160 </td>
							<td>19 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-6 «Lux»</td>
							<td>16 900 руб.</td>
							<td>60 кв.м</td>
							<td>2-4-6 </td>
							<td>220/380 В</td>
							<td>1 1/2" </td>
							<td>730х290х160 </td>
							<td>19 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-7,5 «Lux»</td>
							<td>17 200 руб.</td>
							<td>75 кв.м</td>
							<td>2,5-5-7,5 </td>
							<td>220/380 В</td>
							<td>1 1/2" </td>
							<td>730х290х160 </td>
							<td>19 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-9 «Lux»</td>
							<td>17 800 руб.</td>
							<td>90 кв.м</td>
							<td>3-6-9 </td>
							<td>220/380 В</td>
							<td>1 1/2" </td>
							<td>730х290х160 </td>
							<td>19 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-12 «Lux»</td>
							<td>20 500 руб.</td>
							<td>120 кв.м</td>
							<td>4-8-12 </td>
							<td>380 В</td>
							<td>1 1/2" </td>
							<td>730х290х160 </td>
							<td>19 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-15 «Lux»</td>
							<td>21 900 руб.</td>
							<td>150 кв.м</td>
							<td>5-10-15 </td>
							<td>380 В</td>
							<td>1 1/2" </td>
							<td>730х290х160 </td>
							<td>19 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-18 «Lux»</td>
							<td>26 200 руб.</td>
							<td>180 кв.м</td>
							<td>6-12-18 </td>
							<td>380 В</td>
							<td>1 1/4" </td>
							<td>760х390х230 </td>
							<td>30 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-21 «Lux»</td>
							<td>27 500 руб.</td>
							<td>210 кв.м</td>
							<td>7-14-21 </td>
							<td>380 В</td>
							<td>1 1/4" </td>
							<td>760х390х230 </td>
							<td>30 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-24 «Lux»</td>
							<td>27 900 руб.</td>
							<td>240 кв.м</td>
							<td>8-16-24 </td>
							<td>380 В</td>
							<td>1 1/4" </td>
							<td>760х390х230 </td>
							<td>30 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-27 «Lux»</td>
							<td>31 600 руб.</td>
							<td>270 кв.м</td>
							<td>9-18-27 </td>
							<td>380 В</td>
							<td>1 1/4" </td>
							<td>760х390х230 </td>
							<td>30 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-30 «Lux»</td>
							<td>33 200 руб.</td>
							<td>300 кв.м</td>
							<td>10-20-30 </td>
							<td>380 В</td>
							<td>1 1/4" </td>
							<td>760х390х230 </td>
							<td>30 кг</td>
						</tr>
						<tr height="25">
							<td>ZOTA-33 «Lux»</td>
							<td>34 900 руб.</td>
							<td>330 кв.м</td>
							<td>11-22-33 </td>
							<td>380 В</td>
							<td>1 1/4" </td>
							<td>760х390х230 </td>
							<td>30 кг</td>
						</tr>
						<!--[if supportMisalignedColumns]-->
						<tr style="display:none" height="0">
							<td style="width:113pt" width="150"></td>
							<td style="width:79pt" width="105"></td>
							<td style="width:60pt" width="80"></td>
							<td style="width:60pt" width="80"></td>
							<td style="width:60pt" width="80"></td>
							<td style="width:60pt" width="80"></td>
							<td style="width:98pt" width="130"></td>
							<td style="width:60pt" width="80"></td>
						</tr>
						<!--[endif]-->
					</tbody>
				</table>

			</div>

		</div>
	</div>

</section>
