<section id="prom" class="product">

    <div class="product__container">

        <h2 class="product__name">Zota Prom</h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/zota/prom.jpg" alt="Zota Prom" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        поддержание заданной температуры теплоносителя на подаче в диапазоне от 40 до 90°С;
                    </li>
                    <li class="product__characteristics-item">
                        отключение водонагревателя при перегрузке и коротком замыкании в нагрузке;
                    </li>
                    <li class="product__characteristics-item">
                        отключение водонагревателя при перегреве выше 95°С;
                    </li>
                    <li class="product__characteristics-item">
                        отключение водонагревателя при остановке циркуляционного насоса;
                    </li>
                    <li class="product__characteristics-item">
                        возможность подключения внешней сигнализации аварийного отключения;
                    </li>
                    <li class="product__characteristics-item">
                        контроль режима электроводонагревателя с помощью цифрового индикатора;
                    </li>
                    <li class="product__characteristics-item">
                        отображение температуры прямой и обратной воды на цифровом индикаторе;
                    </li>
                    <li class="product__characteristics-item">
                        трехступенчатое переключение мощности электроводонагревателя в автоматическом режиме в зависимости от заданной температуры;
                    </li>
                    <li class="product__characteristics-item">
                        автоматический перебор включенных тэнов по программе.
                    </li>
                </ul>
            </div>

            <div class="product__table-container">

                <style id="Zota MK_25171_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .xl1525171 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6325171 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6425171 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6525171 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border-top: .5pt solid #000;
                        border-right: .5pt solid #000;
                        border-bottom: none;
                        border-left: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6625171 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border-top: none;
                        border-right: .5pt solid #000;
                        border-bottom: .5pt solid #000;
                        border-left: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6725171 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }
                </style>
                <div id="Zota MK_25171" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:635pt" width="845" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:4800;width:113pt" width="150">
                                <col style="mso-width-source:userset;mso-width-alt:3360;width:79pt" width="105">
                                    <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                                        <col style="mso-width-source:userset;mso-width-alt:4480;width:105pt" width="140">
                                            <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80" span="2">
                                                <col style="mso-width-source:userset;mso-width-alt:4160;width:98pt" width="130">
                                                    <col style="mso-width-source:userset;mso-width-alt:2560;width:60pt" width="80">
                        </colgroup>
                        <tbody>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td rowspan="2" class="xl6425171" style="height:45.0pt;width:113pt" height="60" width="150">Тип</td>
                                <td rowspan="2" class="xl6425171" style="width:79pt" width="105">Цена</td>
                                <td rowspan="2" class="xl6525171" style="border-bottom:.5pt solid #000;width:60pt" width="80">Площадь обогрева</td>
                                <td rowspan="2" class="xl6525171" style="border-bottom:.5pt solid #000;width:105pt" width="140">Cтупени мощности</td>
                                <td rowspan="2" class="xl6425171" style="width:60pt" width="80">Питание</td>
                                <td rowspan="2" class="xl6525171" style="border-bottom:.5pt solid #000;width:60pt" width="80">Размеры присоед.</td>
                                <td rowspan="2" class="xl6425171" style="width:98pt" width="130">Размеры</td>
                                <td rowspan="2" class="xl6425171" style="width:60pt" width="80">Масса</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30"></tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-60 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">70&nbsp;890 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">600&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">20-40-60&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">925x573x607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">95&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-70 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">71&nbsp;890 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">700&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">20-48-70&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">925x573x607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">95&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-80 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">73&nbsp;690 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">800&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">30-54-80&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">925x573x607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">95&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-90 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">74&nbsp;590 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">900&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">30-60-90&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">925x573x607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">95&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-100 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">77&nbsp;290 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">1000&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">33-66-100&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">925x573x607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">95&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-160 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">163&nbsp;890 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">1600&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">55-110-160&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">1180х573х607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">123&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-200 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">183&nbsp;890 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">2000&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">65-130-200&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">1180х573х607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">123&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-250 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">199&nbsp;890 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">2500&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">85-170-250&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">1180х573х607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">123&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-300 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">229&nbsp;890 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">3000&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">100-200-300&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">1560х573х607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">156&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-350 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">341&nbsp;000 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">3500&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">115-230-350&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">1560х573х607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">156&nbsp;кг</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:18.75pt" height="25">
                                <td class="xl6725171" style="height:18.75pt;border-top:none;width:113pt" height="25" width="150">ZOTA-400 «Prom»</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:79pt" width="105">346&nbsp;000 руб.</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">4000&nbsp;кв.м</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:105pt" width="140">132-264-400&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">380&nbsp;В</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">ДУ 50&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:98pt" width="130">1560х573х607&nbsp;</td>
                                <td class="xl6325171" style="border-top:none;border-left:none;width:60pt" width="80">156&nbsp;кг</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:113pt" width="150"></td>
                                <td style="width:79pt" width="105"></td>
                                <td style="width:60pt" width="80"></td>
                                <td style="width:105pt" width="140"></td>
                                <td style="width:60pt" width="80"></td>
                                <td style="width:60pt" width="80"></td>
                                <td style="width:98pt" width="130"></td>
                                <td style="width:60pt" width="80"></td>
                            </tr>
                            <!--[endif]-->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</section>
