<section id="intro" class="intro">

    <div class="intro__back-image-container">
        <img src="assets/img/zota/intro.jpg" alt="zota intro" class="intro__back-image">
    </div>

    <div class="intro__overlay">

        <div class="container_flex">

            <h1 class="intro__title">Электрические котлы Zota</h1>

            <span class="intro__subtitle">
            Выберите интересующий Вас вариант, и свяжитесь с менеджером, чтобы уточнить наличие и стоимость:
            </span>

            <ul class="intro__list">
                <li><a href="#" data-roll="econom" class="intro__link" ripple-light>Econom</a></li>
                <li><a href="#" data-roll="lux" class="intro__link" ripple-light>Lux</a></li>
                <li><a href="#" data-roll="mk" class="intro__link" ripple-light>MK</a></li>
                <li><a href="#" data-roll="prom" class="intro__link" ripple-light>Prom</a></li>
                <li><a href="#" data-roll="smart" class="intro__link" ripple-light>Smart</a></li>
            </ul>

            <span class="intro__additional-text">
            Принцип работы электрического котла отопления основан на преобразовании электрической энергии в тепловую. Коэффициент, показывающий эффективность работы электрокотла, называется КПД (коэффициент полезного действия). Котел электрический достигает КПД 93-96 %. Ведь у самого электричества нет таких значительных отходов, так как, например, в твердотопливных котлах использующие уголь или дрова. Только электрокотел для отопления имеет довольно внушительный показатель, в 93-96%, для достижения которого требуются изрядные топливные затраты (в данном изделии топливом выступает электричество) и продуманность конструкции, а также использование качественных и современных комплектующих в производстве. Поэтому не доверяйте тем производителям, которые обещают вам котел с минимальным энергопотреблением и 100% КПД.
            </span>

        </div>

    </div>

</section>
