<section id="s111" class="product">

    <div class="product__container">

        <h2 class="product__name">Buderus </h2>

        <div class="container_flex-row">

            <div class="product__image-container">

                <div class="carousel-cell">
                    <img src="assets/img/buderus/111.jpg" alt="Buderus Logano S111-2" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Котел BUDERUS LOGANO S111-2 мощностью до 28 кВт – представитель обновленной линейки котлов Buderus Logano S111;
                    </li>
                    <li class="product__characteristics-item">
                        Как и в предыдущей версии, котел разработан для простого, приятного и эффективного отопления, LOGANO S111-2 сжигает древесину, бурый и каменный уголь, кокс и прессованное сорта твердого топлива. 8 типоразмеров серии от 12 до 45 кВт позволяют выбрать наиболее подходящий вариант котла. Отличительная особенность серии S111-2 – усовершенствованный внешний вид котла;
                    </li>
                    <li class="product__characteristics-item">
                        Теперь котел LOGANO S111-2 – это стильный и элегантный котел с модифицированной конструкцией для современного отопления;
                    </li>
                    <li class="product__characteristics-item">
                        Конструктивные изменения котла коснулись некоторых других деталей оборудования: для удобства и быстрого монтажа фланцевые подключения заменены на резьбовые, усовершенствованы крепления изоляции и петель зольной дверцы котла. Узкие габаритные размеры котла позволяют использовать его в небольших помещениях под котельную.
                    </li>
                </ul>
            </div>

            <div class="product__table-container">

                <style id="Характеристики (полная таблица)_11533_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .font511533 {
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                    }

                    .font611533 {
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                    }

                    .xl1511533 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6311533 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6411533 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6511533 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: "\#\,\#\#0";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6611533 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: Standard;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }
                </style>

                <div id="Характеристики (полная таблица)_11533" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:630pt" width="840" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:11373;width:233pt" width="311">
                                <col style="mso-width-source:userset;mso-width-alt:5083;width:104pt" width="139">
                                    <col style="mso-width-source:userset;mso-width-alt:4608;width:95pt" width="126">
                                        <col style="mso-width-source:userset;mso-width-alt:4973;width:102pt" width="136">
                                            <col style="mso-width-source:userset;mso-width-alt:4681;width:96pt" width="128">
                        </colgroup>
                        <tbody>
                            <tr style="mso-height-source:userset;height:30.0pt" height="40">
                                <td class="xl6311533" style="height:30.0pt;width:233pt" height="40" width="311">Характеристики\Наименование</td>
                                <td class="xl6311533" style="border-left:none;width:104pt" width="139">Logano S111-2 12</td>
                                <td class="xl6311533" style="border-left:none;width:95pt" width="126">Logano S111-2 20</td>
                                <td class="xl6311533" style="border-left:none;width:102pt" width="136">Logano S111-2 24</td>
                                <td class="xl6311533" style="border-left:none;width:96pt" width="128">Logano S111-2 32</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Мощность, кВт</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">13,5</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">20</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">24</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">32</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Отапливаемая площадь, м²</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">135</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">200</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">240</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">320</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Объем топки, л</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">26</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">46</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">46</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">61</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Объем теплоносителя, л</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">46</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">56</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">57</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">64</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Минимальная температура теплоносителя, ˚С</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">65</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">65</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">65</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">65</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Рабочая температура теплоносителя, ˚С</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">95</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">95</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">95</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">95</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Рабочее давление, Бар</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">2,5</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">2,5</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">2,5</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">2,5</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Диаметр соединения, мм</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">50</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">40</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">40</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">40</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Диаметр дымохода, мм</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">150</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">150</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">150</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">150</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Высота дымохода, м</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">6</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">10</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">10</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">10</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Вид топлива</td>
                                <td class="xl6311533" style="border-top:none;border-left:none"><span style="mso-spacerun:yes">&nbsp;</span>дрова, уголь</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">дрова, уголь</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">дрова, уголь</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">дрова, уголь</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Высота, мм</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">600</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">990</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">990</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">990</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Ширина, мм</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">730</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">700</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">700</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">700</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Глубина, мм</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">920</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">770</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">770</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">870</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Масса не более, кг</td>
                                <td class="xl6511533" style="border-top:none;border-left:none">158</td>
                                <td class="xl6611533" style="border-top:none;border-left:none">200,50</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">215</td>
                                <td class="xl6311533" style="border-top:none;border-left:none">240</td>
                            </tr>
                            <tr style="height:15.0pt" height="20">
                                <td class="xl6411533" style="height:15.0pt;border-top:none" height="20">Цена, руб</td>
                                <td class="xl6511533" style="border-top:none;border-left:none">44 150</td>
                                <td class="xl6511533" style="border-top:none;border-left:none">54 290</td>
                                <td class="xl6511533" style="border-top:none;border-left:none">61 825</td>
                                <td class="xl6511533" style="border-top:none;border-left:none">64 895</td>
                            </tr>
                            <!--[if supportMisalignedColumns]-->
                            <tr style="display:none" height="0">
                                <td style="width:233pt" width="311"></td>
                                <td style="width:104pt" width="139"></td>
                                <td style="width:95pt" width="126"></td>
                                <td style="width:102pt" width="136"></td>
                                <td style="width:96pt" width="128"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
