<section id="s131" class="product">

    <div class="product__container">

        <h2 class="product__name">Buderus </h2>

        <div class="container_flex-row">

            <div class="product__slider-container" flickity>

                <div class="carousel-cell">
                    <img src="assets/img/buderus/131-1.jpg" alt="Buderus S131" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/buderus/131-2.jpg" alt="Buderus S131" class="product__image">
                </div>

                <div class="carousel-cell">
                    <img src="assets/img/buderus/131-3.jpg" alt="Buderus S131" class="product__image">
                </div>

            </div>

            <div class="product__description-container">

                <span class="product__characteristics-title">Характеристики:</span>

                <ul class="product__characteristics-list">
                    <li class="product__characteristics-item">
                        Новая конструкция теплообменника;
                    </li>
                    <li class="product__characteristics-item">
                        Улучшено качество и время горения благодаря увеличению объёма загрузочной камеры;
                    </li>
                    <li class="product__characteristics-item">
                        Возможно установить внешний электрический ТЭН;
                    </li>
                    <li class="product__characteristics-item">
                        Новый механизм управления растопочной заслонкой;
                    </li>
                    <li class="product__characteristics-item">
                        Загрузка спереди позволяет производить чистку ограниченных узлов котла даже во время его работы;
                    </li>
                    <li class="product__characteristics-item">
                        Изменена конструкция зольного ящика, он стал больше, его удобно вынимать и чистить;
                    </li>
                    <li class="product__characteristics-item">
                        Изменение другие узлов также позволило облегчить работы по чистке котла;
                    </li>
                    <li class="product__characteristics-item">
                        Дизайн колосниковых решеток был изменен с подвижных элементов на статические (легкое удаление и замена).
                    </li>
                </ul>
            </div>

            <div class="product__table-container">

                <style id="Характеристики (полная таблица)_12240_Styles">
                    table {
                        mso-displayed-decimal-separator: "\,";
                        mso-displayed-thousand-separator: " ";
                    }

                    .font512240 {
                        color: #000;
                        font-size: 9.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Tahoma;
                        mso-generic-font-family: auto;
                        mso-font-charset: 1;
                    }

                    .font612240 {
                        color: #000;
                        font-size: 9.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Tahoma;
                        mso-generic-font-family: auto;
                        mso-font-charset: 1;
                    }

                    .font712240 {
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                    }

                    .xl1512240 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 11.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: general;
                        vertical-align: bottom;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6312240 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6412240 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: left;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: normal;
                    }

                    .xl6512240 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 0;
                        mso-number-format: General;
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }

                    .xl6612240 {
                        padding: 1px;
                        mso-ignore: padding;
                        color: #000;
                        font-size: 12.0pt;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                        font-family: Calibri, sans-serif;
                        mso-font-charset: 204;
                        mso-number-format: "\#\,\#\#0";
                        text-align: center;
                        vertical-align: middle;
                        border: .5pt solid #000;
                        mso-background-source: auto;
                        mso-pattern: auto;
                        white-space: nowrap;
                    }
                </style>
                <div id="Характеристики (полная таблица)_12240" x:publishsource="Excel" align="center">
                    <table style="border-collapse:collapse;table-layout:fixed;width:435pt" width="580" border="0" cellspacing="0" cellpadding="0">
                        <colgroup>
                            <col style="mso-width-source:userset;mso-width-alt:10971;width:225pt" width="300">
                                <col style="mso-width-source:userset;mso-width-alt:5120;width:105pt" width="140" span="2">
                        </colgroup>
                        <tbody>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6312240" style="height:22.5pt;width:225pt" height="30" width="300">Характеристики\Наименование</td>
                                <td class="xl6312240" style="border-left:none;width:105pt" width="140">Logano S131-15 H</td>
                                <td class="xl6312240" style="border-left:none;width:105pt" width="140">Logano S131-22 H</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Мощность, кВт</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">15</td>
                                <td class="xl6512240" style="border-top:none;border-left:none">22</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Отапливаемая площадь, м²</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">150</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">220</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Объем топки, л</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">38</td>
                                <td class="xl6512240" style="border-top:none;border-left:none">60</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Рабочая температура теплоносителя, ˚С</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">90</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">90</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Рабочее давление, Бар</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">2</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">2</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Диаметр дымохода, мм</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">150</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">150</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Вид топлива</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">дрова, уголь</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">дрова, уголь</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Высота, мм</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">997</td>
                                <td class="xl6512240" style="border-top:none;border-left:none">966</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Ширина, мм</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">543</td>
                                <td class="xl6512240" style="border-top:none;border-left:none">536</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Глубина, мм</td>
                                <td class="xl6312240" style="border-top:none;border-left:none;width:105pt" width="140">838</td>
                                <td class="xl6512240" style="border-top:none;border-left:none">838</td>
                            </tr>
                            <tr style="mso-height-source:userset;height:22.5pt" height="30">
                                <td class="xl6412240" style="height:22.5pt;border-top:none;width:225pt" height="30" width="300">Цена, руб</td>
                                <td class="xl6612240" style="border-top:none;border-left:none">48 190</td>
                                <td class="xl6612240" style="border-top:none;border-left:none">62 820</td>
                            </tr>
                            <tr style="display:none" height="0">
                                <td style="width:225pt" width="300"></td>
                                <td style="width:105pt" width="140"></td>
                                <td style="width:105pt" width="140"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</section>
